Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

lefthook.yml:

pre-commit:
  commands:
    prettier:
      tags: frontend style
      glob: "**/*.{ts,html}"
      run: npx prettier --write {staged_files}
    prettier-java:
      tags: backend style
      glob: "**/*.java"
      run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}
    eslint:
      tags: frontend rules
      glob: "**/*.ts"
      run: npx eslint --fix {staged_files}

CSCEXAM-1276 Add review progress (#1075)
  ui/src/app/question/question.service.ts
  ui/src/app/review/assessment/sections/section.component.html
  ui/src/app/review/assessment/sections/section.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1303 Fix loading problem with SEB and MacOS Monterey
  app/controllers/StudentActionsController.java
  ui/src/app/app.routes.ts
  ui/src/app/examination/examination-status.service.ts
  ui/src/app/examination/examination.component.html
  ui/src/app/examination/question/examination-essay-question.component.html
  ui/src/app/examination/question/examination-essay-question.component.ts
  ui/src/app/examination/question/examination-question.component.html
  ui/src/app/interceptors/examination-interceptor.ts
  ui/src/app/shared/ckeditor/ckeditor.component.ts
Due: prettier, prettier-java, eslint

Fix question usage warning
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/app/question/examquestion/exam-question.component.html
Due: prettier

Fix exception time mass-reservation module
  ui/src/app/facility/rooms/room-mass-edit.component.ts
  ui/src/app/facility/schedule/exceptions.component.ts
  ui/src/app/reservation/reservation.model.ts
Due: prettier, eslint

CSCEXAM-1294 Fix active enrolment menu condition - fix unsubscribing from examination clock - allow negative numbers for waiting-room delay clock
  ui/src/app/enrolment/active/helpers/active-enrolment-menu.component.html
  ui/src/app/enrolment/waiting-room/waiting-room.component.ts
  ui/src/app/examination/clock/examination-clock.component.ts
Due: prettier, eslint

Fix availability component
  ui/src/app/facility/rooms/availability.component.html
  ui/src/app/facility/rooms/room.component.html
Due: prettier

CSCEXAM-1215 Fix question usage warning (#1076)
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/app/question/examquestion/exam-question.component.html
Due: prettier

CSCEXAM-1310 Fix exception time mass-reservation module (#1077)
  ui/src/app/facility/rooms/room-mass-edit.component.ts
  ui/src/app/facility/schedule/exceptions.component.ts
  ui/src/app/reservation/reservation.model.ts
Due: prettier, eslint

CSCEXAM-1308 Fix cloze test styling - revert ckeditor component fix - cleanup
  ui/src/app/facility/rooms/rooms.component.html
  ui/src/app/review/assessment/assessment.shared.scss
  ui/src/app/review/assessment/feedback/feedback.component.ts
  ui/src/app/review/assessment/questions/claim-choice-answer.component.ts
  ui/src/app/review/assessment/questions/cloze-test.component.scss
  ui/src/app/review/assessment/questions/cloze-test.component.ts
  ui/src/app/review/assessment/questions/multi-choice-answer.component.ts
  ui/src/app/review/assessment/questions/weighted-multi-choice-answer.component.ts
  ui/src/app/shared/ckeditor/ckeditor.component.ts
  ui/src/styles.scss
Due: prettier, eslint

CSCEXAM-1312 Fix availability component (#1078)
  ui/src/app/facility/rooms/availability.component.html
  ui/src/app/facility/rooms/room.component.html
Due: prettier

CSCEXAM-1308 Fix cloze test styling (#1079)
  ui/src/app/facility/rooms/rooms.component.html
  ui/src/app/review/assessment/assessment.shared.scss
  ui/src/app/review/assessment/feedback/feedback.component.ts
  ui/src/app/review/assessment/questions/claim-choice-answer.component.ts
  ui/src/app/review/assessment/questions/cloze-test.component.scss
  ui/src/app/review/assessment/questions/cloze-test.component.ts
  ui/src/app/review/assessment/questions/multi-choice-answer.component.ts
  ui/src/app/review/assessment/questions/weighted-multi-choice-answer.component.ts
  ui/src/app/shared/ckeditor/ckeditor.component.ts
  ui/src/styles.scss
Due: prettier, eslint

Add translation to forgotten translation key
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: none

CSCEXAM-1303 Fix search criteria for enrolments to home examination
  app/repository/EnrolmentRepository.java
Due: prettier-java

CSCEXAM-1291 Remove error dialog in maintenance period creation
  ui/src/app/facility/facility.component.ts
Due: prettier, eslint

CSCEXAM-1310 Fix exception time mass-reservation module (#1077)
  ui/src/app/enrolment/active/dialogs/add-enrolment-information-dialog.component.ts
  ui/src/app/exam/editor/basic/basic-exam-info.component.html
  ui/src/app/exam/editor/creation/course-selection.component.html
  ui/src/app/exam/editor/events/examination-event-dialog.component.html
  ui/src/app/exam/editor/publication/publication-revocation-dialog.component.ts
  ui/src/app/facility/machines/machine.component.html
  ui/src/app/facility/rooms/room-mass-edit.component.ts
  ui/src/app/facility/schedule/exception-delete-dialog.component.ts
  ui/src/app/facility/schedule/exception-dialog.component.html
  ui/src/app/facility/schedule/exceptions.component.ts
  ui/src/app/facility/schedule/maintenance-period-dialog.component.ts
  ui/src/app/facility/schedule/starting-time.component.ts
  ui/src/app/reservation/admin/change-machine-dialog.component.ts
  ui/src/app/reservation/reservation.model.ts
  ui/src/app/review/assessment/feedback/feedback.component.ts
  ui/src/app/review/assessment/maturity/dialogs/inspection-comment-dialog.component.ts
  ui/src/app/review/listing/dialogs/feedback.component.ts
  ui/src/app/review/listing/speed-review.component.html
  ui/src/app/session/eula/eula-dialog.component.ts
  ui/src/app/shared/attachment/dialogs/attachment-picker.component.ts
  ui/src/app/shared/dialogs/confirmation-dialog.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

Fix inconsistent cancel and ok buttons
  ui/src/app/exam/editor/events/examination-event-dialog.component.html
  ui/src/app/exam/editor/publication/custom-duration-picker-dialog.component.ts
  ui/src/app/exam/editor/publication/publication-dialog.component.ts
  ui/src/app/exam/editor/publication/publication-revocation-dialog.component.ts
  ui/src/app/facility/schedule/starting-time.component.ts
  ui/src/app/question/examquestion/exam-question.component.html
  ui/src/app/question/picker/question-picker.component.ts
  ui/src/app/reservation/admin/remove-reservation-dialog.component.ts
  ui/src/app/review/assessment/maturity/dialogs/inspection-comment-dialog.component.ts
  ui/src/app/review/listing/dialogs/aborted.component.html
  ui/src/app/review/listing/dialogs/archive-download.component.ts
  ui/src/app/session/eula/eula-dialog.component.ts
Due: prettier, eslint

CSCEXAM-1175 Add translation to forgotten translation key
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: none

Fix skip to content link styles
  ui/src/app/navigation/navigation.component.html
  ui/src/app/navigation/navigation.component.scss
  ui/src/styles.scss
Due: prettier

CSCEXAM-1130 English language package for EXAM 6.3
  ui/src/assets/i18n/en.json
Due: none

CSCEXAM-1130 English language package for EXAM 6.3
  conf/messages.en
Due: none

CSCEXAM-1130 Swedish language package for EXAM 6.3
  ui/src/assets/i18n/sv.json
Due: none

Update messages.sv
  conf/messages.sv
Due: none

CSCEXAM-1130 English language package for EXAM 6.3 (#1086)
  ui/src/assets/i18n/en.json
Due: none

CSCEXAM-1130 English language package for EXAM 6.3 (#1087)
  conf/messages.en
Due: none

CSCEXAM-1130 Swedish language package for EXAM 6.3 (#1088)
  ui/src/assets/i18n/sv.json
Due: none

Update messages.sv (#1089)
  conf/messages.sv
Due: none

CSCEXAM-1301 Show question answers also for archived assessments - make java formatting applicable for tests also - fix weird rounding bug in calendar controller tests
  package.json
  test/controllers/CalendarControllerTest.java
  test/controllers/EnrolmentControllerTest.java
  test/controllers/EnrolmentInterfaceTest.java
  test/controllers/ExamControllerTest.java
  test/controllers/ExaminationControllerTest.java
  test/controllers/QuestionControllerTest.java
  test/controllers/StudentActionControllerTest.java
  test/controllers/integration/ExamAPIControllerTest.java
  test/controllers/integration/ExternalCourseHandlerTest.java
  test/controllers/iop/BaseCollaborativeAttachmentControllerTest.java
  test/controllers/iop/DataTransferControllerTest.java
  test/controllers/iop/ExternalCalendarInterfaceTest.java
  test/controllers/iop/ExternalExamControllerTest.java
  test/controllers/iop/ExternalExaminationControllerTest.java
  test/functional/ByodConfigHandlerTest.java
  test/functional/MoodleImporterTest.java
  test/helpers/AttachmentServlet.java
  test/helpers/RemoteServerHelper.java
  ui/src/app/enrolment/finished/exam-feedback.component.html
Due: prettier, prettier-java

CSCEXAM-523 Fix inconsistent cancel and ok buttons (#1083)
  ui/src/app/enrolment/active/dialogs/add-enrolment-information-dialog.component.ts
  ui/src/app/enrolment/search/exam-search.component.ts
  ui/src/app/exam/editor/basic/basic-exam-info.component.html
  ui/src/app/exam/editor/creation/course-selection.component.html
  ui/src/app/exam/editor/events/examination-event-dialog.component.html
  ui/src/app/exam/editor/publication/custom-duration-picker-dialog.component.ts
  ui/src/app/exam/editor/publication/publication-dialog.component.ts
  ui/src/app/exam/editor/publication/publication-revocation-dialog.component.ts
  ui/src/app/facility/machines/machine.component.html
  ui/src/app/facility/schedule/exception-delete-dialog.component.ts
  ui/src/app/facility/schedule/exception-dialog.component.html
  ui/src/app/facility/schedule/maintenance-period-dialog.component.ts
  ui/src/app/facility/schedule/starting-time.component.ts
  ui/src/app/question/examquestion/exam-question.component.html
  ui/src/app/question/picker/question-picker.component.ts
  ui/src/app/reservation/admin/change-machine-dialog.component.ts
  ui/src/app/reservation/admin/remove-reservation-dialog.component.ts
  ui/src/app/review/assessment/feedback/feedback.component.ts
  ui/src/app/review/assessment/maturity/dialogs/inspection-comment-dialog.component.ts
  ui/src/app/review/listing/dialogs/aborted.component.html
  ui/src/app/review/listing/dialogs/archive-download.component.ts
  ui/src/app/review/listing/dialogs/feedback.component.ts
  ui/src/app/review/listing/speed-review.component.html
  ui/src/app/session/eula/eula-dialog.component.ts
  ui/src/app/shared/attachment/dialogs/attachment-picker.component.ts
  ui/src/app/shared/dialogs/confirmation-dialog.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-000 Revert some workflow versioning changes
  .github/workflows/scala.yml
Due: none

Fix screen reader stopping at enrolment instructions
  ui/src/app/enrolment/active/active-enrolment.component.html
Due: prettier
