Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

lefthook.yml:

# SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium
#
# SPDX-License-Identifier: EUPL-1.2

pre-commit:
  commands:
    prettier:
      tags: frontend style
      glob: "**/*.{ts,html}"
      run: npx prettier --write {staged_files}
    prettier-java:
      tags: backend style
      glob: "**/*.java"
      run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}
    eslint:
      tags: frontend rules
      glob: "**/*.ts"
      run: npx eslint --fix {staged_files}

CSCEXAM-1267 Assessment info also for maturity exams - Support for multiple permissions in session & auth
  app/controllers/user/SessionController.java
  app/security/AuthorizationHandler.java
  app/security/scala/Auth.scala
  ui/src/app/review/assessment/grading/grading.component.html
  ui/src/app/review/assessment/maturity/grading.component.html
  ui/src/app/review/assessment/maturity/grading.component.ts
Due: prettier, prettier-java, eslint

Refactor active enrolment menu
  ui/src/app/enrolment/active/active-enrolment.component.html
  ui/src/app/enrolment/active/helpers/active-enrolment-menu.component.html
Due: prettier

CSCEXAM-1432 Excel report for archived exams - Support for multiple permissions in session & auth
  app/controllers/user/SessionController.java
  app/security/AuthorizationHandler.java
  app/security/scala/Auth.scala
  ui/src/app/review/assessment/grading/grading.component.html
  ui/src/app/review/assessment/maturity/grading.component.html
  ui/src/app/review/assessment/maturity/grading.component.ts
  ui/src/app/review/listing/categories/archived.component.html
  ui/src/app/review/listing/categories/archived.component.ts
  ui/src/app/review/listing/review-list.component.html
Due: prettier, prettier-java, eslint

Renamed the reservation canceled message
  ui/src/app/enrolment/active/active-enrolment.component.html
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier

Add confirmation dialog for deleting exam reservation
  ui/src/app/enrolment/enrolment.service.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1432 Excel report for archived exams - Support for multiple permissions in session & auth
  ui/src/app/review/listing/categories/archived.component.html
  ui/src/app/review/listing/categories/archived.component.ts
  ui/src/app/review/listing/review-list.component.html
Due: prettier, eslint

CSCEXAM-1402 Possibility to use POINT_GRADED option for reviews - data model changes (UI)
  ui/src/app/enrolment/finished/exam-feedback.component.html
  ui/src/app/exam/exam.model.ts
  ui/src/app/review/assessment/assessment.service.ts
  ui/src/app/review/assessment/collaborative-assessment.service.ts
  ui/src/app/review/assessment/common/grading-base.component.ts
  ui/src/app/review/assessment/maturity/maturity.service.ts
  ui/src/app/review/listing/review-list.service.ts
  ui/src/app/review/listing/speed-review.component.ts
Due: prettier, eslint

CSCEXAM-1402 Add a GRADED_WITH_POINTS option for reviews - data model change server side
  app/controllers/assessment/ExamAnswerController.java
  app/controllers/assessment/ExamRecordController.java
  app/controllers/assessment/ReviewController.java
  app/controllers/enrolment/StudentActionsController.java
  app/controllers/iop/collaboration/impl/CollaborativeReviewController.java
  app/models/exam/Exam.java
  app/models/exam/Grade.java
  conf/evolutions/default/137.sql
Due: prettier-java

CSCEXAM-1402 Reviewing with point based grading
  app/controllers/assessment/ReviewController.java
  app/controllers/exam/ExamController.java
  app/security/AuthorizationHandler.java
  ui/src/app/exam/editor/basic/exam-owner-picker.component.html
  ui/src/app/exam/exam.model.ts
  ui/src/app/review/assessment/assessment.service.ts
  ui/src/app/review/assessment/common/grading-base.component.ts
  ui/src/app/review/assessment/grading/grading.component.html
  ui/src/app/review/listing/categories/archived.component.ts
  ui/src/app/review/listing/categories/graded-logged.component.ts
  ui/src/app/review/listing/categories/graded.component.ts
  ui/src/app/review/listing/categories/in-language-inspection.component.ts
  ui/src/app/review/listing/categories/rejected.component.ts
  ui/src/app/review/listing/review-list.service.ts
  ui/src/app/review/listing/speed-review.component.ts
  ui/src/app/shared/miscellaneous/common-exam.service.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, prettier-java, eslint

CSCEXAM-1402 Finalized recording and student view. - Feature done now
  app/controllers/assessment/ExamRecordController.java
  app/controllers/integration/ExamRecordAPIController.java
  app/models/assessment/ExamRecord.java
  conf/evolutions/default/138.sql
  ui/src/app/enrolment/finished/exam-participation.component.ts
  ui/src/app/review/assessment/common/grading-base.component.ts
  ui/src/app/review/assessment/grading/grading.component.html
  ui/src/app/review/assessment/grading/grading.component.ts
  ui/src/app/review/assessment/maturity/grading.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, prettier-java, eslint

CSCEXAM-1402 Finalized recording and student view. - Feature done now
  app/controllers/assessment/ExamAnswerController.java
  app/controllers/assessment/ExamRecordController.java
  app/controllers/integration/ExamRecordAPIController.java
  app/controllers/iop/collaboration/impl/CollaborativeExamController.java
  app/controllers/iop/collaboration/impl/CollaborativeReviewController.java
  app/models/assessment/ExamRecord.java
  conf/evolutions/default/138.sql
  ui/src/app/enrolment/finished/exam-participation.component.ts
  ui/src/app/exam/collaborative/collaborative-exam-listing.component.ts
  ui/src/app/review/assessment/common/grading-base.component.ts
  ui/src/app/review/assessment/grading/grading.component.html
  ui/src/app/review/assessment/grading/grading.component.ts
  ui/src/app/review/assessment/maturity/grading.component.ts
  ui/src/app/session/session.model.ts
  ui/src/app/session/session.service.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, prettier-java, eslint

CSCEXAM-1437 Prevent form autosubmit when enter key pressed by user
  ui/src/app/exam/editor/creation/course-selection.component.html
Due: prettier

CSCEXAM-1430 Fix binding issues with claim choice options
  ui/src/app/exam/editor/sections/section-question.component.ts
  ui/src/app/question/basequestion/claim-choice.component.ts
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/app/question/examquestion/claim-choice.component.ts
  ui/src/app/question/examquestion/exam-question-dialog.component.ts
Due: prettier, eslint

CSCEXAM-000 Add gatling scripts to exam repo
  scripts/gatling/README.MD
  scripts/gatling/build.sbt
  scripts/gatling/project/build.properties
  scripts/gatling/project/plugins.sbt
  scripts/gatling/scripts/add_exam_machines.sql
  scripts/gatling/scripts/add_users.sql
  scripts/gatling/scripts/remove_test_data.sql
  scripts/gatling/src/test/resources/application.conf
  scripts/gatling/src/test/resources/logback.xml
  scripts/gatling/src/test/scala/Examination.scala
  scripts/gatling/src/test/scala/Reservation.scala
Due: none

CSCEXAM-1430 Fix binding issues with claim choice options
  ui/src/app/calendar/calendar.service.ts
  ui/src/app/exam/editor/sections/section-question.component.ts
  ui/src/app/question/basequestion/claim-choice.component.ts
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/app/question/examquestion/claim-choice.component.ts
  ui/src/app/question/examquestion/exam-question-dialog.component.ts
Due: prettier, eslint

CSCEXAM-000 Bump version§
  build.sbt
  conf/application.conf
  package-lock.json
  package.json
Due: none

CSCEXAM-000 Fix copyright headers for gatling scripts
  scripts/gatling/README.MD
  scripts/gatling/build.sbt
  scripts/gatling/project/build.properties
  scripts/gatling/project/plugins.sbt
  scripts/gatling/scripts/add_exam_machines.sql
  scripts/gatling/scripts/add_users.sql
  scripts/gatling/scripts/remove_test_data.sql
  scripts/gatling/src/test/resources/application.conf
  scripts/gatling/src/test/resources/logback.xml
  scripts/gatling/src/test/scala/Examination.scala
  scripts/gatling/src/test/scala/Reservation.scala
Due: none

Update i18n_reservation translation
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: none

Fix enrolment title accessibility
  ui/src/app/enrolment/active/active-enrolment.component.html
  ui/src/app/enrolment/active/active-enrolment.component.scss
  ui/src/assets/images/arrow_right.svg
Due: prettier

CSCEXAM-1049 Negative score for weighted multichoice questions
  app/controllers/exam/ExamSectionController.java
  app/controllers/question/QuestionController.java
  app/models/exam/Exam.java
  app/models/questions/MultipleChoiceOption.java
  app/models/questions/Question.java
  app/models/sections/ExamSectionQuestion.java
  app/models/sections/ExamSectionQuestionOption.java
  conf/evolutions/default/139.sql
  test/controllers/QuestionControllerTest.java
  test/resources/initial-data.yml
  ui/src/app/calendar/calendar.service.ts
  ui/src/app/exam/editor/sections/section-question.component.html
  ui/src/app/exam/editor/sections/section-question.component.ts
  ui/src/app/examination/question/examination-essay-question.component.html
  ui/src/app/examination/question/examination-multi-choice-question.component.ts
  ui/src/app/examination/question/examination-weighted-multi-choice-question.component.ts
  ui/src/app/question/basequestion/claim-choice.component.ts
  ui/src/app/question/basequestion/multiple-choice.component.ts
  ui/src/app/question/examquestion/exam-question.component.html
  ui/src/app/question/examquestion/exam-question.component.ts
  ui/src/app/question/examquestion/weighted-multichoice.component.ts
  ui/src/app/question/question-scoring.service.ts
  ui/src/app/question/question.model.ts
  ui/src/app/question/question.service.ts
  ui/src/app/review/assessment/print/printed-multi-choice.component.ts
  ui/src/app/review/assessment/questions/cloze-test.component.html
  ui/src/app/review/assessment/questions/multi-choice-question.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, prettier-java, eslint

CSCEXAM-994 Refactor active enrolment menu
  ui/src/app/enrolment/active/active-enrolment.component.html
  ui/src/app/enrolment/active/active-enrolment.component.scss
  ui/src/app/enrolment/active/helpers/active-enrolment-menu.component.html
  ui/src/app/enrolment/enrolment.service.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
  ui/src/assets/images/arrow_right.svg
Due: prettier, eslint

CSCEXAM-1049 Negative score for weighted multichoice questions
  app/controllers/exam/ExamSectionController.java
  app/controllers/question/QuestionController.java
  app/models/exam/Exam.java
  app/models/questions/MultipleChoiceOption.java
  app/models/questions/Question.java
  app/models/sections/ExamSectionQuestion.java
  app/models/sections/ExamSectionQuestionOption.java
  conf/evolutions/default/139.sql
  test/controllers/QuestionControllerTest.java
  test/resources/initial-data.yml
  ui/src/app/calendar/calendar.service.ts
  ui/src/app/exam/editor/sections/section-question.component.html
  ui/src/app/exam/editor/sections/section-question.component.ts
  ui/src/app/exam/exam.service.ts
  ui/src/app/examination/question/examination-essay-question.component.html
  ui/src/app/examination/question/examination-multi-choice-question.component.ts
  ui/src/app/examination/question/examination-weighted-multi-choice-question.component.ts
  ui/src/app/question/basequestion/claim-choice.component.ts
  ui/src/app/question/basequestion/multiple-choice.component.ts
  ui/src/app/question/examquestion/exam-question.component.html
  ui/src/app/question/examquestion/exam-question.component.ts
  ui/src/app/question/examquestion/weighted-multichoice.component.ts
  ui/src/app/question/question-scoring.service.ts
  ui/src/app/question/question.model.ts
  ui/src/app/question/question.service.ts
  ui/src/app/review/assessment/print/printed-multi-choice.component.ts
  ui/src/app/review/assessment/questions/cloze-test.component.html
  ui/src/app/review/assessment/questions/multi-choice-question.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, prettier-java, eslint

Update i18n_exam_endtime language key
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: none

Add new language key i18n_assessment_date
  ui/src/app/enrolment/finished/exam-feedback.component.html
  ui/src/app/review/assessment/grading/grading.component.html
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier

Refactor question score report link
  ui/src/app/enrolment/finished/exam-feedback.component.html
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier

Update exam participations ordering dropdown formatting
  ui/src/app/enrolment/finished/exam-participations.component.html
  ui/src/app/enrolment/finished/exam-participations.component.scss
Due: prettier
