Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

prettier:
  tags: frontend style
  run: npx prettier --write {staged_files}

prettier-java:
  tags: backend style
  run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}

eslint:
  tags: frontend rules
  run: npx eslint --fix {staged_files}

CSCEXAM-1403 More fixes for support role permissions
  app/controllers/assessment/ExamInspectionController.java
  app/controllers/exam/ExamController.java
  app/controllers/exam/ExamOwnerController.java
  app/controllers/facility/MaintenancePeriodController.scala
  app/controllers/user/UserController.java
  app/models/user/User.java
  package-lock.json
  ui/src/app/exam/editor/basic/exam-inspector-picker.component.html
  ui/src/app/exam/editor/basic/exam-owner-picker.component.html
  ui/src/app/exam/editor/basic/exam-owner-picker.component.ts
Due: prettier, prettier-java, eslint

CSCEXAM-1490 Fix extra brace in email link
  app/impl/mail/EmailComposerImpl.scala
Due: none

CSCEXAM-1482 Fix presentation of question owners in search
  ui/src/app/question/library/owners/library-owners-dialog.component.ts
Due: prettier, eslint

CSCEXAM-000 Update package lock
  package-lock.json
Due: none

CSCEXAM-1402 Improve admin review listing UI
  ui/src/app/reservation/reservation-details.component.html
  ui/src/app/reservation/reservation-details.component.ts
Due: prettier, eslint

CSCEXAM-1484 Fix bug with adding exception opening hours
  app/controllers/facility/RoomController.java
  ui/src/app/exam/editor/basic/exam-inspector-picker.component.ts
  ui/src/app/facility/schedule/exceptions.component.ts
  ui/src/app/reservation/reservation-details.component.html
  ui/src/app/reservation/reservations.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, prettier-java, eslint

CSCEXAM-1402 Fix poing grading in review list view
  ui/src/app/review/listing/review-list.service.ts
Due: prettier, eslint

CSCEXAM-1479 Fix editing of weighted multichoice options
  ui/src/app/question/examquestion/weighted-multichoice.component.ts
Due: prettier, eslint

CSCEXAM-1478 Fix some issues with shuffling options while copying
  app/controllers/admin/ReportController.java
  app/controllers/assessment/ExamRecordController.java
  app/controllers/assessment/LanguageInspectionController.java
  app/controllers/assessment/QuestionReviewController.java
  app/controllers/assessment/ReviewController.java
  app/controllers/enrolment/EnrolmentController.java
  app/controllers/enrolment/StudentActionsController.java
  app/controllers/exam/ExamController.java
  app/controllers/exam/ExamSectionController.java
  app/controllers/exam/copy/ExamCopyContext.java
  app/controllers/examination/ExaminationController.java
  app/controllers/facility/ExamMachineController.java
  app/controllers/integration/ExamAPIController.java
  app/controllers/integration/ReportAPIController.java
  app/controllers/integration/ReservationAPIController.java
  app/controllers/iop/collaboration/impl/CollaborationController.java
  app/controllers/iop/collaboration/impl/CollaborativeAttachmentController.java
  app/controllers/iop/collaboration/impl/CollaborativeCalendarController.java
  app/controllers/iop/collaboration/impl/CollaborativeEnrolmentController.java
  app/controllers/iop/collaboration/impl/CollaborativeExamController.java
  app/controllers/iop/collaboration/impl/CollaborativeExamSectionController.java
  app/controllers/iop/collaboration/impl/CollaborativeExternalCalendarController.java
  app/controllers/iop/collaboration/impl/CollaborativeReviewController.java
  app/controllers/iop/transfer/impl/DataTransferController.java
  app/controllers/iop/transfer/impl/ExternalCalendarController.java
  app/controllers/iop/transfer/impl/ExternalExamController.java
  app/controllers/iop/transfer/impl/ExternalExaminationController.java
  app/controllers/iop/transfer/impl/FacilityController.java
  app/controllers/question/ExamMaterialController.java
  app/controllers/question/QuestionController.java
  app/models/exam/Exam.java
  app/models/sections/ExamSection.java
  app/models/sections/ExamSectionQuestion.java
  app/repository/ExaminationRepository.java
  app/security/AuthenticatedAction.java
  test/base/IntegrationTestCase.java
  test/controllers/CalendarControllerTest.java
  test/controllers/ExaminationControllerTest.java
  test/controllers/SessionControllerTest.java
  test/controllers/iop/ExternalCalendarInterfaceTest.java
Due: prettier-java

CSCEXAM-1481 Remove search field from reservation status dropdown
  ui/src/app/reservation/reservations.component.html
Due: prettier

CSCEXAM-1479 More fixes for editing question options
  ui/src/app/question/examquestion/claim-choice.component.ts
  ui/src/app/question/examquestion/exam-question.component.html
  ui/src/app/question/examquestion/exam-question.component.ts
  ui/src/app/question/examquestion/multichoice.component.ts
  ui/src/app/question/examquestion/weighted-multichoice.component.ts
Due: prettier, eslint

CSCEXAM-1493 Disallow changing evaluation type if lotter on
  app/models/sections/ExamSectionQuestion.java
  ui/src/app/exam/editor/sections/section.component.html
  ui/src/app/question/examquestion/essay.component.ts
  ui/src/app/question/examquestion/exam-question.component.html
  ui/src/app/question/picker/question-picker.component.ts
Due: prettier, prettier-java, eslint

CSCEXAM-000 Sanitizing enhancements
  app/controllers/exam/ExamController.java
  app/controllers/iop/collaboration/impl/CollaborativeExamController.java
  app/impl/ExamUpdater.java
  app/impl/ExamUpdaterImpl.java
  app/sanitizers/Attrs.java
  app/sanitizers/BaseSanitizer.java
  app/sanitizers/ExamDraftSanitizer.java
  app/sanitizers/ExamUpdateSanitizer.java
  app/sanitizers/SanitizingException.java
  app/sanitizers/SanitizingHelper.java
  app/sanitizers/validation/ExamValidator.java
  app/sanitizers/validation/FieldError.java
  app/sanitizers/validation/README.md
  app/sanitizers/validation/ValidationException.java
  app/sanitizers/validation/ValidationResult.java
  app/sanitizers/validation/ValidationRule.java
  ui/src/app/exam/exam.service.ts
  ui/src/app/interceptors/error-interceptor.ts
Due: prettier, prettier-java, eslint

CSCEXAM-1049 Fix wrong labeling with negative question points box
  ui/src/app/question/basequestion/multiple-choice.component.html
Due: prettier

CSCEXAM-1406 Fix layout issue on small screens
  ui/src/app/administrative/settings/settings.component.html
Due: prettier

CSCEXAM-1494 Allow adding examination events on end day of period
  ui/src/app/exam/editor/publication/examination-events.component.ts
Due: prettier, eslint

CSCEXAM-1497 introduce a modal service for proper cancel handling
  ui/src/app/dashboard/staff/teacher/categories/exam-list-category.component.ts
  ui/src/app/exam/editor/common/examination-type-picker.component.ts
  ui/src/app/exam/listing/exam-list.component.ts
  ui/src/app/shared/dialogs/modal.service.ts
Due: prettier, eslint

Make feedback component closed when examination type is not maturity
  ui/src/app/review/assessment/feedback/feedback-template.html
  ui/src/app/review/assessment/feedback/feedback.component.ts
  ui/src/app/review/assessment/feedback/statement.component.ts
  ui/src/app/shared/attachment/attachment.service.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-000 Upgrade sbt and scala - Also run npm ci instead npm install in CI
  .github/workflows/build.yml
  app/controllers/admin/ReportController.java
  app/controllers/assessment/ExamRecordController.java
  app/controllers/assessment/LanguageInspectionController.java
  app/controllers/assessment/QuestionReviewController.java
  app/controllers/assessment/ReviewController.java
  app/controllers/attachment/AttachmentController.java
  app/controllers/base/BaseController.java
  app/controllers/base/SectionQuestionHandler.java
  app/controllers/calendar/CalendarController.java
  app/controllers/enrolment/EnrolmentController.java
  app/impl/ExternalCourseHandlerImpl.scala
  app/impl/mail/EmailComposerImpl.scala
  app/security/scala/Auth.scala
  app/system/SystemFilter.scala
  app/validators/ExternalCourseValidator.scala
  build.sbt
  project/build.properties
Due: prettier-java

CSCEXAM-000 Use JDK 25 in CI
  .github/workflows/build.yml
Due: none

Fix disappearing enrolment view
  ui/src/app/dashboard/student/student-dashboard.component.ts
Due: prettier, eslint

Fix decimal in number fields for HTML5
  ui/src/app/question/basequestion/claim-choice.component.html
  ui/src/app/question/basequestion/weighted-multiple-choice-option.component.ts
  ui/src/app/question/examquestion/claim-choice.component.html
  ui/src/app/question/examquestion/exam-question.component.html
  ui/src/app/question/examquestion/weighted-multichoice.component.ts
Due: prettier, eslint

CSCEXAM-1351 BYOD exams teacher shows wrongly in reservations view
  app/controllers/enrolment/ReservationController.java
  conf/routes
  ui/src/app/reservation/reservation.service.ts
  ui/src/app/shared/user/teacher-list.component.ts
Due: prettier, prettier-java, eslint

Path conditions:
  prettier: any of: **/*.{ts,html}
  prettier-java: any of: **/*.java
  eslint: any of: **/*.ts
