Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

lefthook.yml:

pre-commit:
  commands:
    prettier:
      tags: frontend style
      glob: "**/*.{ts,html}"
      run: npx prettier --write {staged_files}
    prettier-java:
      tags: backend style
      glob: "**/*.java"
      run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}
    eslint:
      tags: frontend rules
      glob: "**/*.ts"
      run: npx eslint --fix {staged_files}

CSCEXAM-1174 Fix Schematic header tag (#1154)
  ui/src/app/enrolment/exams/exam-enrolment-details.component.html
  ui/src/app/enrolment/exams/exam-enrolments.component.ts
Due: prettier, eslint

Fix history button inconsistensy and translation
  ui/src/app/exam/editor/exam-tabs.component.html
  ui/src/app/exam/editor/exam-tabs.component.ts
  ui/src/app/question/basequestion/question.component.html
  ui/src/app/question/basequestion/question.component.ts
  ui/src/app/shared/history/history-back.component.ts
Due: prettier, eslint

Refactor arialabel parsing
  ui/src/app/examination/question/examination-question.component.html
  ui/src/app/examination/question/examination-question.component.ts
Due: prettier, eslint

Add clarification to examination time selection view
  ui/src/app/calendar/helpers/selected-room.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1300 Fix resolution between collab exams and none one
  app/controllers/ReviewController.java
  conf/routes
  ui/src/app/review/listing/review-list.component.ts
Due: prettier, prettier-java, eslint

Fix maturity instructions
  ui/src/app/examination/navigation/examination-toolbar.component.html
Due: prettier

CSCEXAM-1365 Fix maturity instructions (#1161)
  ui/src/app/examination/navigation/examination-toolbar.component.html
Due: prettier

CSCEXAM-1150 Add clarification to examination time selection view (#1160)
  ui/src/app/calendar/helpers/selected-room.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-000 More Scala stuff
  app/controllers/CourseController.scala
  app/controllers/EnrolmentController.java
  app/controllers/StudentActionsController.java
  app/controllers/assets/ScriptController.scala
  app/controllers/base/BaseController.java
  app/impl/AutoEvaluationHandler.java
  app/impl/AutoEvaluationHandler.scala
  app/impl/AutoEvaluationHandlerImpl.java
  app/impl/AutoEvaluationHandlerImpl.scala
  app/impl/ExternalCourseHandler.java
  app/impl/ExternalCourseHandler.scala
  app/impl/ExternalCourseHandlerImpl.java
  app/impl/ExternalCourseHandlerImpl.scala
  app/validators/ExternalCourseValidator.scala
  test/controllers/ExaminationControllerTest.java
Due: prettier-java

CSCEXAM-000 Made email sending API less clumsy
  app/controllers/CourseController.scala
  app/controllers/MaintenancePeriodController.scala
  app/controllers/ReviewDocumentsController.scala
  app/impl/EmailComposerImpl.java
  app/impl/EmailSender.java
  app/impl/ExternalCourseHandlerImpl.scala
  app/impl/NoShowHandlerImpl.java
  app/impl/mail/EmailSender.java
  app/impl/mail/EmailSenderImpl.java
  app/system/actors/ExamExpirationActor.scala
  app/system/actors/ExternalExamExpirationActor.scala
  app/util/scala/JavaApiHelper.scala
  app/validators/ExternalCourseValidator.scala
Due: prettier-java

CSCEXAM-000 Convert last actors to scala
  app/controllers/CourseController.scala
  app/controllers/MaintenancePeriodController.scala
  app/controllers/ReportController.java
  app/impl/ExternalCourseHandlerImpl.scala
  app/impl/mail/EmailSender.java
  app/system/actors/AssessmentTransferActor.java
  app/system/actors/AssessmentTransferActor.scala
  app/system/actors/AutoEvaluationNotifierActor.java
  app/system/actors/AutoEvaluationNotifierActor.scala
  app/system/actors/CollaborativeAssessmentSenderActor.java
  app/system/actors/CollaborativeAssessmentSenderActor.scala
  app/system/actors/ExamAutoSaverActor.scala
  app/system/actors/ExamExpirationActor.scala
  app/system/actors/ExternalExamExpirationActor.scala
  app/system/actors/ReservationPollerActor.scala
  app/system/actors/ReservationReminderActor.scala
  app/util/scala/JavaApiHelper.scala
Due: prettier-java

CSCEXAM-000 Fix handling of network errors with course API
  .reuse/dep5
  app/controllers/exam/CourseController.scala
  app/controllers/facility/MaintenancePeriodController.scala
  app/impl/ExternalCourseHandlerImpl.scala
  app/system/AppFilters.scala
  app/system/AuditLogFilter.scala
  app/system/AuditedAction.scala
  app/system/SystemErrorHandler.scala
  app/system/SystemRequestHandler.java
  app/system/actors/AssessmentTransferActor.scala
  app/system/actors/ExternalExamExpirationActor.scala
  conf/application.conf
  conf/dev.conf
  conf/integrationtest.conf
  conf/routes
Due: prettier-java

CSCEXAM-000 Migrate NoShowHandler to Scala
  app/controllers/base/BaseController.java
  app/impl/NoShowHandler.java
  app/impl/NoShowHandler.scala
  app/impl/NoShowHandlerImpl.java
  app/impl/NoShowHandlerImpl.scala
  app/system/actors/ReservationPollerActor.scala
Due: prettier-java

CSCEXAM-000 Add advanced CodeQL configuration
  .github/workflows/codeql.yml
  ui/src/app/examination/examination.service.ts
Due: prettier, eslint

CSCEXAM-000 Update backend dependencies
  app/controllers/assessment/ReviewDocumentsController.scala
  build.sbt
  conf/routes
  project/plugins.sbt
  test/base/IntegrationTestCase.java
  test/base/JodaPropertyConstructor.java
  test/controllers/integration/ExternalCourseHandlerTest.java
  test/controllers/iop/BaseCollaborativeAttachmentControllerTest.java
  test/controllers/iop/ExternalCalendarInterfaceTest.java
  test/controllers/iop/ExternalExamControllerTest.java
  test/helpers/RemoteServerHelper.java
Due: prettier-java

CSCEXAM-000 Experminent with Vite build engine
  angular.json
  app/system/AuditLogFilter.scala
  ui/src/proxy.conf.js
Due: none

CSCEXAM-000 Upgrade Play to 3.0.5
  build.sbt
  project/plugins.sbt
Due: none

CSCEXAM-000 Experiment with the new app builder
  angular.json
  app/controllers/assets/ScriptController.scala
  conf/application.conf
  package-lock.json
  package.json
  tsconfig.json
  ui/src/app/app.component.ts
  ui/src/app/calendar/booking-calendar.component.ts
  ui/src/app/dashboard/student/student-dashboard.component.html
  ui/src/app/dashboard/student/student-dashboard.component.ts
  ui/src/app/dashboard/student/student-dashboard.service.ts
  ui/src/app/enrolment/active/active-enrolment.component.html
  ui/src/app/enrolment/active/active-enrolment.component.ts
  ui/src/app/enrolment/active/helpers/active-enrolment-menu.component.html
  ui/src/app/enrolment/active/helpers/active-enrolment-menu.component.ts
  ui/src/app/navigation/navigation.component.scss
  ui/src/app/review/assessment/feedback/feedback.component.scss
  ui/src/app/review/assessment/print/print.shared.scss
  ui/src/app/session/dev/dev-login.component.ts
  ui/src/main.ts
  ui/src/polyfills.ts
  ui/src/styles.scss
  ui/tsconfig.json
Due: prettier, eslint

CSCEXAM-000 Split large components to smaller ones
  .reuse/dep5
  REUSE.toml
  build.sbt
  ui/src/app/enrolment/active/active-enrolment.component.html
  ui/src/app/enrolment/active/active-enrolment.component.ts
  ui/src/app/enrolment/active/helpers/optional-sections.component.ts
  ui/src/app/exam/editor/publication/exam-publication-participants.component.ts
  ui/src/app/exam/editor/publication/exam-publication.component.html
  ui/src/app/exam/editor/publication/exam-publication.component.ts
  ui/src/app/exam/editor/sections/section-question.component.html
  ui/src/app/exam/editor/sections/section-question.component.ts
  ui/src/app/exam/editor/sections/section.component.ts
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/app/question/basequestion/question-body.component.ts
  ui/src/app/question/basequestion/question.component.html
  ui/src/app/question/examquestion/base-question-editor.component.ts
  ui/src/app/question/examquestion/claim-choice.component.ts
  ui/src/app/question/examquestion/essay.component.ts
  ui/src/app/question/examquestion/exam-question.component.html
  ui/src/app/question/examquestion/exam-question.component.ts
  ui/src/app/question/examquestion/multichoice.component.ts
  ui/src/app/question/examquestion/weighted-multichoice.component.ts
  ui/src/app/question/question-basic-info.component.ts
  ui/src/app/question/question-usage.component.ts
  ui/src/app/question/question.service.ts
  ui/src/app/review/assessment/print/printed-multi-choice.component.ts
  ui/src/app/review/assessment/questions/multi-choice-question.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
  ui/src/styles.scss
Due: prettier, eslint

CSCEXAM-000 Fix REUSE validation
  .github/workflows/build.yml
  .github/workflows/scala.yml
  ui/src/app/facility/schedule/exception-repetition-options.component.ts
  ui/src/app/shared/date/date-time-picker.component.ts
Due: prettier, eslint

CSCEXAM-000 Refactor exception event dialog to smaller pieces
  ui/src/app/facility/schedule/exception-dialog.component.html
  ui/src/app/facility/schedule/exception-dialog.component.ts
  ui/src/app/facility/schedule/exception-repetition-options.component.html
  ui/src/app/facility/schedule/exception-repetition-options.component.ts
  ui/src/app/question/examquestion/exam-question.component.ts
Due: prettier, eslint

Fix linting errors
  ui/src/app/administrative/reports/categories/records-report.component.ts
  ui/src/app/calendar/calendar-title-resolver.service.ts
  ui/src/app/enrolment/exams/exam-enrolment-title-resolver.service.ts
  ui/src/app/examination/examination.component.ts
  ui/src/app/facility/rooms/room-mass-edit.component.ts
  ui/src/app/question/basequestion/question.component.ts
  ui/src/app/question/examquestion/exam-question.component.ts
  ui/src/app/review/assessment/feedback/feedback.component.ts
  ui/src/app/review/assessment/questions/essay-question.component.ts
  ui/src/app/review/questions/assessment/question-assessment.component.ts
  ui/src/app/shared/file/file.service.ts
Due: prettier, eslint

Fix merge
  ui/src/app/examination/question/examination-question.component.ts
Due: prettier, eslint

WIP: CSCEXAM-1364 Maintenance period visibility for external students - Also fix some problems regarding adding exception events
  .prettierrc.yaml
  app/controllers/exam/CourseController.scala
  app/controllers/facility/MaintenancePeriodController.scala
  app/controllers/facility/RoomController.java
  app/controllers/integration/ReservationAPIController.java
  app/controllers/iop/transfer/impl/OrganisationController.java
  app/impl/CalendarHandlerImpl.java
  app/miscellaneous/datetime/DateTimeHandlerImpl.java
  app/miscellaneous/scala/DbApiHelper.scala
  app/miscellaneous/scala/JavaApiHelper.scala
  app/models/calendar/DefaultWorkingHours.java
  app/models/facility/ExamRoom.java
  app/models/facility/ExamStartingHour.java
  conf/routes
  ui/src/app/calendar/calendar.model.ts
  ui/src/app/calendar/helpers/organisation-picker.component.ts
  ui/src/app/calendar/helpers/selected-room.component.ts
  ui/src/app/calendar/helpers/slot-picker.component.ts
  ui/src/app/facility/schedule/exception-dialog.component.ts
Due: prettier, prettier-java, eslint

Fix unclear exam participant listing and control
  app/controllers/enrolment/EnrolmentController.java
  ui/src/app/enrolment/active/active-enrolment.component.scss
  ui/src/app/exam/editor/basic/exam-owner-picker.component.html
  ui/src/app/exam/editor/publication/collaborative-exam-owner-picker.component.ts
  ui/src/app/exam/editor/publication/exam-participant-picker.component.ts
  ui/src/app/exam/editor/publication/exam-pre-participant-picker.component.ts
  ui/src/app/exam/editor/publication/exam-publication.component.html
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
  ui/src/styles.scss
Due: prettier, prettier-java, eslint

Fix text area field sizing
  ui/src/app/question/question.shared.scss
  ui/src/styles.scss
Due: none

CSCEXAM-1369 Fix redirection after importing assessments from csv
  ui/src/app/review/listing/speed-review.component.ts
Due: prettier, eslint
