Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

prettier:
  tags: frontend style
  run: npx prettier --write {staged_files}

prettier-java:
  tags: backend style
  run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}

eslint:
  tags: frontend rules
  run: npx eslint --fix {staged_files}

CSCEXAM-1212 Modify question search to work using only user parameter
  app/controllers/CourseController.scala
  app/controllers/ExamController.java
  app/controllers/ExamSectionController.java
  app/controllers/QuestionController.java
  app/controllers/TagController.java
  conf/routes
  ui/src/app/question/library/library.service.ts
  ui/src/app/question/library/results/library-results.component.html
  ui/src/app/question/library/search/library-search.component.html
  ui/src/app/question/library/search/library-search.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, prettier-java, eslint

CSCEXAM-1277 Disallow entering invalid dates (exam publication) - also make some variables signals - refactor code somewhat
  ui/.prettierrc.yaml
  ui/src/app/exam/editor/publication/exam-publication.component.html
  ui/src/app/exam/editor/publication/exam-publication.component.ts
  ui/src/app/review/questions/assessment/essay-answer.component.html
  ui/src/app/review/questions/assessment/essay-answer.component.ts
  ui/src/app/review/questions/assessment/essay-answers.component.ts
  ui/src/app/review/questions/assessment/question-assessment.component.html
  ui/src/app/review/questions/flow/question-flow-category.component.ts
  ui/src/app/shared/date/date-picker.component.html
  ui/src/app/shared/date/date-picker.component.ts
Due: prettier, eslint

CSCEXAM-1130 English language package for EXAM 6.3
  ui/src/assets/i18n/en.json
Due: none

CSCEXAM-1241 Check pre-enrolments for all users (including existing) - add some logging for failed login attempts
  app/controllers/SessionController.java
  app/controllers/iop/transfer/impl/ExternalExamController.java
Due: prettier-java

CSCEXAM-721 Add random delay to examination start moment (#1032)
  app/controllers/EnrolmentController.java
  app/controllers/iop/collaboration/impl/CollaborativeEnrolmentController.java
  app/controllers/iop/transfer/impl/ExternalExamController.java
  app/models/ExamEnrolment.java
  app/repository/EnrolmentRepository.java
  conf/evolutions/default/134.sql
  ui/src/app/enrolment/enrolment.model.ts
  ui/src/app/enrolment/search/exam-search.component.ts
  ui/src/app/enrolment/waiting-room/waiting-room.component.html
  ui/src/app/enrolment/waiting-room/waiting-room.component.ts
  ui/src/app/examination/clock/examination-clock.component.ts
  ui/src/app/examination/header/examination-header.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, prettier-java, eslint

CSCEXAM-1277 Disallow entering invalid dates (exam publication) (#1039)
  ui/.prettierrc.yaml
  ui/src/app/calendar/calendar.component.html
  ui/src/app/calendar/helpers/exam-info.component.ts
  ui/src/app/exam/editor/publication/exam-publication.component.html
  ui/src/app/exam/editor/publication/exam-publication.component.ts
  ui/src/app/review/questions/assessment/essay-answer.component.html
  ui/src/app/review/questions/assessment/essay-answer.component.ts
  ui/src/app/review/questions/assessment/essay-answers.component.ts
  ui/src/app/review/questions/assessment/question-assessment.component.html
  ui/src/app/review/questions/flow/question-flow-category.component.ts
  ui/src/app/shared/date/date-picker.component.html
  ui/src/app/shared/date/date-picker.component.ts
Due: prettier, eslint

CSCEXAM-1130 English language package for EXAM 6.3 (#1040)
  ui/src/assets/i18n/en.json
Due: none

CSCEXAM-000 6.3.0-RC1
  build.sbt
  conf/application.conf
  package-lock.json
  package.json
  scripts/internal/bump_version.sh
Due: none

CSCEXAM-1279 Fix click behavior of xm-dropdown-select
  ui/src/app/shared/select/dropdown-select.component.ts
Due: prettier, eslint

CSCEXAM-000 Fix mobile problems
  ui/src/app/navigation/navigation.component.html
  ui/src/app/shared/components/page-content.component.ts
  ui/src/app/shared/components/page-header.component.ts
Due: prettier, eslint

CSCEXAM-000 Fix mobile problems
  ui/src/app/exam/editor/basic/exam-inspector-picker.component.html
  ui/src/app/exam/editor/creation/new-exam.component.html
  ui/src/app/exam/editor/sections/section.component.html
  ui/src/app/exam/editor/sections/sections.component.html
  ui/src/app/examination/navigation/examination-toolbar.component.html
  ui/src/app/examination/question/examination-essay-question.component.html
  ui/src/app/maturity/listing/reviewed-inspections.component.html
  ui/src/app/maturity/listing/unfinished-inspections.component.html
  ui/src/app/navigation/navigation.component.html
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/app/question/examquestion/exam-question.component.html
  ui/src/app/question/library/library.component.ts
  ui/src/app/review/assessment/grading/grading.component.html
  ui/src/app/review/assessment/maturity/inspection-comments.component.ts
  ui/src/app/review/listing/categories/graded.component.html
  ui/src/app/review/listing/categories/in-language-inspection.component.html
  ui/src/app/review/questions/assessment/question-assessment.component.html
  ui/src/app/shared/date/date-picker.component.html
  ui/src/styles.scss
Due: prettier, eslint

CSCEXAM-000 Fix mobile problems
  ui/src/app/exam/editor/basic/exam-inspector-picker.component.html
  ui/src/app/exam/editor/creation/new-exam.component.html
  ui/src/app/exam/editor/events/examination-event-dialog.component.html
  ui/src/app/exam/editor/sections/section.component.html
  ui/src/app/exam/editor/sections/sections.component.html
  ui/src/app/examination/navigation/examination-toolbar.component.html
  ui/src/app/examination/question/examination-essay-question.component.html
  ui/src/app/maturity/listing/reviewed-inspections.component.html
  ui/src/app/maturity/listing/unfinished-inspections.component.html
  ui/src/app/navigation/navigation.component.html
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/app/question/examquestion/exam-question.component.html
  ui/src/app/question/library/library.component.ts
  ui/src/app/reservation/reservations.component.html
  ui/src/app/review/assessment/grading/grading.component.html
  ui/src/app/review/assessment/maturity/inspection-comments.component.ts
  ui/src/app/review/listing/categories/graded.component.html
  ui/src/app/review/listing/categories/in-language-inspection.component.html
  ui/src/app/review/questions/assessment/question-assessment.component.html
  ui/src/app/shared/date/date-picker.component.html
  ui/src/app/shared/date/date-time-picker.component.ts
  ui/src/styles.scss
Due: prettier, eslint

CSCEXAM-000 fix problem with missing exam type info
  app/controllers/ExaminationController.java
  ui/src/app/enrolment/active/dialogs/select-examination-event-dialog.component.ts
  ui/src/app/examination/navigation/examination-toolbar.component.html
Due: prettier, prettier-java, eslint

CSCEXAM-000 Fix mobile problems
  ui/src/app/exam/editor/events/examination-event-dialog.component.html
  ui/src/app/reservation/reservations.component.html
  ui/src/app/shared/date/date-time-picker.component.ts
Due: prettier, eslint

CSCEXAM-000 fix problem with copying anonymous private exams
  app/controllers/ExamController.java
Due: prettier-java

CSCEXAM-000 fix problem with copying anonymous private exams
  app/controllers/ExamController.java
  app/controllers/ReviewController.java
  ui/src/app/review/listing/categories/in-progress.component.html
Due: prettier, prettier-java

CSCEXAM-000 fix for private exam copying (anonumosly)
  app/controllers/ExamController.java
Due: prettier-java

Private exam anonymous (#1051)
  app/controllers/ExamController.java
  app/controllers/ReviewController.java
  ui/src/app/review/listing/categories/in-progress.component.html
Due: prettier, prettier-java

CSCEXAM-000 fix style issues with questions and student buttons
  ui/src/app/calendar/helpers/organisation-picker.component.ts
  ui/src/app/calendar/helpers/slot-picker.component.html
  ui/src/app/enrolment/active/active-enrolment.component.html
  ui/src/app/enrolment/active/helpers/active-enrolment-menu.component.html
  ui/src/app/enrolment/finished/exam-participations.component.html
  ui/src/app/question/basequestion/multiple-choice-option.component.ts
  ui/src/app/question/basequestion/multiple-choice.component.ts
Due: prettier, eslint

CSCEXAM-000 fix styling glitches
  ui/src/app/exam/editor/basic/exam-inspector-picker.component.html
  ui/src/app/exam/editor/basic/exam-owner-picker.component.html
  ui/src/app/exam/editor/publication/collaborative-exam-owner-picker.component.ts
  ui/src/app/exam/editor/publication/custom-duration-picker-dialog.component.ts
  ui/src/app/exam/editor/publication/exam-publication.component.html
  ui/src/app/exam/editor/publication/exam-publication.component.ts
  ui/src/app/exam/editor/publication/organisation-picker.component.ts
  ui/src/app/exam/editor/sections/exam-material-picker.component.html
  ui/src/app/facility/rooms/availability.component.html
  ui/src/app/question/basequestion/essay.component.ts
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/app/question/basequestion/weighted-multiple-choice-option.component.ts
  ui/src/app/question/tags/tag-picker.component.ts
  ui/src/app/session/role/role-picker-dialog.component.ts
  ui/src/styles.scss
Due: prettier, eslint

CSCEXAM-000 Fix exception event mass editing problem
  ui/src/app/facility/rooms/room-mass-edit.component.ts
  ui/src/app/shared/components/page-header.component.ts
Due: prettier, eslint

CSCEXAM-478 Fix merging of calendar slots
  app/util/datetime/DateTimeHandlerImpl.java
Due: prettier-java

CSCEXAM-000 Fix IOP issue with collaborative exams - also rename shared styles file - restyle paginator to look a bit nicer
  app/controllers/iop/collaboration/impl/CollaborationController.java
  app/models/Permission.java
  ui/src/app/calendar/calendar.component.scss
  ui/src/app/enrolment/search/exam-search.component.scss
  ui/src/app/examination/clock/examination-clock.component.scss
  ui/src/app/examination/examination.shared.scss
  ui/src/app/examination/header/examination-header.component.scss
  ui/src/app/examination/navigation/examination-toolbar.component.scss
  ui/src/app/examination/question/examination-question.component.scss
  ui/src/app/examination/question/question.shared.scss
  ui/src/app/facility/rooms/rooms.component.scss
  ui/src/app/navigation/navigation.component.scss
  ui/src/app/question/question.shared.scss
  ui/src/app/review/assessment/feedback/feedback.component.scss
  ui/src/app/review/assessment/questions/multi-choice-answers.shared.scss
  ui/src/app/review/questions/flow/question-flow.component.scss
  ui/src/app/shared/definitions.scss
  ui/src/app/shared/paginator/paginator.component.scss
  ui/src/app/shared/paginator/paginator.component.ts
Due: prettier, prettier-java, eslint

CSCEXAM-000 Calendar accessibility selection as separate component
  ui/src/app/calendar/helpers/accessibility-picker.component.ts
  ui/src/app/calendar/helpers/exam-info.component.ts
  ui/src/app/calendar/helpers/slot-picker.component.html
  ui/src/app/calendar/helpers/slot-picker.component.ts
  ui/src/app/shared/paginator/paginator.component.scss
Due: prettier, eslint

CSCEXAM-000 Cleanup of booking calendar code
  ui/src/app/calendar/helpers/accessibility-picker.component.ts
  ui/src/app/calendar/helpers/slot-picker.component.ts
Due: prettier, eslint

Fix aria-live clock in examination and waiting room
  ui/src/app/enrolment/waiting-room/waiting-room.component.html
  ui/src/app/examination/clock/examination-clock.component.ts
  ui/src/app/examination/logout/examination-logout.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

Fix some link looking buttons to look like buttons Fix inaccessible width scrolling bar Add descriptions to functional buttons
  ui/src/app/enrolment/finished/exam-feedback.component.html
  ui/src/app/enrolment/finished/exam-participation.component.html
  ui/src/app/exam/editor/sections/exam-material-picker.component.html
  ui/src/app/review/assessment/maturity/inspection-comments.component.ts
  ui/src/app/review/listing/speed-review.component.html
  ui/src/assets/styles/main.scss
  ui/src/assets/styles/partial/_dashboard.scss
Due: prettier, eslint

es-lint
  ui/src/app/review/assessment/maturity/inspection-comments.component.ts
Due: prettier, eslint

CSCEXAM-1287 Minor style fixes
  package-lock.json
  project/plugins.sbt
  ui/src/app/enrolment/active/active-enrolment.component.html
  ui/src/app/enrolment/exams/exam-enrolment-details.component.html
  ui/src/app/exam/editor/basic/basic-exam-info.component.html
  ui/src/app/exam/editor/basic/exam-inspector-picker.component.html
  ui/src/app/exam/editor/basic/exam-owner-picker.component.html
  ui/src/app/exam/editor/basic/exam-owner-picker.component.ts
  ui/src/app/exam/editor/publication/collaborative-exam-owner-picker.component.ts
  ui/src/app/exam/editor/publication/custom-duration-picker-dialog.component.ts
  ui/src/app/exam/editor/publication/exam-participant-picker.component.ts
  ui/src/app/exam/editor/publication/exam-pre-participant-picker.component.ts
  ui/src/app/exam/editor/publication/exam-publication.component.html
  ui/src/app/exam/editor/publication/organisation-picker.component.ts
  ui/src/app/exam/editor/sections/exam-material-picker.component.html
  ui/src/app/exam/editor/sections/section-question.component.ts
  ui/src/app/exam/editor/sections/section.component.html
  ui/src/app/facility/facility.component.html
  ui/src/app/facility/machines/machine.component.html
  ui/src/app/facility/machines/machine.component.ts
  ui/src/app/facility/rooms/availability.component.html
  ui/src/app/question/basequestion/claim-choice.component.ts
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/app/question/basequestion/question.component.html
  ui/src/app/question/examquestion/exam-question.component.html
  ui/src/app/question/examquestion/exam-question.component.ts
  ui/src/app/question/library/library.component.ts
  ui/src/app/question/question.service.ts
  ui/src/app/question/question.shared.scss
  ui/src/app/question/tags/tag-picker.component.ts
  ui/src/app/shared/components/page-header.component.ts
  ui/src/app/shared/paginator/paginator.component.scss
  ui/src/app/shared/validation/fixed-precision.directive.ts
  ui/src/proxy.conf.js
  ui/src/styles.scss
Due: prettier, eslint

Improve question edit exam usage warning
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/app/question/basequestion/question-body.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

Fix some link looking buttons to look like buttons
  ui/src/app/enrolment/finished/exam-feedback.component.html
  ui/src/app/enrolment/finished/exam-participation.component.html
  ui/src/app/exam/editor/sections/exam-material-picker.component.html
  ui/src/app/facility/schedule/starting-time.component.ts
  ui/src/app/review/listing/speed-review.component.html
Due: prettier, eslint

Path conditions:
  prettier: any of: **/*.{ts,html}
  prettier-java: any of: **/*.java
  eslint: any of: **/*.ts
