Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

prettier:
  tags: frontend style
  run: npx prettier --write {staged_files}

prettier-java:
  tags: backend style
  run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}

eslint:
  tags: frontend rules
  run: npx eslint --fix {staged_files}

CSCEXAM-1010 Display no-shows in Report API
  app/features/integration/controllers/ReportAPIController.scala
  app/features/integration/services/ReportAPIService.scala
Due: none

CSCEXAM-1484 Add missing translations
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: none

CSCEXAM-105 Fix email template content
  app/models/exam/Exam.java
  app/services/mail/EmailComposerImpl.scala
Due: prettier-java

CSCEXAM-1216 Fix some problems with single role users
  app/features/user/services/SessionService.scala
Due: none

CSCEXAM-1216 Restore original login logic - external account users may only login as students
  app/features/user/services/SessionService.scala
  ui/src/app/session/eula/external-login-confirmation-dialog.component.ts
Due: prettier, eslint

CSCEXAM-1216 Add only student role for new external users
  app/features/user/services/SessionService.scala
Due: none

Fix build badge link in README.md
  README.md
Due: none

CSCEXAM-1400 New error view for external visiting students
  app/features/user/controllers/SessionController.scala
  app/features/user/services/SessionService.scala
  app/repository/EnrolmentRepository.scala
  app/services/config/ConfigReader.scala
  app/services/config/ConfigReaderImpl.scala
  package-lock.json
  ui/src/app/app.routes.ts
  ui/src/app/enrolment/wrong-location/unknown-location.component.html
  ui/src/app/enrolment/wrong-location/unknown-location.component.ts
  ui/src/app/interceptors/examination.interceptor.ts
  ui/src/app/navigation/navigation.service.ts
  ui/src/app/session/session.service.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEAM-1403 Allow collab exam search for support role
  app/features/iop/collaboration/controllers/CollaborativeExamController.scala
  ui/src/app/reservation/reservations.component.ts
Due: prettier, eslint

CSCEXAM-1541 Fix essay question grading status text
  ui/src/app/review/assessment/questions/essay-question.component.html
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier

CSCEXAM-1216 Changes in handling of external user logins
  app/features/user/controllers/SessionController.scala
  app/features/user/services/SessionError.scala
  app/features/user/services/SessionService.scala
  app/repository/EnrolmentRepository.scala
  conf/dev.conf
  test/iop/ExternalCalendarInterfaceSpec.scala
  ui/src/app/interceptors/error.interceptor.ts
  ui/src/app/session/eula/external-login-confirmation-dialog.component.ts
  ui/src/app/session/session.model.ts
  ui/src/app/session/session.service.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1216 Translation changes
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/sv.json
Due: none

CSCEXAM-1403 Fix for searching collab exams in support role
  app/features/iop/collaboration/services/CollaborativeExamAuthorizationService.scala
  app/features/iop/collaboration/services/CollaborativeExamSectionService.scala
Due: none

CSCEXAM-1216 Fix error handling during login failure
  app/repository/EnrolmentRepository.scala
  ui/src/app/interceptors/error.interceptor.ts
  ui/src/app/session/dev/dev-login.component.ts
  ui/src/app/session/session.service.ts
Due: prettier, eslint

CSCEXAM-1216 Fix problem with role selection cancellation
  ui/src/app/session/role/role-picker-dialog.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1393 Refactor attachement buttons to be semantically accessible
  ui/src/app/exam/editor/basic/basic-exam-info.component.html
  ui/src/app/exam/editor/common/examination-type-picker.component.ts
  ui/src/app/exam/editor/publication/organisation-picker.component.ts
  ui/src/app/exam/editor/sections/exam-material-picker.component.html
  ui/src/app/exam/editor/sections/section-question.component.html
  ui/src/app/maturity/listing/reviewed-inspections.component.html
  ui/src/app/maturity/listing/unfinished-inspections.component.html
  ui/src/app/maturity/reporting/maturity-reporting.component.html
  ui/src/app/question/editor/common/additional-info.component.html
  ui/src/app/question/editor/common/types/multiple-choice.component.html
  ui/src/app/question/editor/common/types/weighted-multiple-choice.component.html
  ui/src/app/question/editor/question.shared.scss
  ui/src/app/question/library/results/library-results.component.html
  ui/src/app/review/assessment/feedback/feedback.template.html
  ui/src/app/review/assessment/general/general-info.component.html
  ui/src/app/review/assessment/general/participation.component.ts
  ui/src/app/review/assessment/grading/grading.component.html
  ui/src/app/review/assessment/maturity/grading.component.html
  ui/src/app/review/assessment/questions/cloze-test.component.html
  ui/src/app/review/assessment/questions/essay-question.component.html
  ui/src/app/review/assessment/questions/multi-choice-question.component.html
  ui/src/app/review/listing/categories/graded-logged.component.html
  ui/src/app/review/listing/speed-review.component.html
  ui/src/app/review/listing/summary/exam-summary.component.html
  ui/src/app/review/questions/assessment/essay-answer.component.html
  ui/src/app/review/questions/assessment/question-assessment.component.html
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
  ui/src/styles.scss
Due: prettier, eslint

CSCEXAM-1216 Fix routing for unknown location view
  app/repository/EnrolmentRepository.scala
  ui/src/app/interceptors/examination.interceptor.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1216 Furhter improve unknown location UI
  ui/src/app/enrolment/wrong-location/unknown-location.component.html
Due: prettier

CSCEXAM-1216 UI enhancements for wrong/unknown location views
  ui/src/app/enrolment/wrong-location/unknown-location.component.html
  ui/src/app/enrolment/wrong-location/unknown-location.component.ts
  ui/src/app/enrolment/wrong-location/wrong-location.component.html
  ui/src/app/enrolment/wrong-location/wrong-location.component.ts
Due: prettier, eslint

CSCEXAM-1405 Accessibility and UX improvements
  ui/src/app/exam/editor/common/examination-type-picker.component.ts
  ui/src/app/maturity/listing/reviewed-inspections.component.html
  ui/src/app/reservation/reservation-details.component.html
Due: prettier, eslint

CSCEXAM-1405 Accessibility and UX improvements (revisited)
  ui/src/app/exam/editor/common/examination-type-picker.component.ts
  ui/src/app/maturity/language-inspections.component.ts
Due: prettier, eslint

Update build badge to point to cke5 branch
  README.md
Due: none

CSCEXAM-000 Fix problems with reservations view
  ui/src/app/maturity/language-inspections.component.ts
  ui/src/app/reservation/reservations.component.ts
Due: prettier, eslint

CSCEXAM-1551 Support alternative format of importing course language
  app/impl/ExternalCourseHandlerImpl.scala
  app/schema/ExternalCourseValidator.scala
  conf/integrationtest.conf
  test/resources/courseUnitInfo.json
Due: none

CSCEXAM-1551 Support alternative format of importing course language
  app/impl/ExternalCourseHandlerImpl.scala
  app/validators/ExternalCourseValidator.scala
  conf/integrationtest.conf
  test/resources/courseUnitInfo.json
Due: none

CSCEXAM-1551 Support alternative format of importing course language
  app/schema/ExternalCourseValidator.scala
  app/services/exam/ExternalCourseHandlerImpl.scala
  conf/integrationtest.conf
  test/resources/courseUnitInfo.json
Due: none

CSCEXAM-1551 Be even more flexible with course json validation
  app/impl/ExternalCourseHandlerImpl.scala
  app/schema/ExternalCourseValidator.scala
  test/resources/courseUnitInfo.json
Due: none

CSCEXAM-1551 Be even more flexible with course json validation
  app/schema/ExternalCourseValidator.scala
  app/services/exam/ExternalCourseHandlerImpl.scala
  test/resources/courseUnitInfo.json
Due: none

CSCEXAM-1551 Be even more flexible with course json validation
  app/impl/ExternalCourseHandlerImpl.scala
  app/validators/ExternalCourseValidator.scala
  test/resources/courseUnitInfo.json
Due: none

CSCEXAM-1553 Fix a DST bug with external reservation search dates
  app/controllers/iop/transfer/impl/ExternalCalendarController.java
  test/controllers/iop/ExternalCalendarInterfaceTest.java
Due: prettier-java

CSCEXAM-1553 Fix a DST bug with external reservation search dates
  app/features/iop/transfer/controllers/ExternalCalendarController.scala
  test/iop/ExternalCalendarInterfaceSpec.scala
  ui/src/app/reservation/reservation.service.spec.ts
  ui/src/app/reservation/reservations.component.scss
Due: prettier, eslint

CSCEXAM-000 Fix resolution of cloze test UI plugin in production
  ui/src/app/shared/ckeditor/plugins/clozetest/cloze-element-helper.service.ts
Due: prettier, eslint

CSCEXAM-000 Try making prod login more resistant for timing issues
  app/features/assets/controllers/FrontendController.scala
  ui/src/app/app.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1555 Fix local student examination log-in with wrong IP
  app/repository/EnrolmentRepository.java
Due: prettier-java

Path conditions:
  prettier: any of: **/*.{ts,html}
  prettier-java: any of: **/*.java
  eslint: any of: **/*.ts
