Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

prettier:
  tags: frontend style
  run: npx prettier --write {staged_files}

prettier-java:
  tags: backend style
  run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}

eslint:
  tags: frontend rules
  run: npx eslint --fix {staged_files}

CSCEXAM-1555 Fix formatting after cherry-picking
  app/controllers/admin/ReportController.java
  app/controllers/admin/StatisticsController.java
  app/controllers/enrolment/ExaminationEventController.java
  app/controllers/examination/ExaminationController.java
  app/controllers/iop/collaboration/impl/CollaborativeAttachmentController.java
  app/impl/CalendarHandlerImpl.java
  app/miscellaneous/datetime/DateTimeHandlerImpl.java
  app/repository/EnrolmentRepository.java
  app/repository/ExaminationRepository.java
  app/system/SystemRequestHandler.java
  test/controllers/iop/CollaborativeAttachmentControllerTest.java
Due: prettier-java

CSCEXAM-1555 Fix local user examination login behavior (wrong IP)
  app/repository/EnrolmentRepository.scala
  package-lock.json
  ui/src/app/administrative/reports/reports.component.scss
  ui/src/app/reservation/reservation.service.spec.ts
Due: prettier, eslint

CSCEXAM-000 Fix linting issues
  app/controllers/admin/ReportController.java
  app/controllers/admin/StatisticsController.java
  app/controllers/enrolment/ExaminationEventController.java
  app/controllers/examination/ExaminationController.java
  app/controllers/iop/collaboration/impl/CollaborativeAttachmentController.java
  app/controllers/iop/transfer/impl/ExternalCalendarController.java
  app/impl/CalendarHandlerImpl.java
  app/miscellaneous/datetime/DateTimeHandlerImpl.java
  app/repository/EnrolmentRepository.java
  app/repository/ExaminationRepository.java
  app/system/SystemRequestHandler.java
  test/controllers/iop/CollaborativeAttachmentControllerTest.java
  ui/src/app/calendar/helpers/password-prompt.component.ts
Due: prettier, prettier-java, eslint

CSCEXAM-1550 Swedish language package for EXAM 6.4.1
  conf/messages.sv
Due: none

CSCEXAM-1550 English language package for EXAM 6.4.1
  conf/messages.en
Due: none

CSCEXAM-1550 English language package for EXAM 6.4.1
  ui/src/assets/i18n/en.json
Due: none

CSCEXAM-000 Fix some angular for-loop tracking issues
  ui/src/app/enrolment/finished/exam-answers-dialog.component.html
  ui/src/app/exam/editor/sections/sections.component.html
  ui/src/app/examination/navigation/examination-toolbar.component.html
  ui/src/app/review/assessment/assessment.component.html
  ui/src/app/review/assessment/print/printed-assessment.component.html
Due: prettier

CSCEXAM-000 Make file download APIs use streaming
  app/features/admin/controllers/ReportController.scala
  app/features/admin/controllers/StatisticsController.scala
  app/features/admin/services/ReportService.scala
  app/features/admin/services/StatisticsService.scala
  app/features/assessment/controllers/ExamRecordController.scala
  app/features/assessment/controllers/ReviewDocumentsController.scala
  app/features/assessment/services/ExamRecordService.scala
  app/features/assessment/services/ReviewDocumentsService.scala
  app/features/attachment/controllers/AttachmentController.scala
  app/features/enrolment/controllers/StudentActionsController.scala
  app/features/enrolment/services/StudentActionsService.scala
  app/features/iop/collaboration/controllers/CollaborativeReviewController.scala
  app/features/question/controllers/QuestionController.scala
  app/features/question/services/QuestionService.scala
  app/services/csv/CsvBuilder.scala
  app/services/csv/CsvBuilderImpl.scala
  app/services/excel/ExcelBuilder.scala
  app/services/excel/ExcelBuilderImpl.scala
  app/services/xml/MoodleXmlExporter.scala
  app/services/xml/MoodleXmlExporterImpl.scala
  package-lock.json
  package.json
  ui/src/app/administrative/reports/categories/records-report.component.ts
  ui/src/app/enrolment/finished/exam-feedback.component.ts
  ui/src/app/question/editor/common/additional-info.component.ts
  ui/src/app/question/library/library.component.ts
  ui/src/app/question/question.service.ts
  ui/src/app/review/listing/categories/archived.component.ts
  ui/src/app/review/listing/categories/graded-logged.component.ts
  ui/src/app/review/listing/categories/in-progress.component.ts
  ui/src/app/review/listing/speed-review.component.ts
  ui/src/app/review/listing/summary/exam-summary.component.html
  ui/src/app/review/listing/summary/exam-summary.component.ts
  ui/src/app/shared/attachment/attachment.service.ts
  ui/src/app/shared/file/file.service.spec.ts
  ui/src/app/shared/file/file.service.ts
Due: prettier, eslint

CSCEXAM-000 Improve index page caching behavior
  app/features/assets/controllers/FrontendController.scala
  app/system/SystemFilter.scala
Due: none

CSCEXAM-000 Upgrade sbt dependencies, get rid of io.vavr
  app/models/assessment/ExamScore.java
  app/services/excel/ExcelBuilderImpl.scala
  build.sbt
  lefthook.yml
  ui/src/app/exam/editor/creation/course-selection.component.html
  ui/src/app/exam/editor/creation/course-selection.component.ts
Due: prettier, prettier-java, eslint

CSCEXAM-660 Create a new enrolment for private exam no-shows
  app/services/enrolment/NoShowHandlerImpl.scala
Due: none

CSCEXAM-000 New integration tests for exam copying
  test/functional/ExamCopyTest.java
Due: prettier-java

CSCEXAM-000 Fix formatting
  test/functional/ExamCopyTest.java
Due: prettier-java

CSCEXAM-000 Reduce font sizes to make displays less cramped
  build.sbt
  conf/schemas/enrolmentInfo.json
  conf/schemas/userLang.json
  package-lock.json
  package.json
  ui/src/app/navigation/navigation.component.scss
  ui/src/app/reservation/reservations.component.ts
  ui/src/styles.scss
Due: prettier, eslint

CSCEXAM-000 Refactor reservations component
  app/features/enrolment/controllers/ReservationController.scala
  app/features/enrolment/services/ReservationService.scala
  app/features/facility/services/ExamMachineService.scala
  ui/src/app/reservation/reservation.service.ts
  ui/src/app/reservation/reservations.component.ts
Due: prettier, eslint

CSCEXAM-000 Try pnpm as package manageCSCEXAM-000 Try pnpm as package manager
  .github/workflows/build.yml
  README.md
  REUSE.toml
  app/features/enrolment/controllers/ReservationController.scala
  app/services/json/EbeanMapper.scala
  build.sbt
  docker/Dockerfile
  lefthook.yml
  package-lock.json
  package-lock.json.license
  package.json
  pnpm-lock.yaml
  test/enrolment/CalendarControllerSpec.scala
  test/helpers/AttachmentServlet.scala
  test/helpers/BaseServlet.scala
  test/helpers/ExamServlet.scala
  test/iop/BaseCollaborativeAttachmentSpec.scala
  test/iop/CollaborativeAttachmentControllerSpec.scala
  test/iop/DataTransferControllerSpec.scala
  test/iop/ExternalExamControllerSpec.scala
  test/session/SessionControllerSpec.scala
Due: none

CSCEXAM-000 Fix infinite effect loop in assessment view
  ui/src/app/review/assessment/grading/grading.component.ts
  ui/src/app/review/assessment/maturity/grading.component.ts
Due: prettier, eslint

CSCEXAM-000 Bump version to 6.4.1
  build.sbt
  conf/application.conf
  package-lock.json
  package.json
Due: none

CSCEXAM-000 Fix effect related issues in UCSCEXAM-000 Fix effect related issues in UII
  ui/src/app/exam/editor/common/course-picker.component.spec.ts
  ui/src/app/exam/editor/common/course-picker.component.ts
  ui/src/app/facility/accessibility/accessibility-picker.component.ts
  ui/src/app/shared/date/date-picker.component.ts
  ui/src/app/shared/date/date-time-picker.component.spec.ts
  ui/src/app/shared/date/date-time-picker.component.ts
  ui/src/app/shared/select/dropdown-select.component.spec.ts
  ui/src/app/shared/select/dropdown-select.component.ts
Due: prettier, eslint

CSCEXAM-000 Fix issues with input parsing. Add more UI tests
  app/features/admin/controllers/SettingsController.scala
  app/features/enrolment/controllers/ReservationController.scala
  app/features/exam/controllers/ExamController.scala
  app/features/iop/collaboration/controllers/CollaborativeExamSectionController.scala
  ui/src/app/exam/editor/exam-tabs.service.spec.ts
  ui/src/app/exam/exam.service.spec.ts
  ui/src/app/question/editor/common/tools/has-unsaved-changes.guard.spec.ts
  ui/src/app/question/question-scoring.service.spec.ts
  ui/src/app/session/session.service.spec.ts
  ui/src/app/shared/date/apply-dst.pipe.spec.ts
  ui/src/app/shared/date/day-diff.pipe.spec.ts
  ui/src/app/shared/date/minute-diff.pipe.spec.ts
  ui/src/app/shared/filter/filter-by.pipe.spec.ts
  ui/src/app/shared/html/sanitized-html.pipe.spec.ts
  ui/src/app/shared/miscellaneous/common-exam.service.spec.ts
  ui/src/app/shared/miscellaneous/course-code.service.spec.ts
  ui/src/app/shared/paginator/page-fill.pipe.spec.ts
  ui/src/app/shared/sorting/order-by.pipe.spec.ts
  ui/src/app/shared/storage/storage.service.spec.ts
Due: prettier, eslint

CSCEXAM-000 Fix issues with external attachment downloads
  app/features/enrolment/services/FileResponse.scala
  app/features/iop/collaboration/controllers/CollaborativeAttachmentController.scala
  app/features/iop/transfer/services/ExternalAttachmentService.scala
  app/services/datetime/CalendarHandlerImpl.scala
  app/services/json/EbeanMapper.scala
  app/system/AuditedAction.scala
  test/iop/BaseCollaborativeAttachmentSpec.scala
  ui/src/app/calendar/booking-calendar.component.ts
  ui/src/app/exam/editor/sections/section-question.component.ts
  ui/src/app/question/editor/common/additional-info.component.ts
  ui/src/app/question/editor/common/question-body.component.html
  ui/src/app/question/editor/common/question-body.component.ts
Due: prettier, eslint

CSCEXAM-000 Calendar layout fixes
  app/services/datetime/CalendarHandlerImpl.scala
  ui/src/app/calendar/booking-calendar.component.ts
  ui/src/styles.scss
Due: prettier, eslint

CSCEXAM-000 Unify styling for cloze test gaps
  conf/evolutions/default/145.sql
  ui/src/app/shared/ckeditor/ckeditor.styles.scss
  ui/src/styles.scss
Due: none

Path conditions:
  prettier: any of: **/*.{ts,html}
  prettier-java: any of: **/*.java
  eslint: any of: **/*.ts
