Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

prettier:
  tags: frontend style
  run: npx prettier --write {staged_files}

prettier-java:
  tags: backend style
  run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}

eslint:
  tags: frontend rules
  run: npx eslint --fix {staged_files}

CSCEXAM-1049 Fix typo
  ui/src/app/question/question-scoring.service.ts
Due: prettier, eslint

CSCEXAM-1400 Fix test ffindings
  app/repository/EnrolmentRepository.java
  ui/src/app/interceptors/examination-interceptor.ts
Due: prettier, prettier-java, eslint

Revert "CSCEXAM-1289 Fix review-inspections buttons"
  ui/src/app/maturity/listing/reviewed-inspections.component.html
  ui/src/app/maturity/listing/unfinished-inspections.component.html
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier

Revert "CSCEXAM-1405 Improve teacher table button accessibility (#1188)"
  ui/src/app/exam/editor/basic/basic-exam-info.component.html
  ui/src/app/exam/editor/common/examination-type-picker.component.ts
  ui/src/app/exam/listing/exam-list.component.html
  ui/src/app/maturity/dialogs/inspection-statement-dialog.component.ts
  ui/src/app/maturity/listing/reviewed-inspections.component.html
  ui/src/app/maturity/reporting/maturity-reporting.component.html
  ui/src/app/reservation/reservation-details.component.html
  ui/src/app/review/listing/categories/archived.component.html
  ui/src/app/review/listing/categories/graded-logged.component.html
  ui/src/app/review/listing/categories/graded.component.html
  ui/src/app/review/listing/categories/in-language-inspection.component.html
  ui/src/app/review/listing/categories/in-progress.component.html
  ui/src/app/review/listing/categories/rejected.component.html
  ui/src/app/review/listing/review-list.component.html
Due: prettier, eslint

CSCEXAM-000 Bump version to 6.4.0
  build.sbt
  conf/application.conf
  package-lock.json
  package.json
Due: none

CSCEXAM-000 Fix vulnerability in json-schema-validator
  build.sbt
Due: none

CSCEXAM-1423 Fix external password validation
  app/controllers/facility/RoomController.java
  app/controllers/iop/transfer/impl/OrganisationController.java
  app/miscellaneous/cache/FacilityCache.scala
  app/miscellaneous/cache/FacilityCacheImpl.scala
  app/system/modules/FacilityCacheModule.scala
  build.sbt
  conf/application.conf
  ui/src/app/calendar/calendar.service.ts
  ui/src/app/calendar/helpers/password-prompt.component.ts
  ui/src/app/calendar/helpers/slot-picker.component.ts
  ui/src/app/reservation/reservation.model.ts
Due: prettier, prettier-java, eslint

CSCEXAM-991 Fix issue with grouping of assessments
  app/impl/mail/EmailComposerImpl.scala
  app/miscellaneous/cache/FacilityCacheImpl.scala
  build.sbt
Due: none

CSCEXAM-1431 Revert config value to previous working one
  conf/template/seb.template.plist
Due: none

CSCEXAM-1431 Fix failing test
  test/base/IntegrationTestCase.java
  test/functional/ByodConfigHandlerTest.java
Due: prettier-java

CSCEXAM-1402 Fix external exam cloning behavior
  app/controllers/iop/transfer/impl/ExternalExamController.java
Due: prettier-java

CSCEXAM-000 test rework
  app/controllers/calendar/CalendarController.java
  app/controllers/enrolment/ReservationController.java
  app/controllers/iop/collaboration/impl/CollaborativeExternalCalendarController.java
  app/controllers/iop/transfer/impl/ExternalCalendarController.java
  app/controllers/user/SessionController.java
  app/exceptions/NotFoundException.java
  app/impl/CalendarHandler.java
  app/impl/CalendarHandlerImpl.java
  build.sbt
  test/base/IntegrationTestCase.java
  test/controllers/CalendarControllerTest.java
Due: prettier-java

CSCEXAM-000 Prune translations plus add scripts for helping in it
  scripts/internal/check_unused_translations.sh
  scripts/internal/clean_translation_files.py
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: none

CSCEXAM-000 Fix admin's exam listing view columns
  project/plugins.sbt
  ui/src/app/exam/listing/exam-list.component.html
Due: prettier

CSCEXAM-000 Fix admin/support exam tab view visibility issues
  ui/src/app/exam/editor/exam-tabs.component.html
Due: prettier

CSCEXAM-000 Introduce dependency-checker for SBT - also clean up storage service code
  build.sbt
  project/plugins.sbt
  ui/src/app/shared/storage/storage.service.ts
Due: prettier, eslint

CSCEXAM-000 Fix some remaining issues
  ui/src/app/exam/editor/sections/section-question.component.ts
  ui/src/app/shared/ckeditor/ckeditor.component.ts
  ui/src/app/shared/ckeditor/plugins/math/editing.ts
  ui/src/app/shared/ckeditor/plugins/math/view.ts
Due: prettier, eslint

CSCEXAM-000 make cloze test elements selectable for editing
  ui/src/app/shared/ckeditor/ckeditor.component.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/command.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/editing.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/ui.ts
Due: prettier, eslint

Fix missing attachement title
  ui/src/app/review/assessment/feedback/feedback.component.ts
  ui/src/app/review/assessment/feedback/statement.component.ts
  ui/src/app/shared/attachment/attachment.service.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

Refactor feedback.component
  ui/src/app/review/assessment/assessment.component.html
  ui/src/app/review/assessment/assessment.component.ts
  ui/src/app/review/assessment/feedback/feedback.component.ts
  ui/src/app/review/assessment/feedback/statement.component.ts
  ui/src/app/shared/attachment/attachment.service.ts
Due: prettier, eslint

CSCEXAM-000 Upgrade mathlive
  package-lock.json
  package.json
  ui/src/app/exam/editor/sections/section-question.component.ts
  ui/src/app/question/question.service.ts
  ui/src/app/shared/math/mathjax.service.ts
  ui/src/types/mathjax.d.ts
  ui/tsconfig.json
Due: prettier, eslint

CSCEXAM-000 Upgrade dependencies
  build.sbt
  project/plugins.sbt
Due: none

CSCEXAM-105 Add opening hour checks for changing user's machine
  app/controllers/enrolment/ReservationController.java
Due: prettier-java

CSCEXAM-000 Fix tests
  test/controllers/ReviewControllerTest.java
Due: prettier-java

CSCEXAM-000 Add more UI tests
  ui/src/app/shared/date/date.service.spec.ts
  ui/src/app/shared/file/file.service.spec.ts
  ui/src/app/shared/select/dropdown-select.component.spec.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: **/*.{ts,html}
  prettier-java: any of: **/*.java
  eslint: any of: **/*.ts
