Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

prettier:
  tags: frontend style
  run: npx prettier --write {staged_files}

prettier-java:
  tags: backend style
  run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}

eslint:
  tags: frontend rules
  run: npx eslint --fix {staged_files}

CSCEXAM-1200 Modifications for moodle import - Had to rework file service for more generic return types
  app/controllers/question/QuestionController.java
  app/miscellaneous/xml/MoodleXmlImporter.scala
  app/miscellaneous/xml/MoodleXmlImporterImpl.scala
  test/functional/MoodleImporterTest.java
  test/resources/essay-quiz2.xml
  ui/src/app/exam/editor/basic/basic-exam-info.component.ts
  ui/src/app/exam/editor/sections/section-question.component.ts
  ui/src/app/exam/editor/sections/section.component.ts
  ui/src/app/question/library/library.component.ts
  ui/src/app/question/question.service.ts
  ui/src/app/review/assessment/feedback/feedback.component.ts
  ui/src/app/review/assessment/feedback/statement.component.ts
  ui/src/app/review/listing/speed-review.component.ts
  ui/src/app/shared/attachment/dialogs/attachment-picker.component.ts
  ui/src/app/shared/file/file.service.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, prettier-java, eslint

Convert *ngIf to @if in exam-feedback component
  ui/src/app/enrolment/finished/exam-feedback.component.html
Due: prettier

CSCEXAM-1155 Participation page fix patch
  ui/src/app/enrolment/finished/exam-feedback.component.html
  ui/src/app/enrolment/finished/exam-participations.component.html
  ui/src/app/enrolment/finished/exam-participations.component.scss
  ui/src/app/review/assessment/grading/grading.component.html
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier

CSCEXAM-1427 Option to not shuffle question options
  app/controllers/base/SectionQuestionHandler.java
  app/controllers/exam/ExamSectionController.java
  app/controllers/question/QuestionController.java
  app/models/exam/Exam.java
  app/models/questions/Question.java
  app/models/sections/ExamSectionQuestion.java
  conf/evolutions/default/140.sql
  ui/src/app/question/basequestion/claim-choice.component.html
  ui/src/app/question/basequestion/claim-choice.component.ts
  ui/src/app/question/basequestion/multiple-choice.component.html
  ui/src/app/question/basequestion/multiple-choice.component.ts
  ui/src/app/question/examquestion/exam-question.component.html
  ui/src/app/question/examquestion/exam-question.component.ts
  ui/src/app/question/examquestion/multichoice.component.ts
  ui/src/app/question/examquestion/weighted-multichoice.component.ts
  ui/src/app/question/question.model.ts
  ui/src/app/question/question.service.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, prettier-java, eslint

CSCEXAM-1346 Display email in user search results - Also make some legacy backend code less OOM
  app/controllers/base/BaseController.java
  app/controllers/calendar/CalendarController.java
  app/controllers/enrolment/EnrolmentController.java
  app/controllers/enrolment/ReservationController.java
  app/controllers/enrolment/StudentActionsController.java
  app/controllers/exam/ExamController.java
  app/controllers/iop/collaboration/impl/CollaborativeCalendarController.java
  app/controllers/iop/collaboration/impl/CollaborativeEnrolmentController.java
  app/controllers/iop/transfer/impl/ExternalCalendarController.java
  app/controllers/user/UserController.java
  app/impl/CalendarHandler.java
  app/impl/CalendarHandlerImpl.java
  app/miscellaneous/enrolment/EnrolmentHandler.java
  app/miscellaneous/enrolment/EnrolmentHandlerImpl.java
  app/miscellaneous/user/UserHandler.java
  app/miscellaneous/user/UserHandlerImpl.java
  conf/routes
  ui/src/app/exam/editor/basic/exam-inspector-picker.component.ts
  ui/src/app/exam/editor/basic/exam-owner-picker.component.ts
  ui/src/app/exam/editor/publication/exam-participant-picker.component.ts
  ui/src/app/question/basequestion/question-body.component.ts
Due: prettier, prettier-java, eslint

Improve external reservation dialog UX with language-specific links and customizable buttons
  ui/src/app/calendar/calendar.component.ts
  ui/src/app/shared/dialogs/confirmation-dialog.component.ts
  ui/src/app/shared/dialogs/confirmation-dialog.service.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-459 External reservation statistics view
  app/controllers/ReportController.java
  app/controllers/iop/transfer/impl/ExternalCalendarController.java
  app/models/Reservation.java
  conf/evolutions/default/135.sql
  conf/routes
  ui/src/app/administrative/statistics/categories/exam-statistics.component.ts
  ui/src/app/administrative/statistics/categories/iop-reservation-statistics.component.ts
  ui/src/app/administrative/statistics/statistics.component.html
  ui/src/app/administrative/statistics/statistics.component.ts
  ui/src/app/administrative/statistics/statistics.service.ts
  ui/src/app/reservation/reservation.model.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, prettier-java, eslint

CSCEXAM-459 Fix failing test
  test/controllers/iop/ExternalCalendarInterfaceTest.java
Due: prettier-java

CSCEXAM-459 Fix filtering by department
  app/controllers/ReportController.java
  ui/src/app/administrative/statistics/categories/iop-reservation-statistics.component.ts
Due: prettier, prettier-java, eslint

CSCEXAM-459 Fix filtering by department
  ui/src/app/administrative/statistics/categories/iop-reservation-statistics.component.ts
Due: prettier, eslint

Update room instructions translation key to use more specific guidance label
  ui/src/app/calendar/helpers/selected-room.component.ts
Due: prettier, eslint

CSCEXAM-1427 Fix some bad style definitions
  ui/src/app/question/basequestion/claim-choice.component.html
  ui/src/app/question/examquestion/claim-choice.component.html
  ui/src/app/question/examquestion/claim-choice.component.ts
  ui/src/app/question/question.shared.scss
Due: prettier, eslint

CSCEXAM-1427 Fix some bad stylings
  ui/src/app/question/basequestion/claim-choice.component.html
  ui/src/app/question/examquestion/claim-choice.component.html
  ui/src/app/question/examquestion/claim-choice.component.ts
  ui/src/app/question/question.shared.scss
Due: prettier, eslint

Enhance booking calendar localization with dynamic format overrides for date headers and titles based on selected language
  ui/src/app/calendar/booking-calendar.component.ts
Due: prettier, eslint

CSCEXAM-1403 New role for support personnel
  app/controllers/admin/SettingsController.java
  app/controllers/assessment/ExamInspectionController.java
  app/controllers/assessment/ExamRecordController.java
  app/controllers/assessment/LanguageInspectionController.java
  app/controllers/assessment/ReviewController.java
  app/controllers/assessment/ReviewDocumentsController.scala
  app/controllers/attachment/AttachmentController.java
  app/controllers/enrolment/EnrolmentController.java
  app/controllers/enrolment/ExaminationEventController.java
  app/controllers/enrolment/ReservationController.java
  app/controllers/exam/CourseController.scala
  app/controllers/exam/ExamController.java
  app/controllers/exam/ExamOwnerController.java
  app/controllers/exam/ExamSectionController.java
  app/controllers/facility/ExamMachineController.java
  app/controllers/question/QuestionController.java
  app/controllers/question/TagController.java
  app/controllers/user/LanguageController.java
  app/controllers/user/UserController.java
  app/models/user/Role.java
  app/models/user/User.java
  conf/evolutions/default/141.sql
  conf/routes
  ui/src/app/administrative/users/users.component.ts
  ui/src/app/exam/listing/exam-list.component.html
  ui/src/app/navigation/navigation.service.ts
  ui/src/app/reservation/reservation-details.component.html
  ui/src/app/reservation/reservation-details.component.ts
  ui/src/app/reservation/reservations.component.html
  ui/src/app/reservation/reservations.component.ts
  ui/src/app/session/session.model.ts
  ui/src/app/session/session.service.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, prettier-java, eslint

CSCEXAM-000 Fix compiler/linter warnings and errors
  package-lock.json
  package.json
  ui/src/app/calendar/calendar.component.html
  ui/src/app/examination/clock/examination-clock.component.scss
  ui/src/app/navigation/navigation.component.scss
Due: prettier

CSCEXAM-1358 Modify contents of weekly email report - Do not include exams that have no upcoming reservations - Add new translation
  app/impl/mail/EmailComposerImpl.scala
  conf/messages.en
  conf/messages.fi
  conf/messages.sv
  conf/template/email/weeklySummary/weeklySummary.html
Due: prettier

CSCEXAM-991 List graded exams also on weekly email report
  app/impl/mail/EmailComposerImpl.scala
  app/system/SystemInitializer.scala
  conf/messages.en
  conf/messages.fi
  conf/messages.sv
  conf/template/email/weeklySummary/weeklySummary.html
Due: prettier

CSCEXAM-1444 Add expand/collapse all functionality for assessment answers
  ui/src/app/review/questions/assessment/essay-answer.component.html
  ui/src/app/review/questions/assessment/essay-answer.component.ts
  ui/src/app/review/questions/assessment/question-assessment.component.html
  ui/src/app/review/questions/assessment/question-assessment.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1444 Add expand/collapse all functionality for assessment answers
  ui/src/app/exam/listing/unified-exam-list.component.html
  ui/src/app/review/questions/assessment/essay-answer.component.html
  ui/src/app/review/questions/assessment/question-assessment.component.html
  ui/src/app/review/questions/assessment/question-assessment.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1158 Enhance booking calendar localization
  ui/src/app/calendar/booking-calendar.component.ts
  ui/src/app/calendar/calendar.component.ts
  ui/src/app/calendar/helpers/selected-room.component.ts
  ui/src/app/shared/dialogs/confirmation-dialog.component.ts
  ui/src/app/shared/dialogs/confirmation-dialog.service.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1444 Add expand/collapse all functionality for assessment answers (#1229)
  ui/src/app/exam/listing/unified-exam-list.component.html
  ui/src/app/review/questions/assessment/essay-answer.component.html
  ui/src/app/review/questions/assessment/question-assessment.component.html
  ui/src/app/review/questions/assessment/question-assessment.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-991 List graded exams also on weekly email report
  app/controllers/admin/SettingsController.java
  app/controllers/attachment/AttachmentController.java
  app/impl/mail/EmailComposerImpl.scala
  conf/messages.en
  conf/messages.fi
  conf/messages.sv
  conf/template/email/weeklySummary/weeklySummary.html
Due: prettier, prettier-java

CSCEXA-000 Fix translations
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: none

Fix reversed boolean
  ui/src/app/review/questions/assessment/essay-answer.component.html
Due: prettier

CSCEXAM-1403 Minor fixes for new user role
  app/controllers/enrolment/EnrolmentController.java
  app/controllers/facility/ExamMachineController.java
  ui/src/app/administrative/users/users.component.html
  ui/src/app/administrative/users/users.component.ts
  ui/src/app/navigation/navigation.service.ts
  ui/src/app/reservation/reservations.component.html
  ui/src/app/reservation/reservations.component.ts
Due: prettier, prettier-java, eslint

CSCEXAM-1444 Fix reversed boolean
  ui/src/app/review/questions/assessment/essay-answer.component.html
Due: prettier

CSCEXAM-1010 Modifications for external report API - Also fixes ticket CSCEXAM-1419
  app/controllers/integration/ReportAPIController.java
  app/models/exam/Exam.java
Due: prettier-java

Path conditions:
  prettier: any of: **/*.{ts,html}
  prettier-java: any of: **/*.java
  eslint: any of: **/*.ts
