Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

prettier:
  tags: frontend style
  run: npx prettier --write {staged_files}

prettier-java:
  tags: backend style
  run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}

eslint:
  tags: frontend rules
  run: npx eslint --fix {staged_files}

Fix cancel button to read the actual action
  ui/src/app/facility/address/address.component.ts
  ui/src/app/facility/machines/machine.component.html
  ui/src/app/facility/rooms/room.component.html
  ui/src/app/facility/schedule/maintenance-period-dialog.component.ts
  ui/src/app/reservation/admin/change-machine-dialog.component.ts
  ui/src/app/reservation/reservation-details.component.html
  ui/src/app/review/listing/dialogs/aborted.component.html
  ui/src/app/review/listing/dialogs/no-shows.component.html
  ui/src/app/review/listing/speed-review.component.html
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1216 Restrictions for external organisation user logins
  app/controllers/user/SessionController.java
  app/miscellaneous/config/ConfigReader.scala
  app/miscellaneous/config/ConfigReaderImpl.scala
  conf/application.conf
  conf/dev.conf
  conf/integrationtest.conf
  test/base/IntegrationTestCase.java
  test/controllers/EnrolmentControllerTest.java
  test/controllers/SessionControllerTest.java
  test/controllers/iop/ExternalCalendarInterfaceTest.java
  ui/src/app/navigation/navigation.component.html
  ui/src/app/session/eula/external-login-confirmation-dialog.component.ts
  ui/src/app/session/session.model.ts
  ui/src/app/session/session.service.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, prettier-java, eslint

CSCEXAM-1422 Don't enforce builtin display in SEB config
  conf/template/seb.template.plist
  test/functional/ByodConfigHandlerTest.java
Due: prettier-java

Fix examiner assign bug
  app/controllers/assessment/ExamInspectionController.java
  app/controllers/user/UserController.java
Due: prettier-java

Reapply if statement that is needed
  app/controllers/assessment/ExamInspectionController.java
Due: prettier-java

CSCEXAM-228 Fix cancel button to read the actual action (#1196)
  ui/src/app/facility/address/address.component.ts
  ui/src/app/facility/machines/machine.component.html
  ui/src/app/facility/rooms/room.component.html
  ui/src/app/facility/schedule/maintenance-period-dialog.component.ts
  ui/src/app/reservation/admin/change-machine-dialog.component.ts
  ui/src/app/reservation/reservation-details.component.html
  ui/src/app/review/listing/dialogs/aborted.component.html
  ui/src/app/review/listing/dialogs/no-shows.component.html
  ui/src/app/review/listing/speed-review.component.html
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-000 Fix importing courses having internal gradescale
  app/impl/ExternalCourseHandlerImpl.scala
  app/validators/ExternalCourseValidator.scala
  test/controllers/integration/ExternalCourseHandlerTest.java
  test/resources/courseUnitInfo4.json
Due: prettier-java

CSCEXAM-1273 Fix examiner assign bug (#1200)
  app/controllers/user/UserController.java
Due: prettier-java

Remove history-back button from new question modal when it is a popup
  ui/src/app/exam/editor/sections/section.component.ts
  ui/src/app/question/basequestion/question.component.html
  ui/src/app/question/basequestion/question.component.ts
  ui/src/app/question/examquestion/base-question-editor.component.ts
Due: prettier, eslint

CSCEXAM-1410 Remove history-back button from new question modal when it is a popup (#1201)
  ui/src/app/exam/editor/sections/section.component.ts
  ui/src/app/question/basequestion/question.component.html
  ui/src/app/question/basequestion/question.component.ts
  ui/src/app/question/examquestion/base-question-editor.component.ts
Due: prettier, eslint

CSCEXAM-1426 Fix broken email link
  app/impl/mail/EmailComposerImpl.scala
Due: none

CSCEXAM-1426 Fix broken link in email
  app/impl/EmailComposerImpl.java
Due: prettier-java

CSCEXAM-1103 Fix importing courses having internal gradescale
  app/impl/ExternalCourseHandlerImpl.java
  test/controllers/integration/ExternalCourseHandlerTest.java
  test/resources/courseUnitInfo4.json
Due: prettier-java

CSCEXAM-1422 Don't enforce builtin display in SEB config
  conf/seb.template.plist
  test/functional/ByodConfigHandlerTest.java
Due: prettier-java

CSCEXAM-459 Fix filtering by department
  app/controllers/ReportController.java
  ui/src/app/administrative/statistics/categories/iop-reservation-statistics.component.ts
Due: prettier, prettier-java, eslint

CSCEXAM-1411 Remove orphaned section question options on update
  app/models/sections/ExamSectionQuestion.java
Due: prettier-java

CSCEXAM-1399 Fix checking a missing course while publishing exam
  ui/src/app/exam/editor/publication/exam-publication.component.ts
Due: prettier, eslint

CSCEXAM-1398 Encode query parameters in course search
  app/impl/ExternalCourseHandlerImpl.java
Due: prettier-java

CSCEXAM-1369 Fix redirection after importing assessments from csv
  ui/src/app/review/listing/speed-review.component.ts
Due: prettier, eslint

CSCEXAM-000 Fix compilation error due bad merge
  app/controllers/ReportController.java
Due: prettier-java

CSCEXAM-000 Fix workflow for master branch
  .github/workflows/build.yml
Due: none

CSCEXAM-000 Revert bad commit
  .github/workflows/build.yml
Due: none

CSCEXAM-000 Fix workflow for master build
  .github/workflows/scala.yml
Due: none

Add .isPopup to section-question
  ui/src/app/exam/editor/sections/section-question.component.ts
Due: prettier, eslint

CSCEXAM-1372 Fix styling issues with dropdown-select
  ui/src/app/shared/select/dropdown-select.component.ts
Due: prettier, eslint

CSCEXAM-1415 Fix reservation statistics search using dates
  app/controllers/ReportController.java
Due: prettier-java

CSCEXAM-1431 Take care of SEB warning note
  conf/template/seb.template.plist
Due: none

CSCEXAM-1431 Take care of SEB warning note
  conf/seb.template.plist
Due: none

CSCEXAM-1431 Take care of SEB warning note - tests
  test/functional/ByodConfigHandlerTest.java
Due: prettier-java

Bump version to 6.3.3
  build.sbt
  conf/application.conf
  package-lock.json
  package.json
Due: none

Revert "CSCEXAM-1431 Take care of SEB warning note"
  conf/seb.template.plist
Due: none

Revert "Bump version to 6.3.3"
  build.sbt
  conf/application.conf
  package-lock.json
  package.json
Due: none

Revert "CSCEXAM-1431 Take care of SEB warning note - tests"
  test/functional/ByodConfigHandlerTest.java
Due: prettier-java

CSCEXAM-000 Bump version to 6.3.3
  build.sbt
  conf/application.conf
  package-lock.json
  package.json
Due: none

Path conditions:
  prettier: any of: **/*.{ts,html}
  prettier-java: any of: **/*.java
  eslint: any of: **/*.ts
