Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

prettier:
  tags: frontend style
  run: npx prettier --write {staged_files}

prettier-java:
  tags: backend style
  run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}

eslint:
  tags: frontend rules
  run: npx eslint --fix {staged_files}

CSCEXAM-1588 Improved examination toolbar
  ui/src/app/examination/examination.component.html
  ui/src/app/examination/examination.component.scss
  ui/src/app/examination/examination.component.ts
  ui/src/app/examination/navigation/examination-navigation.component.ts
  ui/src/app/examination/navigation/examination-toolbar.component.html
  ui/src/app/examination/navigation/examination-toolbar.component.scss
  ui/src/app/examination/navigation/examination-toolbar.component.ts
  ui/src/app/navigation/navigation.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1574 Allowed hr-elements in HTML
  app/validation/core/HtmlSafelist.scala
Due: none

CSCEXAM-000 Also send mail address for slots
  app/services/datetime/CalendarHandlerImpl.scala
Due: none

CSCEXAM-000 Allowed external reservation editing
  ui/src/app/reservation/reservation-details.component.ts
Due: prettier, eslint

CSCEXAM-000 Improved reservation-detail template
  ui/src/app/reservation/reservation-details.component.html
  ui/src/app/reservation/reservation-details.component.ts
Due: prettier, eslint

CSCEXAM-000 Fixed removal of ext reservation
  app/features/enrolment/services/ReservationService.scala
  ui/src/app/reservation/admin/remove-reservation-dialog.component.ts
Due: prettier, eslint

CSCEXAM-1567 Fixed DST handling in waiting room
  ui/src/app/enrolment/waiting-room/waiting-room-early.component.ts
Due: prettier, eslint

CSCEXAM-1604 Send user email with ext reservation
  CLAUDE.md
  app/features/enrolment/services/ReservationService.scala
  app/features/iop/transfer/controllers/ExternalCalendarController.scala
  app/features/iop/transfer/services/ExternalReservationHandlerService.scala
  app/models/enrolment/Reservation.scala
  app/services/mail/EmailComposerImpl.scala
  conf/evolutions/default/146.sql
  pnpm-lock.yaml
  test/iop/ExternalCalendarInterfaceSpec.scala
Due: none

CSCEXAM-1583 Improved styling of exam copy
  ui/src/app/exam/editor/common/examination-type-picker.component.ts
  ui/src/app/review/listing/summary/exam-summary.component.html
  ui/src/app/review/listing/summary/exam-summary.component.ts
  ui/src/app/shared/file/file.service.ts
  ui/src/styles.scss
Due: prettier, eslint

CSCEXAM-000 Bumped version to 6.4.3
  build.sbt
  conf/application.conf
  package-lock.json
  package.json
Due: none

CSCEXAM-000 Updated CKEditor to v48
  package.json
  pnpm-lock.yaml
Due: none

CSCEXAM-000 Upgraded cke5 version
  package.json
  pnpm-lock.yaml
  ui/src/app/calendar/helpers/slot-picker.component.ts
  ui/src/app/shared/ckeditor/ckeditor-initialization.service.ts
  ui/src/app/shared/ckeditor/ckeditor.component.ts
  ui/src/app/shared/ckeditor/plugins/math/editing.ts
  ui/src/app/shared/ckeditor/plugins/math/math-element-helper.service.ts
  ui/src/app/shared/ckeditor/plugins/math/math-field.service.ts
  ui/src/app/shared/ckeditor/plugins/math/ui.ts
  ui/src/app/shared/ckeditor/plugins/math/view.ts
Due: prettier, eslint

CSCEXAM-000 Fixed formatting
  ui/src/app/shared/ckeditor/plugins/math/editing.ts
  ui/src/app/shared/ckeditor/plugins/math/ui.ts
Due: prettier, eslint

CSCEXAM-1604 Fixed reservation cancellation
  CLAUDE.md
  app/features/enrolment/controllers/ReservationController.scala
  app/features/enrolment/services/ReservationError.scala
  app/features/enrolment/services/ReservationService.scala
  app/features/iop/transfer/services/ExternalReservationHandlerService.scala
  app/system/jobs/ReservationReminderService.scala
  test/iop/ExternalCalendarInterfaceSpec.scala
  ui/src/app/shared/ckeditor/plugins/math/view.ts
Due: prettier, eslint

CSCEXAM-1604 Improved batch email sending handling
  app/features/assessment/services/LanguageInspectionService.scala
  app/features/assessment/services/ReviewService.scala
  app/features/examination/services/ExaminationService.scala
  app/features/iop/collaboration/controllers/CollaborativeReviewController.scala
  app/services/exam/ExamUpdaterImpl.scala
  app/services/exam/ExternalExamHandler.scala
Due: none

CSCEXAM-1582 Added response header check to login
  CLAUDE.md
  app/features/user/controllers/SessionController.scala
  app/features/user/services/SessionResponseFinalizer.scala
  test/base/BaseIntegrationSpec.scala
  test/session/SessionControllerSpec.scala
Due: none

CSCEXAM-000 Fixed issues related to security audit
  app/features/assessment/services/ReviewService.scala
  app/features/attachment/controllers/AttachmentController.scala
  app/features/attachment/services/AttachmentService.scala
  app/features/examination/services/ExaminationService.scala
  app/features/iop/collaboration/controllers/CollaborativeAttachmentController.scala
  app/models/exam/Exam.scala
  conf/application.conf
Due: none

CSCEXAM-000 Hardened script-src and CORS
  angular.json
  conf/application.conf
Due: none

CSCEXAM-1577 Dealt with zero forced scores
  app/models/sections/ExamSectionQuestion.scala
  test/assessment/ExamSectionQuestionScoreSpec.scala
Due: none

CSCEXAM-1620 Fixed score calculations
  app/models/exam/Exam.scala
  test/assessment/ExamScoreAggregationSpec.scala
Due: none

CSCEXAM-1615 Modified error validation
  ui/src/app/exam/editor/events/examination-event-dialog.component.html
Due: prettier

CSCEXAM-1616 Allowed admin and support roles
  .github/workflows/codeql.yml
  app/features/assessment/controllers/QuestionReviewController.scala
Due: none

Update statistics pages to require search button before fetching data
  ui/src/app/administrative/statistics/categories/exam-statistics.component.ts
  ui/src/app/administrative/statistics/categories/iop-reservation-statistics.component.ts
  ui/src/app/administrative/statistics/categories/reservation-statistics.component.ts
  ui/src/app/administrative/statistics/categories/response-statistics.component.ts
  ui/src/app/administrative/statistics/categories/room-statistics.component.ts
  ui/src/app/administrative/statistics/statistics.component.html
  ui/src/app/administrative/statistics/statistics.component.ts
Due: prettier, eslint

Fix formatting
  ui/src/app/administrative/statistics/statistics.component.html
Due: prettier

Refactor as observables to avoid effects
  ui/src/app/administrative/statistics/categories/exam-statistics.component.ts
  ui/src/app/administrative/statistics/categories/iop-reservation-statistics.component.ts
  ui/src/app/administrative/statistics/categories/reservation-statistics.component.ts
  ui/src/app/administrative/statistics/categories/response-statistics.component.ts
  ui/src/app/administrative/statistics/categories/room-statistics.component.ts
Due: prettier, eslint

Fix formatting
  ui/src/app/administrative/statistics/categories/iop-reservation-statistics.component.ts
Due: prettier, eslint

Add takeUntilDestroyed for subscription cleanup
  ui/src/app/administrative/statistics/categories/exam-statistics.component.ts
  ui/src/app/administrative/statistics/categories/iop-reservation-statistics.component.ts
  ui/src/app/administrative/statistics/categories/reservation-statistics.component.ts
  ui/src/app/administrative/statistics/categories/response-statistics.component.ts
  ui/src/app/administrative/statistics/categories/room-statistics.component.ts
Due: prettier, eslint

Edit .gitignore
  .gitignore
Due: none

Path conditions:
  prettier: any of: **/*.{ts,html}
  prettier-java: any of: **/*.java
  eslint: any of: **/*.ts
