Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

prettier:
  tags: frontend style
  run: npx prettier --write {staged_files}

prettier-java:
  tags: backend style
  run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}

eslint:
  tags: frontend rules
  run: npx eslint --fix {staged_files}

Remove unnecessary files
  .github/workflows/build.yml
  .github/workflows/codeql.yml
Due: none

Reform exam search tabs
  ui/src/app/app.routes.ts
  ui/src/app/enrolment/search/collaborative-exam-search.component.ts
  ui/src/app/enrolment/search/exam-search-tabs.component.scss
  ui/src/app/enrolment/search/exam-search-tabs.component.ts
  ui/src/app/enrolment/search/exam-search.component.ts
Due: prettier, eslint

Refactor exam search components and services
  ui/src/app/enrolment/search/collaborative-exam-search.component.ts
  ui/src/app/enrolment/search/exam-search-tabs.component.ts
  ui/src/app/enrolment/search/exam-search.component.ts
  ui/src/app/enrolment/search/exam-search.service.ts
Due: prettier, eslint

Refactor styles to use shared color definitions for exam components
  ui/src/app/enrolment/active/active-enrolment.component.scss
  ui/src/app/enrolment/search/collaborative-exam-search.component.ts
  ui/src/app/enrolment/search/exam-search-tabs.component.scss
  ui/src/app/enrolment/search/exam-search.component.scss
  ui/src/app/enrolment/search/exam-search.component.ts
  ui/src/app/exam/editor/exam-tabs.component.scss
  ui/src/app/question/question.shared.scss
  ui/src/app/review/listing/review-list.component.scss
  ui/src/app/review/listing/speed-review.component.scss
  ui/src/app/shared/definitions.scss
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
  ui/src/styles.scss
Due: prettier, eslint

Refactor error handling in exam search components
  ui/src/app/enrolment/search/collaborative-exam-search.component.ts
  ui/src/app/enrolment/search/exam-search.component.ts
Due: prettier, eslint

CSCEXAM-000 Modify Json filter action
  app/miscellaneous/json/JsonFilter.scala
  app/system/interceptors/JsonFilterAction.java
  test/backend/util/JsonFilterTest.java
  ui/src/app/exam/editor/common/examination-type-picker.component.ts
  ui/src/app/shared/miscellaneous/helpers.spec.ts
  ui/src/app/shared/miscellaneous/helpers.ts
Due: prettier, prettier-java, eslint

Move title-button to enrolment.shared.scss Fix linting
  ui/src/app/enrolment/enrolment.shared.scss
  ui/src/app/enrolment/search/exam-search-tabs.component.scss
  ui/src/app/enrolment/search/exam-search.component.scss
  ui/src/app/question/question.shared.scss
  ui/src/app/review/listing/review-list.component.scss
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
  ui/src/styles.scss
Due: none

CSCEXAM-1159 Move Collab search to Regular search as a tab (#1245)
  ui/src/app/app.routes.ts
  ui/src/app/dashboard/staff/staff.routes.ts
  ui/src/app/enrolment/active/active-enrolment.component.html
  ui/src/app/enrolment/active/active-enrolment.component.scss
  ui/src/app/enrolment/active/helpers/active-enrolment-menu.component.html
  ui/src/app/enrolment/enrolment.shared.scss
  ui/src/app/enrolment/exams/exam-enrolment-details.component.html
  ui/src/app/enrolment/search/collaborative-exam-search.component.ts
  ui/src/app/enrolment/search/exam-search-result.component.ts
  ui/src/app/enrolment/search/exam-search-tabs.component.scss
  ui/src/app/enrolment/search/exam-search-tabs.component.ts
  ui/src/app/enrolment/search/exam-search.component.ts
  ui/src/app/enrolment/search/exam-search.service.ts
  ui/src/app/exam/editor/exam-tabs.component.scss
  ui/src/app/navigation/navigation.service.ts
  ui/src/app/question/question.shared.scss
  ui/src/app/review/listing/review-list.component.scss
  ui/src/app/review/listing/speed-review.component.scss
  ui/src/app/shared/definitions.scss
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
  ui/src/styles.scss
Due: prettier, eslint

CSCEXAM-000 ReviewController in Scala
  app/controllers/admin/ReportController.scala
  app/controllers/assessment/ExamInspectionController.java
  app/controllers/assessment/ExamInspectionController.scala
  app/controllers/assessment/ReviewController.java
  app/controllers/assessment/ReviewController.scala
  app/controllers/base/scala/ExamBaseController.scala
  app/impl/AutoEvaluationHandlerImpl.scala
  app/miscellaneous/scala/JavaApiHelper.scala
  app/system/SystemInitializer.scala
  app/system/interceptors/scala/AnonymousJsonFilter.scala
  app/validation/scala/CommaJoinedListValidator.scala
  app/validation/scala/CommentValidator.scala
  app/validation/scala/SCALA_VALIDATORS.md
  app/validation/scala/ScalaCommaJoinedListValidator.scala
  app/validation/scala/ScalaValidatorExamples.scala
  app/validation/scala/core/PlayJsonHelper.scala
  app/validation/scala/core/SanitizingHelper.scala
  app/validation/scala/core/ScalaAttrs.scala
  app/validation/scala/core/ScalaValidator.scala
  app/validation/scala/core/Validators.scala
  app/validation/scala/exam/ExamValidator.scala
  conf/routes
Due: prettier-java

Refactor calendarLocale func
  ui/src/app/calendar/booking-calendar.component.ts
Due: prettier, eslint

CSCEXAM-1158 Add english formatted title for booking calendar
  ui/src/app/calendar/booking-calendar.component.ts
Due: prettier, eslint

CSCEXAM-000 More scalaization
  app/controllers/assessment/ExamAnswerController.java
  app/controllers/assessment/ExamAnswerController.scala
  app/controllers/assessment/ExamInspectionController.scala
  app/controllers/assessment/ExamRecordController.java
  app/controllers/assessment/ExamRecordController.scala
  app/controllers/assessment/LanguageInspectionController.java
  app/controllers/assessment/LanguageInspectionController.scala
  app/controllers/assessment/ReviewController.scala
  app/miscellaneous/scala/TRANSACTIONS.md
  app/miscellaneous/scala/TransactionHelper.scala
  app/security/scala/Auth.scala
  app/security/scala/CombinedRoleAndPermissionFilter.scala
  app/security/scala/SESSION_PERMISSIONS.md
  app/system/interceptors/scala/SecureController.scala
  app/system/interceptors/scala/SensitiveDataFilter.scala
  app/validation/java/ExamRecordSanitizer.java
  app/validation/scala/CommentValidator.scala
  app/validation/scala/SCALA_VALIDATORS.md
  app/validation/scala/answer/ClozeTestAnswerValidator.scala
  conf/routes
  ui/src/app/review/listing/categories/archived.component.ts
  ui/src/app/review/listing/categories/graded-logged.component.ts
  ui/src/app/shared/file/file.service.ts
Due: prettier, prettier-java, eslint

CSCEXAM-000 More stuff in scala
  app/controllers/calendar/CalendarController.java
  app/controllers/calendar/CalendarController.scala
  app/controllers/enrolment/ReservationController.java
  app/controllers/enrolment/ReservationController.scala
  app/controllers/exam/ExamController.java
  app/controllers/examination/ExaminationController.java
  app/controllers/iop/collaboration/impl/CollaborativeCalendarController.java
  app/controllers/iop/collaboration/impl/CollaborativeCalendarController.scala
  app/controllers/iop/collaboration/impl/CollaborativeExamController.java
  app/controllers/iop/collaboration/impl/CollaborativeExternalCalendarController.java
  app/controllers/iop/collaboration/impl/CollaborativeExternalCalendarController.scala
  app/controllers/iop/transfer/impl/ExternalCalendarController.java
  app/controllers/iop/transfer/impl/ExternalCalendarController.scala
  app/controllers/iop/transfer/impl/ExternalExamController.java
  app/impl/AutoEvaluationHandlerImpl.scala
  app/impl/CalendarHandler.java
  app/impl/CalendarHandler.scala
  app/impl/CalendarHandlerImpl.java
  app/impl/CalendarHandlerImpl.scala
  app/impl/ExamUpdater.java
  app/impl/ExamUpdater.scala
  app/impl/ExamUpdaterImpl.java
  app/impl/ExamUpdaterImpl.scala
  app/impl/ExternalCourseHandlerImpl.scala
  app/impl/NoShowHandlerImpl.scala
  app/impl/mail/EmailComposerImpl.scala
  app/miscellaneous/csv/CsvBuilder.scala
  app/miscellaneous/enrolment/EnrolmentHandler.scala
  app/miscellaneous/excel/ExcelBuilder.scala
  app/miscellaneous/user/UserHandler.scala
  app/system/AuditedAction.scala
  app/validation/java/CommentSanitizer.java
  app/validation/scala/calendar/ReservationCreationFilter.scala
  app/validation/scala/calendar/ReservationValidator.scala
  app/validation/scala/core/ScalaAttrs.scala
  conf/routes
Due: prettier-java

CSCEXAM-000 Calendar stuff in scala
  app/controllers/calendar/CalendarController.scala
  app/controllers/enrolment/EnrolmentController.java
  app/controllers/enrolment/ReservationController.scala
  app/controllers/iop/collaboration/impl/CollaborativeExternalCalendarController.scala
  app/controllers/iop/transfer/api/ExternalReservationHandler.java
  app/controllers/iop/transfer/api/ExternalReservationHandler.scala
  app/controllers/iop/transfer/impl/ExternalCalendarController.scala
  app/controllers/iop/transfer/impl/ExternalReservationHandlerImpl.java
  app/controllers/iop/transfer/impl/ExternalReservationHandlerImpl.scala
  app/impl/CalendarHandler.scala
  app/impl/CalendarHandlerImpl.scala
Due: prettier-java

Fix teacher collaborative exams submenu
  ui/src/app/navigation/navigation.service.ts
Due: prettier, eslint

Add Hide editor false by default for maturity exam
  ui/src/app/review/assessment/feedback/feedback.component.ts
  ui/src/app/review/assessment/feedback/statement.component.ts
Due: prettier, eslint

CSCEXAM-1492 Add missing brace to mail message
  app/impl/mail/EmailComposerImpl.scala
Due: none

CSCEXAM-1501 Trim course codes when searching
  app/controllers/exam/CourseController.scala
  ui/src/app/exam/editor/common/course-picker.component.ts
  ui/src/app/exam/editor/common/course-picker.service.ts
Due: prettier, eslint

Update input step attribute to whole numbers
  ui/src/app/question/basequestion/claim-choice.component.html
  ui/src/app/question/basequestion/weighted-multiple-choice-option.component.ts
  ui/src/app/question/examquestion/claim-choice.component.html
  ui/src/app/question/examquestion/exam-question.component.html
  ui/src/app/question/examquestion/weighted-multichoice.component.ts
Due: prettier, eslint

CSCEXAM-1504 Fix issue with updating coflicting examination events
  ui/src/app/exam/editor/events/examination-event-dialog.component.ts
Due: prettier, eslint

CSCEXAM-000 Fix json handling and remove obsolete functions
  app/controllers/assessment/ReviewController.scala
  app/controllers/base/scala/ExamBaseController.scala
  app/controllers/enrolment/ExaminationEventController.scala
Due: none

CSCEXAM-000 Migrate examination controllers to scala
  app/controllers/exam/ExamOwnerController.java
  app/controllers/exam/ExamOwnerController.scala
  app/controllers/examination/EnrolmentValidator.scala
  app/controllers/examination/ExaminationController.java
  app/controllers/examination/ExaminationController.scala
  app/controllers/examination/TimeController.java
  app/controllers/examination/TimeController.scala
  app/controllers/iop/transfer/impl/ExternalExaminationController.java
  app/controllers/iop/transfer/impl/ExternalExaminationController.scala
  app/controllers/question/TagController.java
  app/controllers/question/TagController.scala
  app/system/Binders.scala
  app/system/interceptors/ExamActionRouter.java
  app/system/interceptors/ExamActionRouterImpl.java
  app/system/interceptors/SensitiveDataAction.java
  app/system/interceptors/SensitiveDataPolicy.java
  app/system/interceptors/scala/ExamActionRouter.scala
  conf/routes
Due: prettier-java

CSCEXAM-000 Rework for anonymisation actions
  app/controllers/admin/SettingsController.scala
  app/controllers/admin/StatisticsController.scala
  app/controllers/assessment/ExamAnswerController.scala
  app/controllers/assessment/ExamInspectionController.scala
  app/controllers/assessment/ExamRecordController.scala
  app/controllers/assessment/LanguageInspectionController.scala
  app/controllers/assessment/QuestionReviewController.scala
  app/controllers/assessment/ReviewController.scala
  app/controllers/attachment/AttachmentController.scala
  app/controllers/base/scala/AnonymousHandler.scala
  app/controllers/base/scala/ExamBaseController.scala
  app/controllers/enrolment/ExaminationEventController.scala
  app/controllers/exam/ExamOwnerController.scala
  app/controllers/iop/transfer/impl/DataTransferController.scala
  app/controllers/question/TagController.scala
  app/miscellaneous/json/JsonFilter.scala
  app/system/interceptors/JsonFilterAction.java
  app/system/interceptors/scala/AnonymousJsonFilter.scala
  app/system/interceptors/scala/SensitiveDataFilter.scala
  test/backend/util/JsonFilterTest.java
  test/controllers/iop/ExternalExamControllerTest.java
Due: prettier-java

CSCEXAM-1505 Fix teacher collaborative exams submenu
  ui/src/app/navigation/navigation.service.ts
Due: prettier, eslint

CSCEXAM-1505, 1319, 1480 Release Fix bundle
  ui/src/app/navigation/navigation.service.ts
  ui/src/app/question/basequestion/claim-choice.component.html
  ui/src/app/question/basequestion/weighted-multiple-choice-option.component.ts
  ui/src/app/question/examquestion/claim-choice.component.html
  ui/src/app/question/examquestion/exam-question.component.html
  ui/src/app/question/examquestion/weighted-multichoice.component.ts
  ui/src/app/review/assessment/feedback/feedback.component.ts
  ui/src/app/review/assessment/feedback/statement.component.ts
Due: prettier, eslint

CSCEXAM-000 Switch UI test framework to vitest
  angular.json
  karma.conf.js
  package-lock.json
  package.json
  ui/src/app/shared/file/file.service.spec.ts
  ui/src/app/shared/select/dropdown-select.component.spec.ts
  ui/src/test.ts
  ui/tsconfig.spec.json
Due: prettier, eslint

CSCEXAM-000 Fix CI config for vitest
  .github/workflows/build.yml
Due: none

CSCEXAM-000 Fix vitest config again
  ui/src/app/shared/miscellaneous/helpers.spec.ts
  ui/tsconfig.spec.json
Due: prettier, eslint

CSCEXAM-1319 Add Hide editor false by default for maturity exam
  ui/src/app/review/assessment/feedback/feedback.component.ts
  ui/src/app/review/assessment/feedback/statement.component.ts
Due: prettier, eslint

CSCEXAM-1480 Update input step attribute to whole numbers
  ui/src/app/question/basequestion/claim-choice.component.html
  ui/src/app/question/basequestion/weighted-multiple-choice-option.component.ts
  ui/src/app/question/examquestion/claim-choice.component.html
  ui/src/app/question/examquestion/exam-question.component.html
  ui/src/app/question/examquestion/weighted-multichoice.component.ts
Due: prettier, eslint

CSCEXAM-1509 Update opening hours component layout
  ui/src/app/facility/schedule/opening-hours.component.html
Due: prettier

Path conditions:
  prettier: any of: **/*.{ts,html}
  prettier-java: any of: **/*.java
  eslint: any of: **/*.ts
