Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

lefthook.yml:

# SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium
#
# SPDX-License-Identifier: EUPL-1.2

pre-commit:
  commands:
    prettier:
      tags: frontend style
      glob: "**/*.{ts,html}"
      run: npx prettier --write {staged_files}
    prettier-java:
      tags: backend style
      glob: "**/*.java"
      run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}
    eslint:
      tags: frontend rules
      glob: "**/*.ts"
      run: npx eslint --fix {staged_files}

CSCEXAM-1595 Fixed tag handling on question import
  app/features/iop/collaboration/controllers/CollaborativeAttachmentController.scala
  app/features/iop/transfer/services/DataTransferService.scala
  app/features/question/services/QuestionService.scala
  test/iop/DataTransferControllerSpec.scala
Due: none

CSCEXAM-1639 Fixed BYOD section optionality
  app/features/exam/controllers/ExamController.scala
  app/models/exam/Exam.scala
  app/repository/ExaminationRepository.scala
  test/examination/ExaminationControllerSpec.scala
  test/functional/ExamCopySpec.scala
  ui/src/app/dashboard/staff/teacher/categories/exam-list-category.component.ts
  ui/src/app/exam/editor/common/examination-type-picker.component.ts
  ui/src/app/exam/listing/exam-list.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1639 Tied section updates to their own exam
  app/features/exam/services/ExamSectionService.scala
  app/system/interceptors/AnonymousJsonFilter.scala
  test/exam/ExamSectionOptionalitySpec.scala
Due: none

CSCEXAM-1644 Fixed default ordering of questions
  app/features/question/services/QuestionService.scala
  ui/src/app/question/library/results/library-results.component.ts
  ui/src/app/question/question.model.ts
Due: prettier, eslint

CSCEXAM-1643 Improved UX of question attachments
  ui/src/app/exam/editor/sections/section-question.component.ts
  ui/src/app/exam/editor/sections/section.component.ts
  ui/src/app/question/editor/common/additional-info.component.html
  ui/src/app/question/editor/common/additional-info.component.spec.ts
  ui/src/app/question/editor/common/additional-info.component.ts
  ui/src/app/question/question-attachment-save.spec.ts
  ui/src/app/question/question.service.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1641 Fixed optional section UI issues
  ui/src/app/calendar/helpers/optional-sections.component.ts
  ui/src/app/enrolment/active/helpers/optional-sections.component.ts
Due: prettier, eslint

CSCEXAM-1640 Fixed responsiveness problems
  ui/src/app/review/assessment/questions/claim-choice-answer.component.ts
  ui/src/app/review/assessment/questions/multi-choice-answer.component.ts
  ui/src/app/review/assessment/questions/weighted-multi-choice-answer.component.ts
Due: prettier, eslint

CSCEXAM-1638 Fixed clearing a grade
  app/features/assessment/services/ReviewService.scala
  test/assessment/ReviewControllerSpec.scala
  ui/src/app/review/assessment/common/grading-base.component.ts
Due: prettier, eslint

CSCEXAM-1635 Fixed no-show checking for BYODs
  app/services/enrolment/EnrolmentHandlerImpl.scala
  ui/src/app/reservation/reservation-details.component.ts
  ui/src/app/reservation/reservation.service.spec.ts
  ui/src/app/reservation/reservation.service.ts
Due: prettier, eslint

CSCEXAM-1654 Optimized reservation api
  app/features/integration/controllers/ReservationAPIController.scala
  app/features/integration/services/ReservationAPIService.scala
  conf/evolutions/default/147.sql
Due: none

CSCEXAM-1593 Adjusted font size accorss the UI
  ui/src/app/calendar/calendar.component.scss
  ui/src/app/enrolment/active/active-enrolment.component.scss
  ui/src/app/enrolment/enrolment.shared.scss
  ui/src/app/enrolment/search/exam-search-tabs.component.scss
  ui/src/app/enrolment/search/exam-search.component.scss
  ui/src/app/exam/editor/assessment/auto-evaluation.component.scss
  ui/src/app/exam/editor/assessment/exam-feedback-config.component.scss
  ui/src/app/exam/editor/exam-tabs.component.scss
  ui/src/app/exam/editor/sections/sections.shared.scss
  ui/src/app/exam/exam.shared.scss
  ui/src/app/examination/clock/examination-clock.component.scss
  ui/src/app/examination/header/examination-header.component.scss
  ui/src/app/examination/navigation/examination-toolbar.component.scss
  ui/src/app/examination/question/examination-question.component.scss
  ui/src/app/examination/question/question.shared.scss
  ui/src/app/examination/section/examination-section.component.scss
  ui/src/app/facility/rooms/rooms.component.scss
  ui/src/app/maturity/maturity.shared.scss
  ui/src/app/navigation/navigation.component.scss
  ui/src/app/question/editor/question.shared.scss
  ui/src/app/reservation/reservations.component.scss
  ui/src/app/review/assessment/assessment.shared.scss
  ui/src/app/review/assessment/questions/essay-question.component.scss
  ui/src/app/review/assessment/questions/multi-choice-answers.shared.scss
  ui/src/app/review/listing/review-list.component.scss
  ui/src/app/review/listing/speed-review.component.scss
  ui/src/app/review/questions/assessment/question-assessment.component.scss
  ui/src/app/review/questions/flow/question-flow.component.scss
  ui/src/app/review/questions/listing/question-review.component.scss
  ui/src/app/shared/ckeditor/ckeditor.styles.scss
  ui/src/app/shared/sorting/table-sort.component.ts
  ui/src/styles.scss
Due: prettier, eslint

Revert "Always show multichoice shuffle features"
  ui/src/app/question/editor/common/types/multiple-choice.component.html
Due: prettier

CSCEXAM-000 Fixed semicolon in evolution 148
  conf/evolutions/default/148.sql
Due: none

CSCEXAM-000 Updated dependencies
  package.json
  pnpm-lock.yaml
  ui/src/app/session/session-timeout-toastr.ts
  ui/src/main.ts
Due: prettier, eslint

CSCEXAM-000 Fixed formatting
  ui/src/app/question/library/search/library-search.component.ts
  ui/src/app/reservation/reservation.model.ts
Due: prettier, eslint

CSCEXAM-000 Did lazy loading of ckeditor styles
  angular.json
  ui/src/app/shared/ckeditor/ckeditor-styles.ts
  ui/src/app/shared/ckeditor/ckeditor.component.ts
  ui/src/styles.scss
Due: prettier, eslint

CSCEXAM-1574 Added support for list styles
  app/validation/core/HtmlSafelist.scala
  test/validation/HtmlSafelistSpec.scala
Due: none

CSCEXAM-1621 Added student data retention job
  app/features/assessment/services/ExamRecordService.scala
  app/features/assessment/services/ReviewService.scala
  app/features/retention/services/IopRetentionClient.scala
  app/features/retention/services/RetentionPolicy.scala
  app/features/retention/services/RetentionRepository.scala
  app/features/retention/services/RetentionRules.scala
  app/features/retention/services/RetentionService.scala
  app/features/retention/services/XmRetentionClient.scala
  app/models/exam/Exam.scala
  app/system/SystemInitializer.scala
  app/system/jobs/ExamExpirationService.scala
  app/system/jobs/ExternalExamExpirationService.scala
  app/system/jobs/StudentDataRetentionJob.scala
  app/system/modules/RetentionModule.scala
  conf/application.conf
  conf/evolutions/default/148.sql
  test/assessment/ReviewControllerSpec.scala
  test/retention/RetentionIopSpec.scala
  test/retention/RetentionPolicySpec.scala
  test/retention/RetentionRulesSpec.scala
  test/retention/RetentionServiceSpec.scala
Due: none

CSCEXAM-1621 Showed retention policy in settings
  app/features/admin/services/SettingsService.scala
  app/services/config/ConfigReader.scala
  app/services/config/ConfigReaderImpl.scala
  test/features/admin/SettingsControllerSpec.scala
  ui/src/app/administrative/administrative.model.ts
  ui/src/app/administrative/settings/settings.component.html
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1621 Added retention safety tests
  app/features/retention/services/RetentionRepository.scala
  app/features/retention/services/RetentionService.scala
  test/retention/RetentionIopSpec.scala
  test/retention/RetentionReportSpec.scala
  test/retention/RetentionSafetySpec.scala
  test/retention/RetentionServiceSpec.scala
  test/retention/RetentionSpecBase.scala
Due: none

CSCEXAM-1621 Made retention job scale
  app/features/retention/services/RetentionRepository.scala
  app/features/retention/services/RetentionService.scala
  app/system/jobs/StudentDataRetentionJob.scala
  conf/application.conf
  conf/evolutions/default/149.sql
  test/features/admin/SettingsControllerSpec.scala
  test/retention/RetentionPolicySpec.scala
  test/retention/RetentionReportSpec.scala
  test/retention/RetentionServiceSpec.scala
Due: none

CSCEXAM-1658 Stopped resending stranded IOP items
  app/features/iop/collaboration/services/CollaborativeExamLoaderService.scala
  app/models/enrolment/ExamParticipation.scala
  app/models/iop/ExternalExam.scala
  app/services/enrolment/NoShowHandlerImpl.scala
  app/services/iop/IopDelivery.scala
  app/system/jobs/AssessmentTransferService.scala
  app/system/jobs/CollaborativeAssessmentSenderService.scala
  conf/evolutions/default/150.sql
  test/iop/IopDeliveryJobsSpec.scala
  test/iop/IopDeliverySpec.scala
Due: none

CSCEXAM-1658 Deleted bookings XM can't delete
  app/features/retention/services/RetentionRepository.scala
  app/features/retention/services/RetentionService.scala
  test/retention/RetentionIopSpec.scala
  test/retention/RetentionServiceSpec.scala
Due: none

CSCEXAM-1658 Kept retrying attempts weekly
  app/models/enrolment/ExamParticipation.scala
  app/models/iop/ExternalExam.scala
  app/services/iop/IopDelivery.scala
  app/system/jobs/AssessmentTransferService.scala
  app/system/jobs/CollaborativeAssessmentSenderService.scala
  conf/evolutions/default/150.sql
  test/iop/IopDeliveryJobsSpec.scala
  test/iop/IopDeliverySpec.scala
Due: none

CSCEXAM-1658 Centralised retention limits
  app/features/retention/services/RetentionPolicy.scala
  app/features/retention/services/RetentionRepository.scala
  app/features/retention/services/RetentionRules.scala
  app/services/enrolment/NoShowHandlerImpl.scala
  app/services/iop/IopDelivery.scala
  app/services/retention/RetentionLimits.scala
  app/system/jobs/StudentDataRetentionJob.scala
Due: none

Rename "i18n_weighted_multiple_choice_description_3" to "i18n_multiple_choice_shuffle_options_description"
  ui/src/app/question/editor/common/types/weighted-multiple-choice.component.html
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier

Add missing description for multichoice
  ui/src/app/question/editor/common/types/multiple-choice.component.html
Due: prettier

CSCEXAM-1658 Deleted users with Ebean
  app/features/retention/services/IopRetentionClient.scala
  app/features/retention/services/RetentionPolicy.scala
  app/features/retention/services/RetentionRepository.scala
  app/features/retention/services/RetentionService.scala
  app/features/retention/services/XmRetentionClient.scala
  app/system/SystemInitializer.scala
  test/retention/RetentionSafetySpec.scala
Due: none

CSCEXAM-1643 Fixed attachment merging in exam edit
  ui/src/app/question/question.service.ts
Due: prettier, eslint

CSCEXAM-000 Renamed some of the config keys
  app/features/lti/services/LtiService.scala
  conf/application.conf
  conf/dev.conf
  test/lti/LtiFlowSpec.scala
  test/lti/LtiServiceSpec.scala
Due: none

CSCEXAM-1658 Added reports of what is removed
  app/features/retention/services/RetentionPolicy.scala
  app/features/retention/services/RetentionReportFile.scala
  app/features/retention/services/RetentionRepository.scala
  app/features/retention/services/RetentionRules.scala
  app/features/retention/services/RetentionService.scala
  conf/application.conf
  test/retention/RetentionReportSpec.scala
  test/retention/RetentionServiceSpec.scala
Due: none
