Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

lefthook.yml:

# SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium
#
# SPDX-License-Identifier: EUPL-1.2

pre-commit:
  commands:
    prettier:
      tags: frontend style
      glob: "**/*.{ts,html}"
      run: npx prettier --write {staged_files}
    prettier-java:
      tags: backend style
      glob: "**/*.java"
      run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}
    eslint:
      tags: frontend rules
      glob: "**/*.ts"
      run: npx eslint --fix {staged_files}

CSCEXAM-1049 Add new translations for weighted multic choice
  ui/src/app/question/basequestion/multiple-choice.component.html
  ui/src/app/question/basequestion/weighted-multiple-choice-option.component.ts
  ui/src/app/question/examquestion/weighted-multichoice.component.ts
  ui/src/app/shared/dialogs/modal.service.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

Fix exam booking button conditions
  ui/src/app/enrolment/active/helpers/active-enrolment-menu.component.html
Due: prettier

Rename feedback template file
  ui/src/app/review/assessment/feedback/feedback.component.ts
  ui/src/app/review/assessment/feedback/feedback.template.html
  ui/src/app/review/assessment/feedback/statement.component.ts
Due: prettier, eslint

Fix room out of service translation keys
  ui/src/app/calendar/calendar.service.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1487, 1480 Fix disappearing enrolment view Fix decimal in number fields for HTML5
  ui/src/app/dashboard/student/student-dashboard.component.ts
  ui/src/app/question/basequestion/claim-choice.component.html
  ui/src/app/question/basequestion/weighted-multiple-choice-option.component.ts
  ui/src/app/question/examquestion/claim-choice.component.html
  ui/src/app/question/examquestion/exam-question.component.html
  ui/src/app/question/examquestion/weighted-multichoice.component.ts
Due: prettier, eslint

CSCEXAM-1500 Fix exam booking button conditions
  ui/src/app/enrolment/active/helpers/active-enrolment-menu.component.html
Due: prettier

CSCEXAM-1150 Fix room out of service translation keys
  ui/src/app/calendar/calendar.service.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1319, 1468 Add statement to feedback template Fix attachment title Add feedback template file
  ui/src/app/review/assessment/feedback/feedback.component.ts
  ui/src/app/review/assessment/feedback/feedback.template.html
  ui/src/app/review/assessment/feedback/statement.component.ts
  ui/src/app/shared/attachment/attachment.service.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1159 Enhanced exam search with tabbed interface and two-column layout
  ui/src/app/app.routes.ts
  ui/src/app/dashboard/staff/staff.routes.ts
  ui/src/app/enrolment/active/active-enrolment.component.html
  ui/src/app/enrolment/active/active-enrolment.component.scss
  ui/src/app/enrolment/active/helpers/active-enrolment-menu.component.html
  ui/src/app/enrolment/exams/exam-enrolment-details.component.html
  ui/src/app/enrolment/search/collaborative-exam-search.component.ts
  ui/src/app/enrolment/search/exam-search-result.component.ts
  ui/src/app/enrolment/search/exam-search-tabs.component.scss
  ui/src/app/enrolment/search/exam-search-tabs.component.ts
  ui/src/app/enrolment/search/exam-search.component.ts
  ui/src/app/enrolment/search/exam-search.service.ts
  ui/src/app/navigation/navigation.service.ts
  ui/src/styles.scss
Due: prettier, eslint

CSCEXAM-000 Dev support for Dockerized Postgres
  .dockerignore
  DOCKER.md
  Makefile
  README.md
  docker-compose.yml
  docker/init-db.sh
  docker/init-test-db.sh
Due: none

CSCEXAM-000 Dockerize whole exam app for dev use - separate containers for postgres and exam app - use nginx as proxy between exam frontend and backend
  DOCKER.md
  Dockerfile
  README.md
  app/controllers/admin/SettingsController.java
  app/controllers/user/SessionController.java
  conf/docker.conf
  docker-compose.yml
  docker/Dockerfile
  docker/README.md
  docker/init-db.sh
  docker/nginx.conf
  docker/start.sh
Due: prettier-java

CSCEXAM-000 Add missing license headers
  DOCKER.md
  Dockerfile
  docker/Dockerfile
  docker/README.md
Due: none

CSCEXAM-000 Use Node 24 in CI and skip lefthook installation
  .github/workflows/build.yml
Due: none

CSCEXAM-000 Run nginx in its own container
  DOCKER.md
  Dockerfile
  README.md
  conf/docker.conf
  docker-compose.yml
  docker/Dockerfile
  docker/README.md
  docker/nginx.conf
  docker/start.sh
Due: none

CSCEXAM-000 test Docker setup in CI
  .github/workflows/build.yml
Due: none

CSCEXAM-000 try to fix docker tests
  .github/workflows/build.yml
Due: none

CSCEXAM-000 SSL support for Nginx
  .github/workflows/build.yml
  .gitignore
  conf/docker.conf
  docker-compose.yml
  docker/nginx-ssl.conf
Due: none

CSCEXAM-1503 Fix incorrect process of copying student exams
  app/controllers/exam/ExamSectionController.java
  app/controllers/iop/collaboration/impl/CollaborativeExamController.java
  app/controllers/question/QuestionController.java
  app/models/sections/ExamSectionQuestion.java
  ui/src/app/question/library/library.component.scss
Due: prettier-java

CSCEXAM-1493 Disabling of evaluation type of essay if lottery on
  ui/src/app/question/basequestion/essay.component.ts
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/app/question/basequestion/question-body.component.ts
Due: prettier, eslint

CSCEXAM-000 Fix formatting issues
  app/controllers/enrolment/ExaminationEventController.java
  app/controllers/enrolment/ReservationController.java
  app/impl/CalendarHandlerImpl.java
  app/repository/EnrolmentRepository.java
  app/repository/ExaminationRepository.java
  app/system/SystemRequestHandler.java
Due: prettier-java

Add english formatted title for booking calendar Fix time formatting eventTimeFormat
  ui/src/app/calendar/booking-calendar.component.ts
Due: prettier, eslint

CSCEXAM-1431 Support SEB's new JavaScript API
  angular.json
  app/controllers/examination/ExaminationController.java
  app/miscellaneous/config/ByodConfigHandler.scala
  app/miscellaneous/config/ByodConfigHandlerImpl.scala
  app/repository/EnrolmentRepository.java
  conf/template/seb.template.plist
  project/Karma.scala
  project/MockCourseInfo.scala
  project/NoOp.scala
  project/Protractor.scala
  project/WebpackServer.scala
  test/functional/ByodConfigHandlerTest.java
  ui/src/app/interceptors/auth-interceptor.prod.ts
  ui/src/app/interceptors/auth-interceptor.ts
  ui/src/app/shared/seb/seb-api.service.ts
Due: prettier, prettier-java, eslint

Restore build.yml codeql.yml
  .github/workflows/build.yml
  .github/workflows/codeql.yml
Due: none

CSCEXAM-1159 Move Collab search to Regular search as a tab
  ui/src/app/app.routes.ts
  ui/src/app/enrolment/search/collaborative-exam-search.component.ts
  ui/src/app/enrolment/search/exam-search.component.ts
  ui/src/app/navigation/navigation.service.ts
Due: prettier, eslint

Refine exam-title-button styles
  ui/src/app/enrolment/search/collaborative-exam-search.component.ts
  ui/src/styles.scss
Due: prettier, eslint

Enhance exam search component with sorting functionality
  ui/src/app/enrolment/search/exam-search.component.ts
Due: prettier, eslint

Restore comments
  ui/src/app/enrolment/active/helpers/active-enrolment-menu.component.html
Due: prettier

Add margin to exam search tabs
  ui/src/app/enrolment/search/collaborative-exam-search.component.ts
  ui/src/app/enrolment/search/exam-search.component.ts
Due: prettier, eslint

CSCEXAM-1159 Implement two-column layout for exam search results and dashboard
  ui/src/app/dashboard/staff/staff.routes.ts
  ui/src/app/enrolment/active/active-enrolment.component.html
  ui/src/app/enrolment/active/active-enrolment.component.scss
  ui/src/app/enrolment/active/helpers/active-enrolment-menu.component.html
  ui/src/app/enrolment/exams/exam-enrolment-details.component.html
  ui/src/app/enrolment/search/exam-search-result.component.ts
  ui/src/app/enrolment/search/exam-search.component.scss
  ui/src/app/enrolment/search/exam-search.component.ts
  ui/src/app/enrolment/search/exam-search.service.ts
  ui/src/app/navigation/navigation.service.ts
  ui/src/styles.scss
Due: prettier, eslint
