Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

lefthook.yml:

# SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium
#
# SPDX-License-Identifier: EUPL-1.2

pre-commit:
  commands:
    prettier:
      tags: frontend style
      glob: "**/*.{ts,html}"
      run: npx prettier --write {staged_files}
    prettier-java:
      tags: backend style
      glob: "**/*.java"
      run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}
    eslint:
      tags: frontend rules
      glob: "**/*.ts"
      run: npx eslint --fix {staged_files}

CSCEXAM-1597 Fixed exception event signaling
  ui/src/app/facility/rooms/room.component.html
  ui/src/app/facility/rooms/room.component.ts
  ui/src/app/facility/schedule/exception-delete-dialog.component.ts
  ui/src/app/facility/schedule/exceptions.component.ts
Due: prettier, eslint

CSCEXAM-1598 Fixed section selection signaling
  ui/src/app/calendar/calendar.component.ts
Due: prettier, eslint

CSCEXAM-1574 Added styling for certain elements
  app/validation/core/HtmlSafelist.scala
  ui/src/styles.scss
Due: none

CSCEXAM-1575 Adjusted participation end times
  app/features/examination/services/ExaminationService.scala
Due: none

CSCEXAM-1602 Turned off question lottery
  app/features/exam/services/ExamSectionService.scala
  ui/src/app/exam/editor/sections/section.component.ts
Due: prettier, eslint

CSCEXAM-1605 Added proper null check for prefix
  ui/src/app/shared/miscellaneous/course-code.service.ts
Due: prettier, eslint

CSCEXAM-1577 Changed signaling of forced scores
  app/features/assessment/services/ReviewService.scala
  ui/src/app/review/assessment/questions/cloze-test.component.html
  ui/src/app/review/assessment/questions/cloze-test.component.ts
  ui/src/app/review/assessment/questions/essay-question.component.html
  ui/src/app/review/assessment/questions/essay-question.component.ts
  ui/src/app/review/assessment/questions/multi-choice-question.component.html
  ui/src/app/review/assessment/questions/multi-choice-question.component.ts
Due: prettier, eslint

CSCEXAM-1582 Fixed early-examination signal init
  ui/src/app/examination/examination-status.service.ts
  ui/src/app/navigation/navigation.component.ts
Due: prettier, eslint

CSCEXAM-1582 Moved nav hiding config to routes
  ui/src/app/app.routes.ts
  ui/src/app/navigation/navigation.component.ts
  ui/src/app/navigation/navigation.service.ts
Due: prettier, eslint

CSCEXAM-1591 Added a new enrolment service
  app/features/enrolment/controllers/EnrolmentController.scala
  app/features/enrolment/services/EnrolmentService.scala
  conf/routes
  ui/src/app/enrolment/active/dialogs/select-examination-event-dialog.component.ts
  ui/src/app/enrolment/enrolment.service.ts
  ui/src/app/enrolment/search/exam-search-result.component.ts
Due: prettier, eslint

CSCEXAM-1581 Added instructions for cloze test used
  ui/src/app/question/editor/common/basic-info.component.html
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/en po
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/en.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/fi.po
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/fi.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/model.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/sv.po
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/sv.ts
  ui/src/app/shared/miscellaneous/course-code.service.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1576 Added missing fields to JSON payload
  app/features/assessment/services/ReviewService.scala
  ui/src/app/review/assessment/questions/multi-choice-question.component.html
Due: prettier

CSCEXAM-1579 Fixed linked signal setup
  ui/src/app/review/assessment/feedback/feedback.component.ts
Due: prettier, eslint

CSCEXAM-1580 Added missing translation
  ui/src/app/review/assessment/feedback/feedback.component.ts
Due: prettier, eslint

CSCEXAM-000 Add Claude instructions
  CLAUDE.md
Due: none

CSCEXAM-000 Added missing REUSE headers
  CLAUDE.md
Due: none

CSCEXAM-1585 Modified calculation of thresholds
  app/impl/AutoEvaluationHandlerImpl.scala
Due: none

CSCEXAM-1561 Added preservation of parent relation
  app/controllers/exam/copy/ExamCopyContext.java
  test/resources/externalExamAttainment.json
Due: prettier-java

CSCEXAM-1595 Fixed a question import corner case
  app/features/iop/transfer/services/DataTransferService.scala
  test/iop/DataTransferControllerSpec.scala
Due: none

CSCEXAM-1599 Added handlling of feedback config
  app/features/iop/transfer/services/ExternalExamService.scala
  app/services/exam/ExternalExamHandler.scala
Due: none

Increase editor min height
  ui/src/app/shared/ckeditor/ckeditor.component.scss
  ui/src/app/shared/ckeditor/ckeditor.styles.scss
Due: none

Fix comment
  ui/src/app/shared/ckeditor/ckeditor.component.scss
Due: none

Increase font size of offending small elements
  ui/src/app/enrolment/active/active-enrolment.component.html
  ui/src/app/enrolment/active/helpers/active-enrolment-menu.component.html
  ui/src/app/exam/editor/common/examination-type-picker.component.ts
  ui/src/app/question/editor/common/types/multiple-choice.component.html
  ui/src/app/question/editor/common/types/weighted-multiple-choice.component.html
  ui/src/app/reservation/admin/change-machine-dialog.component.ts
  ui/src/app/reservation/admin/remove-reservation-dialog.component.ts
  ui/src/styles.scss
Due: prettier, eslint

CSCEXAM-1583 Changed styling of focused buttons
  ui/src/styles.scss
Due: none

CSCEXAM-1588 Improved examination toolbar
  ui/src/app/examination/examination.component.html
  ui/src/app/examination/examination.component.scss
  ui/src/app/examination/examination.component.ts
  ui/src/app/examination/navigation/examination-navigation.component.ts
  ui/src/app/examination/navigation/examination-toolbar.component.html
  ui/src/app/examination/navigation/examination-toolbar.component.scss
  ui/src/app/examination/navigation/examination-toolbar.component.ts
  ui/src/app/navigation/navigation.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint
