Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

prettier:
  tags: frontend style
  run: npx prettier --write {staged_files}

prettier-java:
  tags: backend style
  run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}

eslint:
  tags: frontend rules
  run: npx eslint --fix {staged_files}

CSCEXAM-1669 Fix collab exam section add and preview
  app/features/iop/collaboration/controllers/CollaborativeExamController.scala
  app/features/iop/collaboration/controllers/CollaborativeExamSectionController.scala
  app/features/iop/collaboration/services/CollaborativeExamSectionService.scala
  test/iop/CollaborativeExamSectionControllerSpec.scala
Due: none

CSCEXAM-1670 Fixed display of collaborative exams
  app/features/iop/collaboration/controllers/CollaborativeReviewController.scala
  test/iop/CollaborativeReviewExportSpec.scala
  ui/src/app/review/listing/categories/graded-logged.component.html
  ui/src/app/review/listing/review-list.service.ts
Due: prettier, eslint

CSCEXAM-1671 Fixed short exam slot height
  ui/src/app/calendar/booking-calendar.component.ts
  ui/src/app/calendar/calendar.component.html
  ui/src/app/calendar/helpers/slot-picker.component.html
  ui/src/app/calendar/helpers/slot-picker.component.ts
  ui/src/styles.scss
Due: prettier, eslint

CSCEXAM-1690 Fixed collaborative assessment copy
  app/controllers/exam/copy/ExamCopyContext.java
  app/controllers/iop/transfer/impl/ExternalExamController.java
  app/models/sections/ExamSectionQuestion.java
  test/controllers/iop/ExternalExamControllerTest.java
Due: prettier-java

CSCEXAM-1690 Fixed collaborative assessment copy
  app/features/exam/copy/ExamCopyContext.scala
  app/models/sections/ExamSectionQuestion.scala
  app/services/exam/ExternalExamHandler.scala
  test/iop/ExternalExamControllerSpec.scala
Due: none

CSCEXAM-000 Bump version to 6.4.5
  build.sbt
  conf/application.conf
  package-lock.json
  package.json
Due: none

Path conditions:
  prettier: any of: **/*.{ts,html}
  prettier-java: any of: **/*.java
  eslint: any of: **/*.ts
