Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

prettier:
  tags: frontend style
  run: npx prettier --write {staged_files}

prettier-java:
  tags: backend style
  run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}

eslint:
  tags: frontend rules
  run: npx eslint --fix {staged_files}

CSCEXAM-1400 New error view for external visiting students
  app/controllers/user/SessionController.java
  app/miscellaneous/config/ConfigReader.scala
  app/miscellaneous/config/ConfigReaderImpl.scala
  app/repository/EnrolmentRepository.java
  test/controllers/iop/ExternalCalendarInterfaceTest.java
  ui/src/app/app.routes.ts
  ui/src/app/enrolment/wrong-location/unknown-location.component.html
  ui/src/app/enrolment/wrong-location/unknown-location.component.ts
  ui/src/app/interceptors/error-interceptor.ts
  ui/src/app/interceptors/examination-interceptor.ts
  ui/src/app/navigation/navigation.service.ts
  ui/src/app/session/session.service.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, prettier-java, eslint

CSCEXAM-105 Fix email template content
  app/impl/mail/EmailComposerImpl.scala
  app/models/exam/Exam.java
Due: prettier-java

CSCEXAM-1216 Fix some problems with single role users
  app/controllers/user/SessionController.java
Due: prettier-java

CSCEXAM-1216 Restore original login logic - external account users may only login as students
  app/controllers/user/SessionController.java
  ui/src/app/session/eula/external-login-confirmation-dialog.component.ts
Due: prettier, prettier-java, eslint

CSCEXAM-1216 Add only student role for new external users
  app/controllers/user/SessionController.java
Due: prettier-java

Fix build badge link in README.md
  README.md
Due: none

CSCEAM-1403 Allow collab exam search for support role
  app/controllers/iop/collaboration/impl/CollaborativeExamController.java
  ui/src/app/reservation/reservations.component.ts
Due: prettier, prettier-java, eslint

Refactor attachement buttons to be semantically accessible
  ui/src/app/exam/editor/basic/basic-exam-info.component.html
  ui/src/app/exam/editor/common/examination-type-picker.component.ts
  ui/src/app/exam/editor/sections/section-question.component.html
  ui/src/app/maturity/listing/reviewed-inspections.component.html
  ui/src/app/maturity/listing/unfinished-inspections.component.html
  ui/src/app/maturity/reporting/maturity-reporting.component.html
  ui/src/app/question/basequestion/multiple-choice.component.html
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/app/question/examquestion/exam-question.component.html
  ui/src/app/question/examquestion/multichoice.component.ts
  ui/src/app/question/examquestion/weighted-multichoice.component.ts
  ui/src/app/review/assessment/feedback/feedback.template.html
  ui/src/app/review/assessment/general/general-info.component.html
  ui/src/app/review/assessment/general/participation.component.ts
  ui/src/app/review/assessment/grading/grading.component.html
  ui/src/app/review/assessment/maturity/grading.component.html
  ui/src/app/review/assessment/questions/cloze-test.component.html
  ui/src/app/review/assessment/questions/essay-question.component.html
  ui/src/app/review/assessment/questions/multi-choice-question.component.html
  ui/src/app/review/listing/categories/graded-logged.component.html
  ui/src/app/review/listing/speed-review.component.html
  ui/src/app/review/listing/summary/exam-summary.component.html
  ui/src/app/review/questions/assessment/essay-answer.component.html
  ui/src/app/review/questions/assessment/question-assessment.component.html
  ui/src/styles.scss
Due: prettier, eslint

CSCEXAM-1541 Fix essay question grading status text
  ui/src/app/review/assessment/questions/essay-question.component.html
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier

Refactor attachement buttons to be semantically accessible
  ui/src/app/exam/editor/basic/basic-exam-info.component.html
  ui/src/app/exam/editor/common/examination-type-picker.component.ts
  ui/src/app/exam/editor/publication/organisation-picker.component.ts
  ui/src/app/exam/editor/sections/exam-material-picker.component.html
  ui/src/app/exam/editor/sections/section-question.component.html
  ui/src/app/maturity/listing/reviewed-inspections.component.html
  ui/src/app/maturity/listing/unfinished-inspections.component.html
  ui/src/app/maturity/reporting/maturity-reporting.component.html
  ui/src/app/question/basequestion/multiple-choice.component.html
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/app/question/examquestion/exam-question.component.html
  ui/src/app/question/examquestion/multichoice.component.ts
  ui/src/app/question/examquestion/weighted-multichoice.component.ts
  ui/src/app/question/library/results/library-results.component.html
  ui/src/app/question/question.shared.scss
  ui/src/app/review/assessment/feedback/feedback.template.html
  ui/src/app/review/assessment/general/general-info.component.html
  ui/src/app/review/assessment/general/participation.component.ts
  ui/src/app/review/assessment/grading/grading.component.html
  ui/src/app/review/assessment/maturity/grading.component.html
  ui/src/app/review/assessment/questions/cloze-test.component.html
  ui/src/app/review/assessment/questions/essay-question.component.html
  ui/src/app/review/assessment/questions/multi-choice-question.component.html
  ui/src/app/review/listing/categories/graded-logged.component.html
  ui/src/app/review/listing/speed-review.component.html
  ui/src/app/review/listing/summary/exam-summary.component.html
  ui/src/app/review/questions/assessment/essay-answer.component.html
  ui/src/app/review/questions/assessment/question-assessment.component.html
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
  ui/src/styles.scss
Due: prettier, eslint

CSCEXAM-1403 Fix for searching collab exams in support role
  app/controllers/iop/collaboration/impl/CollaborationController.java
Due: prettier-java

CSCEXAM-1216 Translation changes
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/sv.json
Due: none

CSCEXAM-1216 Fix error handling during login failure
  ui/src/app/interceptors/error-interceptor.ts
  ui/src/app/session/dev/dev-login.component.ts
  ui/src/app/session/session.service.ts
Due: prettier, eslint

CSCEXAM-1216 Fix problem with role selection cancellation
  ui/src/app/session/role/role-picker-dialog.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1393 Refactor attachement buttons to be semantically accessible
  ui/src/app/exam/editor/basic/basic-exam-info.component.html
  ui/src/app/exam/editor/common/examination-type-picker.component.ts
  ui/src/app/exam/editor/publication/organisation-picker.component.ts
  ui/src/app/exam/editor/sections/exam-material-picker.component.html
  ui/src/app/exam/editor/sections/section-question.component.html
  ui/src/app/maturity/listing/reviewed-inspections.component.html
  ui/src/app/maturity/listing/unfinished-inspections.component.html
  ui/src/app/maturity/reporting/maturity-reporting.component.html
  ui/src/app/question/basequestion/multiple-choice.component.html
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/app/question/examquestion/exam-question.component.html
  ui/src/app/question/examquestion/multichoice.component.ts
  ui/src/app/question/examquestion/weighted-multichoice.component.ts
  ui/src/app/question/library/results/library-results.component.html
  ui/src/app/question/question.shared.scss
  ui/src/app/review/assessment/feedback/feedback.template.html
  ui/src/app/review/assessment/general/general-info.component.html
  ui/src/app/review/assessment/general/participation.component.ts
  ui/src/app/review/assessment/grading/grading.component.html
  ui/src/app/review/assessment/maturity/grading.component.html
  ui/src/app/review/assessment/questions/cloze-test.component.html
  ui/src/app/review/assessment/questions/essay-question.component.html
  ui/src/app/review/assessment/questions/multi-choice-question.component.html
  ui/src/app/review/listing/categories/graded-logged.component.html
  ui/src/app/review/listing/speed-review.component.html
  ui/src/app/review/listing/summary/exam-summary.component.html
  ui/src/app/review/questions/assessment/essay-answer.component.html
  ui/src/app/review/questions/assessment/question-assessment.component.html
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
  ui/src/styles.scss
Due: prettier, eslint

CSCEXAM-1216 Fix routing for unknown location view
  app/repository/EnrolmentRepository.java
  ui/src/app/interceptors/examination-interceptor.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, prettier-java, eslint

CSCEXAM-1216 Improve unknown location UI
  ui/src/app/enrolment/wrong-location/unknown-location.component.html
Due: prettier

CSCEXAM-1216 Furhter improve unknown location UI
  ui/src/app/enrolment/wrong-location/unknown-location.component.html
Due: prettier

CSCEXAM-1216 UI enhancements for wrong/unknown location views
  ui/src/app/enrolment/wrong-location/unknown-location.component.html
  ui/src/app/enrolment/wrong-location/unknown-location.component.ts
  ui/src/app/enrolment/wrong-location/wrong-location.component.html
  ui/src/app/enrolment/wrong-location/wrong-location.component.ts
Due: prettier, eslint

CSCEXAM-000 Fix formatting issues
  app/controllers/admin/ReportController.java
  app/controllers/admin/StatisticsController.java
  app/controllers/enrolment/ExaminationEventController.java
  app/controllers/examination/ExaminationController.java
  app/controllers/iop/collaboration/impl/CollaborativeAttachmentController.java
  app/controllers/iop/transfer/impl/ExternalCalendarController.java
  app/impl/CalendarHandlerImpl.java
  app/miscellaneous/datetime/DateTimeHandlerImpl.java
  app/repository/EnrolmentRepository.java
  app/repository/ExaminationRepository.java
  app/system/SystemRequestHandler.java
  test/controllers/iop/CollaborativeAttachmentControllerTest.java
Due: prettier-java

CSCEXAM-1405 Accessibility and UX improvements
  package-lock.json
  ui/src/app/exam/editor/common/examination-type-picker.component.ts
  ui/src/app/maturity/listing/reviewed-inspections.component.html
  ui/src/app/reservation/reservation-details.component.html
Due: prettier, eslint

CSCEXAM-1528 Fix permission check for question review
  app/features/assessment/services/QuestionReviewService.scala
Due: none

CSCEXAM-1267 Enable adding registry info for rejected assessments
  app/features/assessment/services/ReviewService.scala
  ui/src/app/review/assessment/assessment.service.ts
  ui/src/assets/i18n/fi.json
Due: prettier, eslint

Path conditions:
  prettier: any of: **/*.{ts,html}
  prettier-java: any of: **/*.java
  eslint: any of: **/*.ts
