Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

lefthook.yml:

# SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium
#
# SPDX-License-Identifier: EUPL-1.2

pre-commit:
  commands:
    prettier:
      tags: frontend style
      glob: "**/*.{ts,html}"
      run: npx prettier --write {staged_files}
    prettier-java:
      tags: backend style
      glob: "**/*.java"
      run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}
    eslint:
      tags: frontend rules
      glob: "**/*.ts"
      run: npx eslint --fix {staged_files}

CSCEXAM-000 Fix issues according to acceptance test findings
  app/features/exam/services/ExamService.scala
  ui/src/app/exam/editor/assessment/exam-assessment.component.html
  ui/src/app/exam/editor/assessment/exam-assessment.component.ts
  ui/src/app/exam/editor/assessment/exam-feedback-config.component.ts
  ui/src/app/exam/editor/basic/basic-exam-info.component.html
  ui/src/app/exam/editor/basic/basic-exam-info.component.ts
  ui/src/app/exam/editor/exam-tabs.service.ts
  ui/src/app/exam/editor/publication/exam-publication.component.ts
  ui/src/app/exam/editor/sections/sections.component.ts
  ui/src/app/navigation/navigation.component.scss
  ui/src/app/review/assessment/questions/cloze-test.component.html
  ui/src/app/review/assessment/questions/essay-question.component.html
  ui/src/app/review/assessment/questions/multi-choice-question.component.html
  ui/src/app/review/listing/categories/archived.component.ts
  ui/src/app/review/listing/categories/graded-logged.component.ts
Due: prettier, eslint

CSCEXAM-000 Fixes for collaborative exam editing
  app/features/assessment/controllers/ExamAnswerController.scala
  app/features/exam/services/ExamService.scala
  app/features/iop/collaboration/controllers/CollaborativeExamController.scala
  app/features/iop/collaboration/services/CollaborativeExamService.scala
  ui/src/app/enrolment/finished/exam-feedback.component.html
  ui/src/app/enrolment/finished/exam-feedback.component.scss
  ui/src/app/enrolment/finished/exam-feedback.component.ts
  ui/src/app/enrolment/finished/exam-participation.component.html
  ui/src/app/enrolment/finished/exam-participations.component.html
  ui/src/app/enrolment/finished/exam-participations.component.scss
  ui/src/app/enrolment/finished/exam-participations.component.ts
  ui/src/app/enrolment/search/collaborative-exam-search.component.ts
  ui/src/app/exam/editor/basic/basic-exam-info.component.html
  ui/src/app/exam/editor/basic/basic-exam-info.component.ts
  ui/src/app/exam/editor/exam-tabs.service.spec.ts
  ui/src/app/exam/editor/publication/collaborative-exam-owner-picker.component.spec.ts
  ui/src/app/exam/editor/publication/collaborative-exam-owner-picker.component.ts
  ui/src/app/exam/editor/publication/exam-publication.component.ts
  ui/src/app/exam/editor/publication/examination-events.component.ts
  ui/src/app/exam/editor/sections/section-question.component.ts
  ui/src/app/exam/editor/sections/section.component.ts
  ui/src/app/exam/exam.service.spec.ts
  ui/src/app/exam/exam.service.ts
  ui/src/app/navigation/navigation.component.html
  ui/src/app/navigation/navigation.component.scss
  ui/src/app/navigation/navigation.component.ts
  ui/src/app/question/editor/base/question-collaborative-modal.spec.ts
  ui/src/app/question/editor/base/question.component.ts
  ui/src/app/shared/ckeditor/ckeditor.component.ts
  ui/src/app/shared/sorting/order-by.pipe.spec.ts
  ui/src/app/shared/sorting/order-by.pipe.ts
  ui/src/styles.scss
Due: prettier, eslint

CSCEXAM-000 Truly responsive booking calendar
  ui/src/app/calendar/booking-calendar.component.ts
  ui/src/styles.scss
Due: prettier, eslint

CSCEXAM-000 Improve initial style bundle sizes - move ckeditor styles from global to lazy-loaded installation
  angular.json
  build.sbt
  package.json
  ui/src/app/app.component.ts
  ui/src/app/calendar/booking-calendar.component.ts
  ui/src/app/calendar/calendar.component.html
  ui/src/app/calendar/calendar.component.ts
  ui/src/app/calendar/helpers/accessibility-picker.component.ts
  ui/src/app/calendar/helpers/exam-info.component.scss
  ui/src/app/calendar/helpers/exam-info.component.ts
  ui/src/app/calendar/helpers/organisation-picker.component.ts
  ui/src/app/calendar/helpers/reservation-confirmation.component.scss
  ui/src/app/calendar/helpers/reservation-confirmation.component.ts
  ui/src/app/calendar/helpers/selected-room.component.scss
  ui/src/app/calendar/helpers/selected-room.component.ts
  ui/src/app/calendar/helpers/slot-picker.component.html
  ui/src/app/calendar/helpers/slot-picker.component.scss
  ui/src/app/calendar/helpers/slot-picker.component.ts
  ui/src/app/enrolment/active/active-enrolment.component.scss
  ui/src/app/enrolment/finished/exam-participations.component.scss
  ui/src/app/shared/ckeditor/ckeditor.component.scss
  ui/src/app/shared/ckeditor/ckeditor.component.ts
  ui/src/app/shared/definitions.scss
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
  ui/src/styles.scss
Due: prettier, eslint

CSCEXAM-000 Fix CKE style loading
  ui/src/app/shared/ckeditor/ckeditor.component.ts
  ui/src/styles.scss
Due: prettier, eslint

CSCEXAM-000 Claim choice option validation improvement
  app/features/iop/collaboration/controllers/CollaborativeExamSectionController.scala
  app/features/question/services/QuestionService.scala
  ui/src/app/question/editor/common/types/claim-choice-validators.ts
  ui/src/app/question/editor/common/types/claim-choice.component.html
  ui/src/app/question/editor/common/types/claim-choice.component.ts
Due: prettier, eslint

CSCEXAM-000 Fix mass editing of room exception events
  ui/src/app/calendar/helpers/exam-info.component.ts
  ui/src/app/calendar/helpers/slot-picker.component.scss
  ui/src/app/facility/rooms/room.service.ts
  ui/src/app/facility/schedule/exception-dialog.component.ts
Due: prettier, eslint

CSCEXAM-000 Fix problems with CSV generation
  app/database/EbeanQueryExtensions.scala
  app/features/admin/services/StatisticsService.scala
  app/features/assessment/controllers/ExamRecordController.scala
  app/features/assessment/services/ExamRecordService.scala
  app/features/iop/collaboration/services/CollaborativeExamService.scala
  app/services/csv/CsvBuilder.scala
  app/services/csv/CsvBuilderImpl.scala
  app/services/file/FileHandlerImpl.scala
  ui/src/app/enrolment/active/active-enrolment.component.html
  ui/src/app/review/assessment/sections/section.component.html
Due: prettier

CSCEXAM-000 Fixes for student's own answers view
  app/features/assessment/services/ExamAnswerService.scala
  ui/src/app/dashboard/staff/teacher/categories/exam-list-category.component.ts
  ui/src/app/dashboard/staff/teacher/teacher-dashboard.component.html
  ui/src/app/dashboard/staff/teacher/teacher-dashboard.component.ts
  ui/src/app/enrolment/finished/exam-answers-dialog.component.html
  ui/src/app/enrolment/finished/exam-answers-dialog.component.scss
  ui/src/app/enrolment/finished/exam-answers-dialog.component.ts
  ui/src/app/exam/editor/basic/basic-exam-info.component.html
  ui/src/app/exam/editor/basic/basic-exam-info.component.ts
  ui/src/app/examination/question/examination-cloze-test.component.ts
  ui/src/app/examination/question/examination-essay-question.component.ts
  ui/src/app/examination/question/examination-question.component.html
  ui/src/app/navigation/navigation.component.scss
Due: prettier, eslint

CSCEXAM-000 Fix language inspection statement dialog opening
  ui/src/app/maturity/dialogs/inspection-statement-dialog.component.ts
  ui/src/app/maturity/language-inspections.service.ts
Due: prettier, eslint

CSCEXAM-000 Fix making reservations for collaborative exams
  app/features/iop/collaboration/controllers/CollaborativeCalendarController.scala
  app/features/iop/collaboration/controllers/CollaborativeExternalCalendarController.scala
  app/features/iop/collaboration/services/CollaborativeCalendarService.scala
  app/features/iop/collaboration/services/CollaborativeExamLoaderService.scala
Due: none

CSCEXAM-000 Styling fixes for examination views
  app/features/iop/collaboration/services/CollaborativeCalendarService.scala
  ui/src/app/examination/clock/examination-clock.component.scss
  ui/src/app/examination/clock/examination-clock.component.ts
  ui/src/app/examination/examination.component.ts
  ui/src/app/examination/header/examination-header.component.scss
  ui/src/app/examination/header/examination-header.component.ts
  ui/src/app/examination/navigation/examination-toolbar.component.html
  ui/src/app/examination/navigation/examination-toolbar.component.scss
  ui/src/app/examination/navigation/examination-toolbar.component.ts
Due: prettier, eslint

CSCEXAM-000 Better usage of PathProperties API in queries
  app/features/admin/controllers/StatisticsController.scala
  app/features/admin/services/StatisticsService.scala
  app/features/assessment/services/ReviewService.scala
  app/features/enrolment/services/ReservationService.scala
  app/features/exam/services/ExamSectionService.scala
  app/features/exam/services/ExamService.scala
  app/features/facility/services/ExamMachineService.scala
  app/features/integration/services/ExamAPIService.scala
  app/features/integration/services/ReportAPIService.scala
  app/features/integration/services/ReservationAPIService.scala
  app/features/iop/transfer/services/DataTransferService.scala
  app/features/iop/transfer/services/ExternalExamService.scala
  app/features/question/services/QuestionService.scala
  app/features/user/controllers/UserController.scala
  app/features/user/services/UserService.scala
  app/repository/EnrolmentRepository.scala
  app/repository/ExaminationRepository.scala
  app/system/jobs/CollaborativeAssessmentSenderService.scala
  app/validation/CommaJoinedListValidator.scala
  package.json
  pnpm-lock.yaml
  ui/src/app/administrative/users/users.component.html
Due: prettier

CSCEXAM-000 Tests for API key sending
  app/services/exam/ExternalCourseHandlerImpl.scala
  conf/integrationtest.conf
  test/integration/EnrolmentInterfaceSpec.scala
  test/integration/ExternalCourseHandlerSpec.scala
Due: none

CSCEXAM-000 Bump version to 7.0.CSCEXAM-000 Bump version to 7.0.00
  conf/application.conf
  package.json
  scripts/internal/bump_version.sh
Due: none

CSCEXAM-000 Fix issues with adding participants to private exams
  ui/src/app/exam/editor/publication/exam-participant-picker.component.ts
  ui/src/app/exam/editor/publication/exam-pre-participant-picker.component.ts
Due: prettier, eslint

CSCEXAM-000 Make option switching default for new questions
  ui/src/app/question/editor/base/question.component.ts
Due: prettier, eslint

CSCEXAM-000 Lazy load ckeditor styles
  angular.json
  ui/src/app/shared/ckeditor/ckeditor.component.ts
  ui/src/styles.scss
Due: prettier, eslint

CSCEXAM-000 Upgrade Play to 3.0.10
  project/plugins.sbt
  ui/.editorconfig
Due: none

CSCEXAM-000 Fix adding users to personal examinations
  app/features/user/services/UserService.scala
Due: none

CSCEXAM-000 Fixes for events and participants adding
  ui/src/app/exam/editor/publication/exam-participant-picker.component.ts
  ui/src/app/exam/editor/publication/exam-pre-participant-picker.component.ts
  ui/src/app/exam/editor/publication/exam-publication-participants.component.ts
  ui/src/app/exam/editor/publication/exam-publication.component.html
  ui/src/app/exam/editor/publication/exam-publication.component.ts
  ui/src/app/exam/editor/publication/examination-events.component.ts
Due: prettier, eslint

CSCEXAM-000 Add notion to README about commit hook installation
  README.md
Due: none

CSCEXAM-000 style fixes and fix for collab exam initialization
  app/features/iop/collaboration/controllers/CollaborativeExamController.scala
  ui/src/app/administrative/statistics/categories/room-statistics.component.ts
  ui/src/app/exam/collaborative/collaborative-exam-listing.component.html
  ui/src/app/exam/editor/common/course-picker.component.html
  ui/src/app/exam/editor/publication/organisation-picker.component.ts
  ui/src/app/exam/listing/exam-list.component.html
  ui/src/app/examination/section/examination-section.component.ts
  ui/src/app/facility/schedule/starting-time.component.ts
  ui/src/app/maturity/listing/reviewed-inspections.component.html
  ui/src/app/maturity/listing/unfinished-inspections.component.html
  ui/src/app/review/assessment/general/participation.component.ts
Due: prettier, eslint

CSCEXAM-000 Fix scala linting issue
  app/features/iop/collaboration/controllers/CollaborativeExamController.scala
Due: none

CSCEXAM-000 JSON parser relaxation for courses
  app/schema/ExternalCourseValidator.scala
  ui/src/app/enrolment/search/exam-search-result.component.ts
Due: prettier, eslint

CSCEXAM-000 Improved logging for course import
  app/impl/ExternalCourseHandlerImpl.scala
  app/validators/ExternalCourseValidator.scala
Due: none

CSCEXAM-000 JSON parser relaxation for courses
  app/validators/ExternalCourseValidator.scala
Due: none

CSCEXAM-000 Ignored a test that has no support yet
  test/controllers/iop/ExternalCalendarInterfaceTest.java
Due: prettier-java

CSCEXAM-000 Added missing test import
  test/controllers/iop/ExternalCalendarInterfaceTest.java
Due: prettier-java

CSCEXAM-000 Fixed calculation of total scores
  app/features/exam/services/ExamSectionService.scala
  app/features/question/services/QuestionService.scala
  app/models/sections/ExamSection.scala
  app/models/sections/ExamSectionQuestion.scala
  app/services/exam/SectionQuestionHandler.scala
  test/question/QuestionControllerSpec.scala
  ui/src/app/enrolment/finished/exam-participations.component.html
  ui/src/app/enrolment/finished/exam-participations.component.scss
Due: prettier

Escape HTML in multi-choice answers
  ui/src/app/enrolment/finished/exam-answers-dialog.component.html
  ui/src/app/enrolment/finished/exam-answers-dialog.component.ts
Due: prettier, eslint

Add tests for HTML escape
  ui/src/app/enrolment/finished/exam-answers-dialog.component.spec.ts
Due: prettier, eslint

CSCEXAM-000 Course import improvements
  app/schema/ExternalCourseValidator.scala
  build.sbt
  test/integration/ExternalCourseHandlerSpec.scala
  test/resources/courseUnitInfo.json
Due: none

CSCEXAM-000 Fixed calculating of total score
  ui/src/app/review/assessment/assessment.component.ts
Due: prettier, eslint

CSCEXAM-000 Course import improvements
  app/impl/ExternalCourseHandlerImpl.scala
  app/impl/mail/EmailSenderImpl.scala
  app/miscellaneous/cache/FacilityCacheImpl.scala
  app/miscellaneous/scala/DbApiHelper.scala
  app/system/actors/AutoEvaluationNotifierActor.scala
  app/system/actors/CollaborativeAssessmentSenderActor.scala
  app/system/modules/FacilityCacheModule.scala
  app/validators/ExternalCourseValidator.scala
  test/controllers/integration/ExternalCourseHandlerTest.java
  test/resources/courseUnitInfo.json
Due: prettier-java

CSCEXAM-000 Bump version to 6.4.2
  build.sbt
  conf/application.conf
  package-lock.json
  package.json
  scripts/internal/bump_version.sh
Due: none

CSCEXAM-000 Tried to fix problem with byod no-show
  app/features/assessment/services/ReviewService.scala
  ui/src/app/review/listing/dialogs/no-shows.component.html
Due: prettier

CSCEXAM-000 Fixed another problem with duration
  app/features/assessment/services/ReviewService.scala
Due: none

CSCEXAM-000 Fixed more of byod no-shows
  ui/src/app/review/listing/dialogs/no-shows.component.html
  ui/src/app/review/listing/dialogs/no-shows.component.ts
Due: prettier, eslint
