Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

prettier:
  tags: frontend style
  run: npx prettier --write {staged_files}

prettier-java:
  tags: backend style
  run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}

eslint:
  tags: frontend rules
  run: npx eslint --fix {staged_files}

CSCEXAM-1501 Trim course codes when searching
  app/controllers/exam/CourseController.scala
  ui/src/app/exam/editor/common/course-picker.component.ts
  ui/src/app/exam/editor/common/course-picker.service.ts
Due: prettier, eslint

CSCEXAM-000 Reorganize ckeditor component codes
  angular.json
  app/validation/scala/core/HtmlSafelist.scala
  app/validation/scala/core/PlayJsonHelper.scala
  app/validation/scala/core/SanitizingHelper.scala
  app/validation/scala/core/ScalaValidator.scala
  ui/src/app/shared/ckeditor/ckeditor.component.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/cloze-element-helper.service.ts
  ui/src/app/shared/ckeditor/plugins/math/math-element-helper.service.ts
  ui/src/app/shared/ckeditor/plugins/math/math-field.service.ts
  ui/src/app/shared/ckeditor/plugins/math/ui.ts
  ui/src/app/shared/math/math-editor.component.ts
  ui/src/app/shared/miscellaneous/helpers.spec.ts
  ui/src/app/shared/miscellaneous/helpers.ts
  ui/src/main.ts
Due: prettier, eslint

CSCEXAM-1403 More adjustments for support role permissions
  app/controllers/assessment/QuestionReviewController.java
  ui/src/app/exam/editor/exam-tabs.component.html
  ui/src/app/exam/exam.service.ts
  ui/src/app/reservation/reservation-details.component.ts
Due: prettier, prettier-java, eslint

CSCEXAM-1509 Update opening hours component layout
  ui/src/app/facility/schedule/opening-hours.component.html
Due: prettier

CSCEXAM-000 Fix problems mostly with modals
  app/controllers/exam/ExamOwnerController.scala
  scripts/internal/analyze-chunks.js
  ui/src/app/app.component.ts
  ui/src/app/dashboard/staff/teacher/teacher-dashboard.component.ts
  ui/src/app/dashboard/student/student-dashboard.component.ts
  ui/src/app/exam/editor/basic/basic-exam-info.component.html
  ui/src/app/exam/editor/basic/basic-exam-info.component.ts
  ui/src/app/exam/editor/basic/exam-inspector-picker.component.ts
  ui/src/app/exam/editor/basic/exam-owner-picker.component.ts
  ui/src/app/exam/editor/common/course-picker.component.ts
  ui/src/app/exam/editor/events/examination-event-dialog.component.ts
  ui/src/app/exam/editor/exam-tabs.component.ts
  ui/src/app/exam/editor/exam-tabs.service.ts
  ui/src/app/exam/editor/publication/collaborative-exam-owner-picker.component.ts
  ui/src/app/exam/editor/publication/exam-participant-picker.component.ts
  ui/src/app/exam/editor/publication/exam-pre-participant-picker.component.ts
  ui/src/app/exam/editor/sections/exam-material-picker.component.ts
  ui/src/app/exam/editor/sections/section-question.component.ts
  ui/src/app/exam/editor/sections/section.component.ts
  ui/src/app/examination/examination-status.service.ts
  ui/src/app/facility/facility.component.ts
  ui/src/app/facility/schedule/maintenance-period-dialog.component.ts
  ui/src/app/navigation/navigation.component.ts
  ui/src/app/question/basequestion/question-body.component.ts
  ui/src/app/question/basequestion/question.component.ts
  ui/src/app/question/examquestion/base-question-editor.component.ts
  ui/src/app/question/examquestion/exam-question-dialog.component.ts
  ui/src/app/question/examquestion/exam-question.component.html
  ui/src/app/question/examquestion/exam-question.component.ts
  ui/src/app/question/examquestion/multichoice.component.ts
  ui/src/app/question/examquestion/weighted-multichoice.component.ts
  ui/src/app/question/picker/question-picker.component.ts
  ui/src/app/question/question.service.ts
  ui/src/app/question/tags/tag-picker.component.ts
  ui/src/app/reservation/admin/change-machine-dialog.component.ts
  ui/src/app/reservation/reservations.component.ts
  ui/src/app/review/assessment/feedback/feedback.component.ts
  ui/src/app/review/listing/categories/graded-logged.component.ts
  ui/src/app/review/listing/categories/graded.component.ts
Due: prettier, eslint

CSCEXAM-000 Fix review list related issues
  app/controllers/assessment/ExamRecordController.scala
  app/controllers/iop/collaboration/impl/CollaborativeReviewController.scala
  ui/src/app/administrative/users/users.component.ts
  ui/src/app/dashboard/staff/teacher/categories/exam-list-category.component.ts
  ui/src/app/enrolment/finished/exam-participation.component.ts
  ui/src/app/enrolment/finished/exam-participations.component.ts
  ui/src/app/enrolment/search/exam-search.component.ts
  ui/src/app/exam/collaborative/collaborative-exam-listing.component.ts
  ui/src/app/exam/listing/exam-list.component.ts
  ui/src/app/examination/clock/examination-clock.component.ts
  ui/src/app/review/listing/categories/graded-logged.component.ts
  ui/src/app/review/listing/categories/graded.component.html
  ui/src/app/review/listing/review-list.component.scss
  ui/src/app/review/listing/review-list.component.ts
  ui/src/app/session/session.service.ts
  ui/src/app/shared/paginator/paginator.component.ts
Due: prettier, eslint

CSCEXAM-000 Remodel question editor logic
  ui/src/app/dashboard/staff/staff.routes.ts
  ui/src/app/question/basequestion/claim-choice.component.html
  ui/src/app/question/basequestion/claim-choice.component.ts
  ui/src/app/question/basequestion/essay.component.ts
  ui/src/app/question/basequestion/multiple-choice-option.component.ts
  ui/src/app/question/basequestion/multiple-choice.component.html
  ui/src/app/question/basequestion/multiple-choice.component.ts
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/app/question/basequestion/question-body.component.ts
  ui/src/app/question/basequestion/question.component.ts
  ui/src/app/question/basequestion/weighted-multiple-choice-option.component.ts
  ui/src/app/question/examquestion/claim-choice.component.html
  ui/src/app/question/examquestion/claim-choice.component.ts
  ui/src/app/question/examquestion/essay.component.ts
  ui/src/app/question/examquestion/exam-question.component.html
  ui/src/app/question/examquestion/exam-question.component.ts
  ui/src/app/question/examquestion/multichoice.component.html
  ui/src/app/question/examquestion/multichoice.component.ts
  ui/src/app/question/examquestion/weighted-multichoice.component.html
  ui/src/app/question/examquestion/weighted-multichoice.component.ts
  ui/src/app/question/has-unsaved-changes.guard.ts
  ui/src/app/question/library/results/library-results.component.html
  ui/src/app/question/library/results/library-results.component.ts
  ui/src/app/question/question-basic-info.component.ts
  ui/src/app/question/shared/question-additional-info.component.ts
  ui/src/app/questionTrial/essay.component.html
  ui/src/app/questionTrial/essay.component.ts
  ui/src/app/questionTrial/question-additional-info.component.html
  ui/src/app/questionTrial/question-additional-info.component.ts
  ui/src/app/questionTrial/question-basic-info.component.html
  ui/src/app/questionTrial/question-basic-info.component.ts
  ui/src/app/questionTrial/question-body.component.html
  ui/src/app/questionTrial/question-body.component.ts
  ui/src/app/questionTrial/question-owners.component.html
  ui/src/app/questionTrial/question-owners.component.ts
  ui/src/app/questionTrial/question-tags.component.html
  ui/src/app/questionTrial/question-tags.component.ts
  ui/src/app/questionTrial/question.component.html
  ui/src/app/questionTrial/question.component.ts
Due: prettier, eslint

CSCEXAM-000 Claim choice question support in new forms
  ui/src/app/questionTrial/claim-choice.component.html
  ui/src/app/questionTrial/claim-choice.component.ts
  ui/src/app/questionTrial/question-body.component.html
  ui/src/app/questionTrial/question-body.component.ts
  ui/src/app/questionTrial/question.component.ts
Due: prettier, eslint

CSCEXAM-000 Multichoice question support in new forms
  ui/src/app/questionTrial/multiple-choice.component.html
  ui/src/app/questionTrial/multiple-choice.component.ts
  ui/src/app/questionTrial/question-body.component.html
  ui/src/app/questionTrial/question-body.component.ts
  ui/src/app/questionTrial/question.component.ts
Due: prettier, eslint

CSCEXAM-000 Weighted multichoice support for new forms
  ui/src/app/dashboard/staff/staff.routes.ts
  ui/src/app/question/basequestion/claim-choice.component.ts
  ui/src/app/question/basequestion/essay.component.html
  ui/src/app/question/basequestion/essay.component.ts
  ui/src/app/question/basequestion/multiple-choice-option.component.ts
  ui/src/app/question/basequestion/multiple-choice.component.html
  ui/src/app/question/basequestion/multiple-choice.component.ts
  ui/src/app/question/basequestion/question-additional-info.component.html
  ui/src/app/question/basequestion/question-additional-info.component.ts
  ui/src/app/question/basequestion/question-basic-info.component.html
  ui/src/app/question/basequestion/question-basic-info.component.ts
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/app/question/basequestion/question-body.component.ts
  ui/src/app/question/basequestion/question-owners.component.html
  ui/src/app/question/basequestion/question-owners.component.ts
  ui/src/app/question/basequestion/question-tags.component.html
  ui/src/app/question/basequestion/question-tags.component.ts
  ui/src/app/question/basequestion/question.component.html
  ui/src/app/question/basequestion/question.component.ts
  ui/src/app/question/basequestion/weighted-multiple-choice-option.component.ts
  ui/src/app/question/basequestion/weighted-multiple-choice.component.html
  ui/src/app/question/basequestion/weighted-multiple-choice.component.ts
  ui/src/app/question/examquestion/base-question-editor.component.ts
  ui/src/app/question/examquestion/multichoice.component.ts
  ui/src/app/question/shared/multiple-choice-validators.ts
  ui/src/app/questionTrial/claim-choice.component.html
  ui/src/app/questionTrial/claim-choice.component.ts
  ui/src/app/questionTrial/essay.component.ts
  ui/src/app/questionTrial/multiple-choice.component.html
  ui/src/app/questionTrial/question-body.component.html
  ui/src/app/questionTrial/question-body.component.ts
  ui/src/app/questionTrial/question.component.html
  ui/src/app/questionTrial/question.component.ts
Due: prettier, eslint

CSCEXAM-1042 Software restrictions for changing a reservation
  app/controllers/enrolment/ReservationController.java
Due: prettier-java

CSCEXAM-1042 add filtering also for opening hours etc
  app/controllers/enrolment/ReservationController.java
  ui/src/app/enrolment/search/exam-search-result.component.ts
Due: prettier, prettier-java, eslint

CSCEXAM-000 Fix dropdown issues and improve machine changing
  app/controllers/enrolment/ReservationController.scala
  ui/src/app/reservation/admin/change-machine-dialog.component.ts
  ui/src/app/reservation/admin/remove-reservation-dialog.component.ts
  ui/src/app/reservation/reservation-details.component.ts
  ui/src/app/reservation/reservation.service.ts
  ui/src/app/shared/select/dropdown-select.component.ts
Due: prettier, eslint

CSCEXAM-1504 Fix issue with updating coflicting examination events
  ui/src/app/exam/editor/events/examination-event-dialog.component.ts
Due: prettier, eslint

CSCEXAM-1049 Adjust emails for new change in slot times
  app/controllers/enrolment/ReservationController.java
  app/impl/mail/EmailComposer.scala
  app/impl/mail/EmailComposerImpl.scala
  conf/messages.en
  conf/messages.fi
  conf/messages.sv
  conf/template/email/reservationChanged.html
Due: prettier, prettier-java

CSCEXAM-1049 Slight adjustments to emails - also do not limit dropdown items length so hard - use css to put ellipsis if overflow
  app/controllers/enrolment/ReservationController.java
  app/impl/mail/EmailComposer.scala
  app/impl/mail/EmailComposerImpl.scala
  conf/template/email/reservationChanged.html
  ui/src/app/shared/select/dropdown-select.component.scss
  ui/src/app/shared/select/dropdown-select.component.ts
Due: prettier, prettier-java, eslint

CSCEXAM-000 Fixing found issues
  app/controllers/exam/ExamController.scala
  ui/src/app/app.component.ts
  ui/src/app/calendar/booking-calendar.component.ts
  ui/src/app/calendar/calendar.component.ts
  ui/src/app/calendar/helpers/exam-info.component.ts
  ui/src/app/calendar/helpers/selected-room.component.ts
  ui/src/app/calendar/helpers/slot-picker.component.ts
  ui/src/app/dashboard/staff/teacher/teacher-dashboard.component.ts
  ui/src/app/dashboard/student/student-dashboard.component.ts
  ui/src/app/enrolment/active/dialogs/select-examination-event-dialog.component.ts
  ui/src/app/enrolment/active/dialogs/show-instructions-dialog.component.ts
  ui/src/app/enrolment/enrolment.service.ts
  ui/src/app/enrolment/exams/exam-enrolments.component.ts
  ui/src/app/enrolment/finished/collaborative-exam-participations.component.ts
  ui/src/app/enrolment/finished/exam-answers-dialog.component.html
  ui/src/app/enrolment/finished/exam-answers-dialog.component.ts
  ui/src/app/enrolment/finished/exam-feedback.component.ts
  ui/src/app/enrolment/finished/exam-participation.component.ts
  ui/src/app/enrolment/finished/exam-participations.component.html
  ui/src/app/enrolment/finished/exam-participations.component.ts
  ui/src/app/exam/editor/assessment/auto-evaluation.component.html
  ui/src/app/exam/editor/assessment/auto-evaluation.component.ts
  ui/src/app/exam/editor/assessment/exam-assessment.component.ts
  ui/src/app/examination/examination-status.service.ts
  ui/src/app/facility/rooms/availability.component.html
  ui/src/app/navigation/navigation.component.ts
  ui/src/app/reservation/reservations.component.ts
  ui/src/app/session/session.service.ts
  ui/src/app/shared/paginator/paginator.component.ts
  ui/src/app/shared/select/dropdown-select.component.ts
Due: prettier, eslint

CSCEXAM-000 Fix visuals of evaluation config form
  app/controllers/iop/collaboration/api/CollaborativeExamLoader.scala
  app/controllers/iop/collaboration/impl/CollaborativeExamController.scala
  app/controllers/iop/collaboration/impl/CollaborativeExamLoaderImpl.scala
  ui/src/app/exam/collaborative/collaborative-exam-listing.component.html
  ui/src/app/exam/collaborative/collaborative-exam-listing.component.ts
  ui/src/app/exam/collaborative/collaborative-exam.service.ts
  ui/src/app/exam/editor/assessment/auto-evaluation.component.html
  ui/src/app/exam/editor/assessment/auto-evaluation.component.scss
  ui/src/app/exam/editor/assessment/auto-evaluation.component.ts
  ui/src/app/exam/editor/assessment/exam-assessment.component.ts
  ui/src/app/exam/editor/assessment/exam-feedback-config.component.ts
  ui/src/app/exam/editor/basic/exam-inspector-picker.component.ts
  ui/src/app/exam/editor/basic/exam-owner-picker.component.ts
  ui/src/app/exam/editor/events/examination-event-dialog.component.ts
  ui/src/app/exam/editor/sections/section-question.component.ts
  ui/src/app/exam/editor/sections/section.component.ts
  ui/src/app/examination/clock/examination-clock.component.ts
  ui/src/app/examination/navigation/examination-toolbar.component.ts
  ui/src/app/examination/question/examination-weighted-multi-choice-question.component.ts
  ui/src/app/question/editor/base/question.component.html
  ui/src/app/question/editor/base/question.component.ts
  ui/src/app/question/editor/common/question-body.component.ts
  ui/src/app/question/editor/exam/base-question-dialog.component.ts
  ui/src/app/question/editor/exam/exam-question-dialog.component.ts
  ui/src/app/question/editor/exam/exam-question.component.html
  ui/src/app/question/editor/exam/exam-question.component.ts
  ui/src/app/shared/paginator/paginator.component.ts
Due: prettier, eslint

CSCEXAM-1364 Show organisation code for remote maintenance periods
  ui/src/app/calendar/helpers/selected-room.component.ts
  ui/src/app/calendar/helpers/slot-picker.component.ts
  ui/src/app/shared/select/dropdown-select.component.ts
Due: prettier, eslint

CSCEXAM-1423 Fix checking for password existence in remote json
  app/controllers/iop/transfer/impl/OrganisationController.java
Due: prettier-java

CSCEXAM-1484 Fix some issues with adding exception events - wrong field names used in backend - misinforming translations fixed - fixed updating of whole day -value and its effect on time values
  app/controllers/facility/RoomController.java
  ui/src/app/facility/schedule/exception-dialog.component.ts
  ui/src/app/facility/schedule/exception-repetition-options.component.ts
  ui/src/app/shared/select/dropdown-select.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, prettier-java, eslint

CSCEXAM-000 Align dev usage of CSP headers with prod usage
  angular.json
  conf/application.conf
  conf/dev.conf
Due: none

CSCEXAM-000 Fix problems with library and exam preview
  app/controllers/question/QuestionController.scala
  ui/src/app/examination/question/examination-essay-question.component.html
  ui/src/app/question/editor/common/question-body.component.html
  ui/src/app/question/editor/common/question-body.component.ts
  ui/src/app/question/library/search/library-search.component.html
Due: prettier, eslint

CSCEXAM-1403 More adjustments for support role permissions (#1267)
  app/controllers/assessment/QuestionReviewController.java
  app/controllers/attachment/AttachmentController.java
  app/controllers/enrolment/ReservationController.java
  app/controllers/facility/ExamMachineController.java
  app/impl/ExamUpdaterImpl.java
  ui/src/app/exam/editor/exam-tabs.component.html
  ui/src/app/exam/exam.service.ts
  ui/src/app/reservation/reservation-details.component.ts
  ui/src/app/reservation/reservations.component.ts
Due: prettier, prettier-java, eslint

CSCEXAM-1484 Fix some issues with adding exception events - wrong field names used in backend - misinforming translations fixed - fixed updating of whole day -value and its effect on time values
  app/controllers/facility/RoomController.java
  ui/src/app/facility/schedule/exception-dialog.component.ts
  ui/src/app/facility/schedule/exception-repetition-options.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, prettier-java, eslint

CSCEXAM-1049 Add new properties for external exam provision - also fix a nuance in reservation view (extra space before comma)
  app/controllers/iop/transfer/impl/ExternalExamController.java
  ui/src/app/reservation/reservation-details.component.html
Due: prettier, prettier-java

CSCEXAM-000 Refactor ckeditor code + improve ux
  app/controllers/exam/copy/ExamCopyContext.scala
  app/controllers/iop/collaboration/api/CollaborativeExamLoader.scala
  app/controllers/iop/collaboration/impl/CollaborativeExamLoaderImpl.scala
  app/impl/ExternalExamHandler.scala
  app/system/actors/AssessmentTransferActor.scala
  app/system/actors/CollaborativeAssessmentSenderActor.scala
  test/resources/externalExamAttainment.json
  ui/src/app/shared/ckeditor/ckeditor-initialization.service.ts
  ui/src/app/shared/ckeditor/ckeditor.component.scss
  ui/src/app/shared/ckeditor/ckeditor.component.ts
Due: prettier, eslint

CSCEXAM-1491 Fix copying of external assessments questions
  app/controllers/exam/copy/ExamCopyContext.java
  test/resources/externalExamAttainment.json
Due: prettier-java

Path conditions:
  prettier: any of: **/*.{ts,html}
  prettier-java: any of: **/*.java
  eslint: any of: **/*.ts
