Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

prettier:
  tags: frontend style
  run: npx prettier --write {staged_files}

prettier-java:
  tags: backend style
  run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}

eslint:
  tags: frontend rules
  run: npx eslint --fix {staged_files}

merge fix
  conf/routes
  ui/src/app/question/question.model.ts
  ui/src/app/shared/date/apply-dst.pipe.ts
Due: prettier, eslint

CSCEXAM-1267 Allow language inspector to add student bound message
  ui/src/app/review/assessment/maturity/grading.component.html
Due: prettier

CSCEXAM-1402 Change order of selectable grades
  ui/src/app/review/assessment/common/grading-base.component.ts
  ui/src/app/review/listing/speed-review.component.ts
Due: prettier, eslint

CSCEXAM-1351 Fix permitting retrial of examination evvents
  app/controllers/enrolment/ReservationController.java
  ui/src/app/reservation/reservation-details.component.html
  ui/src/app/reservation/reservation-details.component.ts
Due: prettier, prettier-java, eslint

CSCEXAM-1361 Finnish language package for EXAM 6.4
  ui/src/assets/i18n/fi.json
Due: none

CSCEXAM-1361 Swedish language package for EXAM 6.4
  ui/src/assets/i18n/sv.json
Due: none

CSCEXAM-1361 English language package for EXAM 6.4
  ui/src/assets/i18n/en.json
Due: none

CSCEXAM-1356: Update teacher dashboard column headers
  ui/src/app/dashboard/staff/teacher/categories/exam-list-category.component.html
  ui/src/app/dashboard/staff/teacher/teacher-dashboard.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

Fix exam search bug
  app/controllers/exam/ExamController.java
  conf/routes
  ui/src/app/question/library/library.service.ts
Due: prettier, prettier-java, eslint

CSCEXAM-1513 Fix exam search bug
  app/controllers/exam/ExamController.java
  conf/routes
  ui/src/app/question/library/library.service.ts
Due: prettier, prettier-java, eslint

CSCEXAM-1200 Ignore question type=casteogry in Moodle import
  app/miscellaneous/xml/MoodleXmlImporterImpl.scala
Due: none

CSCEXAM-1049 Add new properties for external exam provision - also fix a nuance in reservation view (extra space before comma)
  app/controllers/iop/transfer/impl/ExternalExamController.java
  ui/src/app/reservation/reservation-details.component.html
Due: prettier, prettier-java

CSCEXAM-1491 Fix copying of external assessments questions
  app/controllers/exam/copy/ExamCopyContext.java
  test/resources/externalExamAttainment.json
Due: prettier-java

CSCEXAM-1518 Setting for enabling new multichoice features
  app/controllers/admin/SettingsController.java
  app/miscellaneous/config/ConfigReader.scala
  app/miscellaneous/config/ConfigReaderImpl.scala
  conf/application.conf
  conf/dev.conf
  conf/routes
  ui/src/app/question/basequestion/multiple-choice.component.html
  ui/src/app/question/basequestion/multiple-choice.component.ts
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/app/question/basequestion/question-body.component.ts
  ui/src/app/question/question.service.ts
Due: prettier, prettier-java, eslint

CSCEXAM-000 Security hardening regarding npm
  .npmrc
  package-lock.json
  package.json
Due: none

CSCEXAM-000 Fix formatting issues
  ui/src/app/facility/rooms/room.component.html
  ui/src/app/review/questions/assessment/essay-answer.component.html
Due: prettier

CSCEXAM-1508 Add booking calendar component admin access check
  README.md
  ui/src/app/calendar/booking-calendar.component.ts
Due: prettier, eslint

CSCEXAM-1361 Finnish language package for EXAM 6.4
  conf/messages.fi
Due: none

CSCEXAM-1361 Swedish language package for EXAM 6.4
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: none

CSCEXAM-1361 English language package for EXAM 6.4
  conf/messages.en
Due: none

CSCEXAM-1361 Finnish language package for EXAM 6.4
  conf/messages.sv
Due: none

CSCSEXAM-000 Add missing dependencies
  package-lock.json
  package.json
Due: none

CSCEXAM-000 Fix formatting issues
  app/controllers/enrolment/ExaminationEventController.java
  app/impl/CalendarHandlerImpl.java
  app/repository/EnrolmentRepository.java
  app/repository/ExaminationRepository.java
  app/system/SystemRequestHandler.java
Due: prettier-java

exam view / csp settings
  angular.json
  app/controllers/examination/ExaminationController.java
  conf/application.conf
  conf/dev.conf
Due: prettier-java

Path conditions:
  prettier: any of: **/*.{ts,html}
  prettier-java: any of: **/*.java
  eslint: any of: **/*.ts
