Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

lefthook.yml:

# SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium
#
# SPDX-License-Identifier: EUPL-1.2

pre-commit:
  commands:
    prettier:
      tags: frontend style
      glob: "**/*.{ts,html}"
      run: npx prettier --write {staged_files}
    prettier-java:
      tags: backend style
      glob: "**/*.java"
      run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}
    eslint:
      tags: frontend rules
      glob: "**/*.ts"
      run: npx eslint --fix {staged_files}

Improve New question owner list
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier

CSCEXAM-459 Fix failing test
  test/controllers/iop/ExternalCalendarInterfaceTest.java
Due: prettier-java

CSCEXAM-459 External reservation statistics view
  app/controllers/admin/ReportController.java
  app/controllers/iop/transfer/impl/ExternalCalendarController.java
  app/models/enrolment/Reservation.java
  conf/evolutions/default/135.sql
  conf/routes
  ui/src/app/administrative/statistics/categories/exam-statistics.component.ts
  ui/src/app/administrative/statistics/categories/iop-reservation-statistics.component.ts
  ui/src/app/administrative/statistics/statistics.component.html
  ui/src/app/administrative/statistics/statistics.component.ts
  ui/src/app/administrative/statistics/statistics.service.ts
  ui/src/app/reservation/reservation.model.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, prettier-java, eslint

CSCEXAM-000 Manually install sbt on workflow
  .github/workflows/build.yml
Due: none

CSCEXAM-1391 Fix new question page keyboard problems
  ui/src/app/question/basequestion/multiple-choice-option.component.ts
  ui/src/app/question/basequestion/multiple-choice.component.ts
  ui/src/app/question/basequestion/weighted-multiple-choice-option.component.ts
  ui/src/app/question/examquestion/multichoice.component.ts
  ui/src/app/question/examquestion/weighted-multichoice.component.ts
Due: prettier, eslint

CSCEXAM-1393 Fix assessment semantic buttons
  ui/src/app/review/assessment/assessment.component.html
  ui/src/app/review/assessment/questions/cloze-test.component.html
  ui/src/app/review/assessment/questions/essay-question.component.html
  ui/src/app/review/assessment/questions/multi-choice-question.component.html
Due: prettier

CSCEXAM-1289 Fix review-inspections buttons
  ui/src/app/maturity/listing/reviewed-inspections.component.html
  ui/src/app/maturity/listing/unfinished-inspections.component.html
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier

CSCEXAM-1395 Improve New question owner list
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier

CSCEXAM-1998 Fix checking a missing course while publishing exam
  ui/src/app/exam/editor/publication/exam-publication.component.ts
Due: prettier, eslint

CSCEXAM-1400 Limit navbar item visibility when on exam machine - also remove unused importsd and fix some copy-paste bugs (?) in library search
  app/controllers/user/SessionController.java
  app/repository/EnrolmentRepository.java
  app/system/SystemFilter.scala
  ui/src/app/administrative/reports/categories/answers-report.component.ts
  ui/src/app/administrative/reports/categories/enrolments-report.component.ts
  ui/src/app/administrative/reports/categories/exams-report.component.ts
  ui/src/app/administrative/reports/categories/records-report.component.ts
  ui/src/app/administrative/reports/categories/reviews-report.component.ts
  ui/src/app/administrative/reports/categories/rooms-report.component.ts
  ui/src/app/administrative/reports/categories/students-report.component.ts
  ui/src/app/administrative/reports/categories/teachers-report.component.ts
  ui/src/app/app.routes.ts
  ui/src/app/calendar/calendar.component.ts
  ui/src/app/calendar/helpers/selected-room.component.ts
  ui/src/app/calendar/helpers/slot-picker.component.ts
  ui/src/app/dashboard/staff/teacher/categories/exam-list-category.component.ts
  ui/src/app/enrolment/exams/exam-enrolment-details.component.ts
  ui/src/app/enrolment/finished/collaborative-exam-participations.component.ts
  ui/src/app/enrolment/finished/exam-participations.component.ts
  ui/src/app/enrolment/waiting-room/waiting-room-early.component.ts
  ui/src/app/enrolment/waiting-room/waiting-room.component.ts
  ui/src/app/exam/editor/assessment/exam-assessment.component.ts
  ui/src/app/exam/editor/common/course-picker.service.ts
  ui/src/app/exam/editor/creation/course-selection.component.ts
  ui/src/app/exam/editor/creation/new-exam.component.ts
  ui/src/app/exam/editor/publication/exam-publication.component.ts
  ui/src/app/examination/examination-status.service.ts
  ui/src/app/interceptors/examination-interceptor.ts
  ui/src/app/navigation/navigation.component.ts
  ui/src/app/navigation/navigation.service.ts
  ui/src/app/question/library/search/library-search.component.html
  ui/src/app/question/library/search/library-search.component.ts
  ui/src/app/shared/select/dropdown-select.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, prettier-java, eslint

CSCEXAM-000 Found minor refactoring problems with collab exams, fixed
  conf/evolutions/default/136.sql
Due: none

CSCEXAM-224 Create a script for removing overlappinh reservations
  scripts/internal/create_assessments.py
  scripts/internal/remove_overlapping.py
Due: none

CSCEXAM-1375 Make examination start delay as milliseconds for perf
  app/models/enrolment/ExamEnrolment.java
  app/repository/EnrolmentRepository.java
  conf/evolutions/default/136.sql
  ui/src/app/enrolment/waiting-room/waiting-room.component.ts
Due: prettier, prettier-java, eslint

CSCEXAM-000 Fix build problem with new early-waitingroom
  ui/src/app/enrolment/waiting-room/waiting-room.component.ts
Due: prettier, eslint

Improve teacher table button accessibility
  ui/src/app/exam/editor/basic/basic-exam-info.component.html
  ui/src/app/exam/editor/common/examination-type-picker.component.ts
  ui/src/app/exam/listing/exam-list.component.html
  ui/src/app/maturity/dialogs/inspection-statement-dialog.component.ts
  ui/src/app/maturity/listing/reviewed-inspections.component.html
  ui/src/app/maturity/reporting/maturity-reporting.component.html
  ui/src/app/reservation/reservation-details.component.html
  ui/src/app/reservation/reservations.component.html
  ui/src/app/review/listing/categories/archived.component.html
  ui/src/app/review/listing/categories/graded-logged.component.html
  ui/src/app/review/listing/categories/graded.component.html
  ui/src/app/review/listing/categories/in-language-inspection.component.html
  ui/src/app/review/listing/categories/in-progress.component.html
  ui/src/app/review/listing/categories/rejected.component.html
  ui/src/app/review/listing/review-list.component.html
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1405 Improve teacher table button accessibility (#1188)
  ui/src/app/exam/editor/basic/basic-exam-info.component.html
  ui/src/app/exam/editor/common/examination-type-picker.component.ts
  ui/src/app/exam/listing/exam-list.component.html
  ui/src/app/maturity/dialogs/inspection-statement-dialog.component.ts
  ui/src/app/maturity/listing/reviewed-inspections.component.html
  ui/src/app/maturity/reporting/maturity-reporting.component.html
  ui/src/app/reservation/reservation-details.component.html
  ui/src/app/reservation/reservations.component.html
  ui/src/app/review/listing/categories/archived.component.html
  ui/src/app/review/listing/categories/graded-logged.component.html
  ui/src/app/review/listing/categories/graded.component.html
  ui/src/app/review/listing/categories/in-language-inspection.component.html
  ui/src/app/review/listing/categories/in-progress.component.html
  ui/src/app/review/listing/categories/rejected.component.html
  ui/src/app/review/listing/review-list.component.html
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

Add titles to teacher and admin tab title
  ui/src/app/app.routes.ts
  ui/src/app/dashboard/staff/staff.routes.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1396 Add titles to teacher and admin tab title
  ui/src/app/app.routes.ts
  ui/src/app/dashboard/staff/staff.routes.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

Fix tab accessibility for keyboard
  ui/src/app/administrative/statistics/statistics.component.html
  ui/src/app/dashboard/staff/teacher/teacher-dashboard.component.html
  ui/src/app/exam/collaborative/collaborative-exam-listing.component.html
  ui/src/app/exam/listing/exam-list.component.html
  ui/src/app/facility/facility.component.html
  ui/src/app/review/questions/assessment/question-assessment.component.html
Due: prettier

CSCEXAM-1404 User agreemenet promp for all roles
  app/controllers/user/UserController.java
  ui/src/app/session/session.service.ts
Due: prettier, prettier-java, eslint

CSCEXAM-1404 User agreement prompt for all user roles
  conf/routes
  ui/src/app/administrative/settings/settings.service.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1404 User agreement prompt for all user roles
  app/controllers/admin/SettingsController.java
  conf/routes
  ui/src/app/administrative/settings/settings.component.html
  ui/src/app/administrative/settings/settings.component.ts
  ui/src/app/administrative/settings/settings.service.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, prettier-java, eslint

CSCEXAM-1404 User agreement prompt for all user roles
  app/controllers/admin/SettingsController.java
  ui/src/app/administrative/settings/settings.component.html
  ui/src/app/administrative/settings/settings.component.ts
Due: prettier, prettier-java, eslint

CSCEXAM-1406 Revert semantics of minor/major update
  app/controllers/admin/SettingsController.java
  ui/src/app/administrative/settings/settings.component.html
  ui/src/app/administrative/settings/settings.component.ts
  ui/src/app/administrative/settings/settings.service.ts
Due: prettier, prettier-java, eslint

CSCEXAM-459 Fix filtering by department
  app/controllers/admin/ReportController.java
  ui/src/app/administrative/statistics/categories/iop-reservation-statistics.component.ts
Due: prettier, prettier-java, eslint

CSCEXAM-1387 Fix tab accessibility for keyboard (#1191)
  ui/src/app/administrative/statistics/statistics.component.html
  ui/src/app/dashboard/staff/teacher/teacher-dashboard.component.html
  ui/src/app/exam/collaborative/collaborative-exam-listing.component.html
  ui/src/app/exam/listing/exam-list.component.html
  ui/src/app/facility/facility.component.html
  ui/src/app/review/questions/assessment/question-assessment.component.html
Due: prettier

CSCEXAM-000 Add translations for new plugin
  .gitignore
  app/controllers/assessment/ReviewController.java
  ui/src/app/shared/ckeditor/ckeditor.component.ts
  ui/src/app/shared/ckeditor/ckeditor.styles.scss
  ui/src/app/shared/ckeditor/plugins/clozetest/command.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/editing.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/en po
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/en.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/fi.po
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/fi.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/sv.po
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/sv.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/plugin.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/ui.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/utils.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/view.ts
  ui/src/assets/vendor/README.MD
  ui/src/assets/vendor/inspector.js
Due: prettier, prettier-java, eslint

CSCEXAM-000 Take new editor in use everywhere - fix various issues still
  ui/src/app/administrative/settings/settings.component.html
  ui/src/app/administrative/settings/settings.component.ts
  ui/src/app/exam/editor/basic/basic-exam-info.component.html
  ui/src/app/exam/editor/basic/basic-exam-info.component.ts
  ui/src/app/examination/question/examination-essay-question.component.ts
  ui/src/app/maturity/maturity.model.ts
  ui/src/app/question/question-basic-info.component.ts
  ui/src/app/question/question.model.ts
  ui/src/app/review/assessment/feedback/feedback.component.ts
  ui/src/app/review/assessment/feedback/statement.component.ts
  ui/src/app/review/assessment/questions/essay-question.component.ts
  ui/src/app/review/listing/dialogs/feedback.component.ts
  ui/src/app/shared/ckeditor/ckeditor.component.ts
  ui/src/app/shared/ckeditor/ckeditor.styles.scss
  ui/src/app/shared/ckeditor/plugins/clozetest/command.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/editing.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/en.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/fi.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/model.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/sv.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/ui.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/utils.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/view.ts
  ui/src/app/shared/miscellaneous/helpers.ts
  ui/src/assets/vendor/inspector.js
  ui/src/index.html
Due: prettier, eslint

CSCEXAM-000 Fix wordcount while multiple ckeditors on single page
  ui/src/app/exam/editor/basic/basic-exam-info.component.html
  ui/src/app/examination/question/examination-essay-question.component.html
  ui/src/app/shared/ckeditor/ckeditor.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1411 Remove orphaned section question options on update
  app/models/sections/ExamSectionQuestion.java
Due: prettier-java

Fix button looking search image
  ui/src/app/administrative/statistics/statistics.component.html
  ui/src/app/administrative/users/users.component.html
  ui/src/app/dashboard/staff/teacher/categories/exam-list-category.component.html
  ui/src/app/enrolment/finished/exam-participations.component.html
  ui/src/app/enrolment/search/collaborative-exam-search.component.ts
  ui/src/app/enrolment/search/exam-search.component.ts
  ui/src/app/exam/collaborative/collaborative-exam-listing.component.html
  ui/src/app/exam/editor/events/examination-event-search.component.html
  ui/src/app/exam/listing/exam-list.component.html
  ui/src/app/maturity/listing/reviewed-inspections.component.html
  ui/src/app/maturity/listing/unfinished-inspections.component.html
  ui/src/app/question/library/search/library-search.component.html
  ui/src/app/shared/select/dropdown-select.component.ts
  ui/src/assets/images/icon_search.png
  ui/src/styles.scss
Due: prettier, eslint

CSCEXAM-228 Fix button looking search image
  ui/src/app/administrative/statistics/statistics.component.html
  ui/src/app/administrative/users/users.component.html
  ui/src/app/dashboard/staff/teacher/categories/exam-list-category.component.html
  ui/src/app/enrolment/finished/exam-participations.component.html
  ui/src/app/enrolment/search/collaborative-exam-search.component.ts
  ui/src/app/enrolment/search/exam-search.component.ts
  ui/src/app/exam/collaborative/collaborative-exam-listing.component.html
  ui/src/app/exam/editor/events/examination-event-search.component.html
  ui/src/app/exam/listing/exam-list.component.html
  ui/src/app/maturity/listing/reviewed-inspections.component.html
  ui/src/app/maturity/listing/unfinished-inspections.component.html
  ui/src/app/question/library/search/library-search.component.html
  ui/src/app/shared/select/dropdown-select.component.ts
  ui/src/assets/images/icon_search.png
  ui/src/styles.scss
Due: prettier, eslint

CSCEXAM-000 Fix importing courses having internal gradescale
  app/impl/ExternalCourseHandlerImpl.scala
  app/validators/ExternalCourseValidator.scala
  test/controllers/integration/ExternalCourseHandlerTest.java
  test/resources/courseUnitInfo4.json
Due: prettier-java
