Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

prettier:
  tags: frontend style
  run: npx prettier --write {staged_files}

prettier-java:
  tags: backend style
  run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}

eslint:
  tags: frontend rules
  run: npx eslint --fix {staged_files}

CSCEXAM-1203 Fix date formatting (#1110)
  app/impl/EmailComposerImpl.java
Due: prettier-java

CSCEXAM-1333 Fix handling of query params / reservation removal
  app/controllers/ReservationController.java
  ui/src/app/reservation/reservation-details.component.ts
Due: prettier, prettier-java, eslint

CSCEXAM-1209 Fix adding tags with same name but different owner
  ui/src/app/question/tags/tag-picker.component.ts
Due: prettier, eslint

CSCEXAM-1283 Fix encoding of query params in collab exam search
  app/controllers/iop/collaboration/impl/CollaborationController.java
  app/controllers/iop/collaboration/impl/CollaborativeEnrolmentController.java
  app/controllers/iop/collaboration/impl/CollaborativeExamController.java
Due: prettier-java

Add searchDone to hide result indicator before first search has been done
  ui/src/app/enrolment/finished/exam-participations.component.html
  ui/src/app/enrolment/finished/exam-participations.component.ts
  ui/src/app/enrolment/search/collaborative-exam-search.component.ts
  ui/src/app/enrolment/search/exam-search.component.ts
Due: prettier, eslint

Improve accessibility on dropdown to slot-picker
  ui/src/app/calendar/helpers/slot-picker.component.html
  ui/src/app/enrolment/active/helpers/active-enrolment-menu.component.html
  ui/src/app/enrolment/finished/collaborative-exam-participations.component.ts
  ui/src/app/enrolment/finished/exam-participations.component.html
  ui/src/app/enrolment/search/collaborative-exam-search.component.ts
  ui/src/app/enrolment/search/exam-search.component.ts
  ui/src/app/shared/select/dropdown-select.component.ts
Due: prettier, eslint

CSCEXAM-1256 Fix DI mechanism of DocumentReviewController
  app/controllers/ReviewDocumentsController.scala
  ui/src/app/enrolment/enrolment.service.ts
  ui/src/app/exam/collaborative/collaborative-exam-listing.component.ts
Due: prettier, eslint

CSCEXAM-1291 Renove exam publication cancellation toast
  ui/src/app/exam/editor/publication/exam-publication.component.ts
Due: prettier, eslint

CSCEXAM-1283 Collab exam search with no filter - Fix query parameter handling so that results are not limited to 100
  app/controllers/iop/collaboration/impl/CollaborativeExamController.java
  ui/src/app/enrolment/enrolment.service.ts
  ui/src/app/exam/collaborative/collaborative-exam.service.ts
Due: prettier, prettier-java, eslint

CSCEXAM-1252 Add accessibility improvements
  ui/src/app/calendar/helpers/slot-picker.component.html
  ui/src/app/enrolment/active/helpers/active-enrolment-menu.component.html
  ui/src/app/enrolment/finished/collaborative-exam-participations.component.ts
  ui/src/app/enrolment/finished/exam-participations.component.html
  ui/src/app/enrolment/finished/exam-participations.component.ts
  ui/src/app/enrolment/search/collaborative-exam-search.component.ts
  ui/src/app/enrolment/search/exam-search.component.ts
  ui/src/app/shared/select/dropdown-select.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

Add progress text to exam review list
  ui/src/app/review/listing/categories/in-progress.component.html
  ui/src/app/review/listing/speed-review.component.html
Due: prettier

CSCEXAM-693 Add progress text to exam review list
  ui/src/app/review/listing/categories/in-progress.component.html
  ui/src/app/review/listing/speed-review.component.html
Due: prettier

CSCEXAM-1283 Collab exam search with no filter - Fix query parameter handling so that results are not limited to 100
  app/controllers/iop/collaboration/impl/CollaborativeExamController.java
  app/system/actors/ReservationPollerActor.scala
  ui/src/app/enrolment/enrolment.service.ts
  ui/src/app/exam/collaborative/collaborative-exam.service.ts
Due: prettier, prettier-java, eslint

CSCEXAM-1237 Prohibit copying an exam without privileges
  app/controllers/ExamController.java
  ui/src/app/dashboard/staff/teacher/categories/exam-list-category.component.ts
Due: prettier, prettier-java, eslint

CSCEXAM-1237 Fix handling of weekdays with exception hours
  ui/src/app/calendar/calendar.service.ts
  ui/src/app/facility/rooms/room.service.ts
Due: prettier, eslint

CSCEXAM-478 Fix handling of weekdays with exceptional events
  ui/src/app/calendar/calendar.service.ts
Due: prettier, eslint

CSCEXAM-1130 Finnish language package fix for EXAM 6.3.0
  ui/src/assets/i18n/fi.json
Due: none

CSCEXAM-1130 Swedish language package for EXAM 6.3.0
  ui/src/assets/i18n/sv.json
Due: none

CSCEXAM-1130 English language package for EXAM 6.3.0
  ui/src/assets/i18n/en.json
Due: none

CSCEXAM-1130 English language package for EXAM 6.3.0 (#1127)
  ui/src/assets/i18n/en.json
Due: none

CSCEXAM-1130 Swedish language package for EXAM 6.3.0 (#1126)
  ui/src/assets/i18n/sv.json
Due: none

CSCEXAM-1130 Finnish language package fix for EXAM 6.3.0 (#1125)
  ui/src/assets/i18n/fi.json
Due: none

Fix getReviewProgress
  ui/src/app/review/assessment/sections/section.component.ts
Due: prettier, eslint

CSCEXAM-1204 Disallow adding examination events if period overdue
  ui/src/app/exam/editor/publication/exam-publication.component.html
  ui/src/app/exam/editor/publication/exam-publication.component.ts
Due: prettier, eslint

CSCEXAM-000 Clean user giving a grade to a collaborative exam
  app/controllers/iop/collaboration/impl/CollaborativeReviewController.java
Due: prettier-java

CSCEXAM-1258 Event capacity modifications: - show conflicting event times (not just dates) - do not filter out other events of the exam in question
  ui/src/app/exam/editor/events/examination-event-dialog.component.html
  ui/src/app/exam/editor/events/examination-event-dialog.component.ts
Due: prettier, eslint

Add aria-label to main menu collapse button
  ui/src/app/navigation/navigation.component.html
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier

CSCEXAM-478 Fixes for non-restrictive exception event handling
  app/util/datetime/DateTimeHandlerImpl.java
Due: prettier-java

CSCEXAM-1325 Enhancements for drag/drop of sections and questions
  ui/src/app/exam/editor/sections/section-question.component.html
  ui/src/app/exam/editor/sections/section-question.component.ts
  ui/src/app/exam/editor/sections/section.component.html
  ui/src/app/exam/editor/sections/section.component.scss
  ui/src/app/exam/editor/sections/section.component.ts
  ui/src/app/exam/editor/sections/sections.component.html
  ui/src/app/exam/editor/sections/sections.component.scss
  ui/src/app/exam/editor/sections/sections.shared.scss
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

Path conditions:
  prettier: any of: **/*.{ts,html}
  prettier-java: any of: **/*.java
  eslint: any of: **/*.ts
