Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

lefthook.yml:

pre-commit:
  commands:
    prettier:
      tags: frontend style
      glob: "**/*.{ts,html}"
      run: npx prettier --write {staged_files}
    prettier-java:
      tags: backend style
      glob: "**/*.java"
      run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}
    eslint:
      tags: frontend rules
      glob: "**/*.ts"
      run: npx eslint --fix {staged_files}

Fix question library admin search
  ui/src/app/question/library/search/library-search.component.ts
Due: prettier, eslint

CSCEXAM-1287 More fixes based on test comments
  app/controllers/UserController.java
  ui/src/app/administrative/reports/reports.component.ts
  ui/src/app/dashboard/staff/teacher/categories/exam-list-category.component.ts
  ui/src/app/enrolment/active/helpers/active-enrolment-menu.component.ts
  ui/src/app/enrolment/enrolment.service.ts
  ui/src/app/enrolment/waiting-room/waiting-room.component.html
  ui/src/app/enrolment/waiting-room/waiting-room.component.ts
  ui/src/app/exam/editor/publication/exam-publication.component.ts
  ui/src/app/exam/editor/sections/section-question.component.ts
  ui/src/app/exam/listing/exam-list.component.ts
  ui/src/app/examination/clock/examination-clock.component.ts
  ui/src/app/examination/navigation/examination-toolbar.component.html
  ui/src/app/examination/navigation/examination-toolbar.component.ts
  ui/src/app/facility/accessibility/accessibility.component.html
  ui/src/app/facility/machines/machine.component.ts
  ui/src/app/facility/rooms/room.component.html
  ui/src/app/facility/rooms/rooms.component.html
  ui/src/app/facility/rooms/rooms.component.scss
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/app/question/examquestion/exam-question.component.html
  ui/src/app/question/library/library.service.ts
  ui/src/app/question/library/owners/library-owners-dialog.component.ts
  ui/src/app/question/library/results/library-results.component.ts
  ui/src/app/question/library/search/library-search.component.ts
  ui/src/app/question/tags/tag-picker.component.ts
  ui/src/app/review/listing/speed-review.component.ts
  ui/src/app/session/session.service.ts
  ui/src/app/shared/miscellaneous/helpers.ts
  ui/src/app/shared/paginator/paginator.component.scss
  ui/src/app/shared/user/user.service.ts
  ui/src/app/software/software.component.html
  ui/src/styles.scss
Due: prettier, prettier-java, eslint

CSCEXAM-1287 Minor style fixes
  package-lock.json
  project/plugins.sbt
  ui/src/app/enrolment/active/active-enrolment.component.html
  ui/src/app/enrolment/exams/exam-enrolment-details.component.html
  ui/src/app/exam/editor/basic/basic-exam-info.component.html
  ui/src/app/exam/editor/basic/exam-inspector-picker.component.html
  ui/src/app/exam/editor/basic/exam-owner-picker.component.html
  ui/src/app/exam/editor/basic/exam-owner-picker.component.ts
  ui/src/app/exam/editor/publication/collaborative-exam-owner-picker.component.ts
  ui/src/app/exam/editor/publication/custom-duration-picker-dialog.component.ts
  ui/src/app/exam/editor/publication/exam-participant-picker.component.ts
  ui/src/app/exam/editor/publication/exam-pre-participant-picker.component.ts
  ui/src/app/exam/editor/publication/exam-publication.component.html
  ui/src/app/exam/editor/publication/organisation-picker.component.ts
  ui/src/app/exam/editor/sections/exam-material-picker.component.html
  ui/src/app/exam/editor/sections/section-question.component.ts
  ui/src/app/exam/editor/sections/section.component.html
  ui/src/app/facility/facility.component.html
  ui/src/app/facility/machines/machine.component.html
  ui/src/app/facility/machines/machine.component.ts
  ui/src/app/facility/rooms/availability.component.html
  ui/src/app/question/basequestion/claim-choice.component.ts
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/app/question/basequestion/question.component.html
  ui/src/app/question/examquestion/exam-question.component.html
  ui/src/app/question/examquestion/exam-question.component.ts
  ui/src/app/question/library/library.component.ts
  ui/src/app/question/question.service.ts
  ui/src/app/question/question.shared.scss
  ui/src/app/question/tags/tag-picker.component.ts
  ui/src/app/shared/components/page-header.component.ts
  ui/src/app/shared/paginator/paginator.component.scss
  ui/src/app/shared/validation/fixed-precision.directive.ts
  ui/src/proxy.conf.js
  ui/src/styles.scss
Due: prettier, eslint

CSCEXAM-1287 Adjust teacher dashboard layout
  ui/src/app/dashboard/staff/teacher/categories/exam-list-category.component.html
  ui/src/app/dashboard/staff/teacher/teacher-dashboard.component.html
  ui/src/styles.scss
Due: prettier

Improve question edit exam usage warning
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/app/question/basequestion/question-body.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1294 Fix rerouting to review list from collab exam assessment - Minor layout fixes also
  ui/src/app/administrative/users/users.component.html
  ui/src/app/enrolment/waiting-room/waiting-room.component.html
  ui/src/app/enrolment/waiting-room/waiting-room.component.scss
  ui/src/app/enrolment/waiting-room/waiting-room.component.ts
  ui/src/app/review/assessment/assessment.component.html
  ui/src/app/review/assessment/assessment.service.ts
  ui/src/app/review/assessment/collaborative-assessment.service.ts
  ui/src/app/review/assessment/grading/grading.component.html
  ui/src/app/review/listing/review-list.component.html
  ui/src/app/review/listing/speed-review.component.html
Due: prettier, eslint

CSCEXAM-1292 Escape curly braces with dynamic cloze test component
  ui/src/app/examination/question/dynamic-cloze-test.component.ts
Due: prettier, eslint

CSCEXAM-1130 Finnish language package for EXAM 6.3
  ui/src/assets/i18n/fi.json
Due: none

CSCEXAM-1130 English language package for EXAM 6.3
  ui/src/assets/i18n/en.json
Due: none

CSCEXAM-000 Hide question preview for time being
  ui/src/app/question/basequestion/question.component.html
  ui/src/app/question/examquestion/exam-question.component.html
Due: prettier

CSCEXAM-1130 Swedish language package for EXAM 6.3
  ui/src/assets/i18n/sv.json
Due: none

CSCEXAM-1130 Swedish language package for EXAM 6.3 (#1065)
  ui/src/assets/i18n/sv.json
Due: none

CSCEXAM-1130 Finnish language package for EXAM 6.3 (#1063)
  ui/src/assets/i18n/fi.json
Due: none

CSCEXAM-1130 English language package for EXAM 6.3 (#1064)
  ui/src/assets/i18n/en.json
Due: none

Fix small typo
  ui/src/app/examination/clock/examination-clock.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

Update waiting-room.component.html
  ui/src/app/enrolment/waiting-room/waiting-room.component.html
Due: prettier

CSCEXAM-1130 Swedish language package for EXAM 6.3 (#1066)
  ui/src/assets/i18n/sv.json
Due: none

CSCEXAM-1191 Fix aria-live clock in examination and waiting room (#1052)
  ui/src/app/enrolment/waiting-room/waiting-room.component.html
  ui/src/app/examination/clock/examination-clock.component.ts
  ui/src/app/examination/logout/examination-logout.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1300 Show collab exam no-shows on review-list component
  app/controllers/ReviewController.java
  ui/src/app/review/listing/review-list.component.ts
Due: prettier, prettier-java, eslint

CSCEXAM-1145 Fix some link looking buttons to look like buttons (#1058)
  ui/src/app/enrolment/finished/exam-feedback.component.html
  ui/src/app/enrolment/finished/exam-participation.component.html
  ui/src/app/exam/editor/sections/exam-material-picker.component.html
  ui/src/app/facility/schedule/starting-time.component.ts
  ui/src/app/review/listing/speed-review.component.html
Due: prettier, eslint

Fix translation on examination navigation
  ui/src/app/examination/navigation/examination-navigation.component.ts
Due: prettier, eslint

CSCEXAM-1293 Fix translation on examination navigation (#1069)
  ui/src/app/examination/navigation/examination-navigation.component.ts
Due: prettier, eslint

CSCEXAM-1215 Improve question edit exam usage warning (#1056)
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/app/question/basequestion/question-body.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1303 Do not set new user's language to unsupported one - Supported languages are those for which we have translations
  app/controllers/SessionController.java
  app/util/config/ConfigReader.java
  app/util/config/ConfigReaderImpl.java
  test/base/IntegrationTestCase.java
  test/controllers/SessionControllerTest.java
Due: prettier-java

Fix
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/app/question/examquestion/exam-question.component.html
  ui/src/app/question/examquestion/exam-question.component.ts
  ui/src/assets/i18n/fi.json
Due: prettier, eslint

Fix
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/app/question/basequestion/question-body.component.ts
Due: prettier, eslint

Fix
  ui/src/app/question/examquestion/exam-question.component.html
  ui/src/app/question/examquestion/exam-question.component.ts
Due: prettier, eslint

CSCEXAM-1215 Fix examquestion editing warning (#1070)
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/app/question/basequestion/question-body.component.ts
  ui/src/app/question/examquestion/exam-question.component.html
  ui/src/app/question/examquestion/exam-question.component.ts
  ui/src/assets/i18n/fi.json
Due: prettier, eslint

CSCEXAM-1294 Fix active enrolment menu condition - fix unsubscribing from examination clock - allow negative numbers for waiting-room delay clock
  ui/src/app/enrolment/active/helpers/active-enrolment-menu.component.html
  ui/src/app/enrolment/waiting-room/waiting-room.component.ts
  ui/src/app/examination/clock/examination-clock.component.ts
Due: prettier, eslint

Add review progress
  ui/src/app/question/question.service.ts
  ui/src/app/review/assessment/sections/section.component.html
  ui/src/app/review/assessment/sections/section.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint
