Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

prettier:
  tags: frontend style
  run: npx prettier --write {staged_files}

prettier-java:
  tags: backend style
  run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}

eslint:
  tags: frontend rules
  run: npx eslint --fix {staged_files}

CSCEXAM-000 Align dev usage of CSP headers with prod usage
  angular.json
  conf/application.conf
  conf/dev.conf
Due: none

CSCEXAM-1403 More adjustments for support role permissions (#1267)
  app/controllers/assessment/QuestionReviewController.java
  app/controllers/attachment/AttachmentController.java
  app/controllers/enrolment/ReservationController.java
  app/controllers/facility/ExamMachineController.java
  app/impl/ExamUpdaterImpl.java
  ui/src/app/exam/editor/exam-tabs.component.html
  ui/src/app/exam/exam.service.ts
  ui/src/app/reservation/reservation-details.component.ts
  ui/src/app/reservation/reservations.component.ts
Due: prettier, prettier-java, eslint

CSCEXAM-1423 Fix checking for password existence in remote json
  app/controllers/iop/transfer/impl/OrganisationController.java
Due: prettier-java

CSCEXAM-1364 Show organisation code for remote maintenance periods
  ui/src/app/calendar/helpers/selected-room.component.ts
  ui/src/app/calendar/helpers/slot-picker.component.ts
  ui/src/app/shared/select/dropdown-select.component.ts
Due: prettier, eslint

CSCEXAM-1484 Fix some issues with adding exception events - wrong field names used in backend - misinforming translations fixed - fixed updating of whole day -value and its effect on time values
  app/controllers/facility/RoomController.java
  app/impl/mail/EmailComposerImpl.scala
  ui/src/app/facility/schedule/exception-dialog.component.ts
  ui/src/app/facility/schedule/exception-repetition-options.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, prettier-java, eslint

CSCEXAM-000 Make calendar tests more robust - Used to fail when run close to midnight
  test/controllers/iop/ExternalCalendarInterfaceTest.java
Due: prettier-java

CSCEXAM-1518 Setting for enabling new multichoice features
  app/controllers/admin/SettingsController.java
  app/miscellaneous/config/ConfigReader.scala
  app/miscellaneous/config/ConfigReaderImpl.scala
  conf/application.conf
  conf/dev.conf
  conf/routes
  ui/src/app/question/basequestion/multiple-choice.component.html
  ui/src/app/question/basequestion/multiple-choice.component.ts
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/app/question/basequestion/question-body.component.ts
  ui/src/app/question/question.service.ts
Due: prettier, prettier-java, eslint

Enhance booking calendar component with admin access checks and improve style preprocessing options
  angular.json
  ui/src/app/calendar/booking-calendar.component.ts
  ui/src/app/calendar/helpers/slot-picker.component.html
  ui/src/app/calendar/helpers/slot-picker.component.ts
  ui/src/app/facility/rooms/availability.component.html
  ui/src/app/facility/rooms/availability.component.ts
Due: prettier, eslint

CSCEXAM-1508 Add booking calendar component admin access check
  ui/src/app/calendar/booking-calendar.component.ts
  ui/src/app/facility/rooms/availability.component.html
  ui/src/app/facility/rooms/availability.component.ts
Due: prettier, eslint

Update booking calendar component to utilize session service for admin checks
  README.md
  ui/src/app/calendar/booking-calendar.component.ts
  ui/src/app/calendar/helpers/slot-picker.component.html
  ui/src/app/calendar/helpers/slot-picker.component.ts
  ui/src/app/facility/rooms/availability.component.html
  ui/src/app/facility/rooms/availability.component.ts
  ui/tsconfig.json
Due: prettier, eslint

Update README.md
  README.md
  ui/tsconfig.json
Due: none

Remove style preprocessor options from angular.json
  angular.json
Due: none

CSCEXAM-1509 Update opening hours component layout
  ui/src/app/facility/schedule/opening-hours.component.html
Due: prettier

CSCEXAM-1508 Enhance booking calendar component with admin access checks and improve style preprocessing options
  angular.json
  ui/src/app/calendar/booking-calendar.component.ts
  ui/src/app/calendar/helpers/slot-picker.component.html
  ui/src/app/calendar/helpers/slot-picker.component.ts
  ui/src/app/facility/rooms/availability.component.html
  ui/src/app/facility/rooms/availability.component.ts
Due: prettier, eslint

- Removed style preprocessor options from angular.json to streamline SCSS imports. - Cleared the "types" array in tsconfig.json to prevent automatic loading of type definitions.
  angular.json
  ui/tsconfig.json
Due: none

Fix TS2688 error by disabling implicit @types loading
  ui/tsconfig.json
Due: none

Update booking calendar component to utilize session service for admin checks
  ui/src/app/calendar/booking-calendar.component.ts
  ui/src/app/calendar/helpers/slot-picker.component.html
  ui/src/app/calendar/helpers/slot-picker.component.ts
  ui/src/app/facility/rooms/availability.component.html
  ui/src/app/facility/rooms/availability.component.ts
Due: prettier, eslint

CSCEXAM-1049 Add new properties for external exam provision - also fix a nuance in reservation view (extra space before comma)
  app/controllers/iop/transfer/impl/ExternalExamController.java
  ui/src/app/reservation/reservation-details.component.html
Due: prettier, prettier-java

CSCEXAM-1491 Fix copying of external assessments questions
  app/controllers/exam/copy/ExamCopyContext.java
  test/resources/externalExamAttainment.json
Due: prettier-java

CSCEXAM-000 Security hardening regarding npm
  .npmrc
  package-lock.json
  package.json
Due: none

CSCEXAM-000 Fix formatting issues
  ui/src/app/facility/rooms/room.component.html
  ui/src/app/review/questions/assessment/essay-answer.component.html
Due: prettier

CSCEXAM-1508 Add booking calendar component admin access check
  README.md
  ui/src/app/calendar/booking-calendar.component.ts
Due: prettier, eslint

CSCEXAM-1509, 1508 release bundle
  ui/src/app/calendar/booking-calendar.component.ts
  ui/src/app/facility/schedule/opening-hours.component.html
Due: prettier, eslint

lti
  app/controllers/ExaminationController.java
  app/controllers/JwksController.java
  app/controllers/QuestionController.java
  app/controllers/iop/transfer/impl/ExternalExaminationController.java
  app/models/questions/Question.java
  app/system/AppFilters.scala
  app/util/excel/ExcelBuilderImpl.java
  build.sbt
  conf/application.conf
  conf/dev.conf
  conf/evolutions/default/135.sql
  conf/messages.en
  conf/messages.fi
  conf/messages.sv
  conf/routes
  ui/src/app/exam/exam.model.ts
  ui/src/app/exam/printout/printout.component.ts
  ui/src/app/examination/examination.component.html
  ui/src/app/examination/examination.component.ts
  ui/src/app/examination/examination.service.ts
  ui/src/app/examination/examination.shared.scss
  ui/src/app/examination/instructions/answer-instructions.component.ts
  ui/src/app/examination/question/examination-lti-question.component.ts
  ui/src/app/examination/question/examination-question.component.html
  ui/src/app/examination/question/examination-question.component.ts
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/app/question/basequestion/question-body.component.ts
  ui/src/app/question/examquestion/exam-question.component.html
  ui/src/app/question/library/results/library-results.component.html
  ui/src/app/question/library/results/library-results.component.ts
  ui/src/app/question/question.service.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, prettier-java, eslint

CSCEXAM-1361 Finnish language package for EXAM 6.4
  ui/src/assets/i18n/fi.json
Due: none

CSCEXAM-1361 Finnish language package for EXAM 6.4
  conf/messages.fi
Due: none

CSCEXAM-1361 Swedish language package for EXAM 6.4
  ui/src/assets/i18n/sv.json
Due: none

CSCEXAM-1361 English language package for EXAM 6.4
  conf/messages.en
Due: none

CSCEXAM-1361 Finnish language package for EXAM 6.4
  conf/messages.sv
Due: none

CSCEXAM-1361 English language package for EXAM 6.4
  ui/src/assets/i18n/en.json
Due: none

merge dev -> lti
  app/controllers/examination/ExaminationController.java
  app/controllers/iop/transfer/impl/ExternalExaminationController.java
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/app/review/assessment/questions/essay-question.component.ts
Due: prettier, prettier-java, eslint

Path conditions:
  prettier: any of: **/*.{ts,html}
  prettier-java: any of: **/*.java
  eslint: any of: **/*.ts
