Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

prettier:
  tags: frontend style
  run: npx prettier --write {staged_files}

prettier-java:
  tags: backend style
  run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}

eslint:
  tags: frontend rules
  run: npx eslint --fix {staged_files}

CSCEXAM-1632 Fixed signal issues with library
  conf/application.conf
  ui/src/app/question/library/library.component.ts
  ui/src/app/question/library/results/library-results.component.html
  ui/src/app/question/library/results/library-results.component.ts
  ui/src/app/question/picker/question-picker.component.ts
Due: prettier, eslint

CSCEXAM-1624 Fixed a problem with moodle export
  app/features/question/controllers/QuestionController.scala
  app/features/question/services/QuestionService.scala
  test/base/BaseIntegrationSpec.scala
  test/question/QuestionControllerSpec.scala
  ui/src/app/question/library/library.component.ts
Due: prettier, eslint

CSCEXAM-1625 Fixed time handling in exceptions
  ui/src/app/facility/schedule/exception-dialog.component.ts
  ui/src/app/facility/schedule/exception-repetition-options.component.spec.ts
  ui/src/app/facility/schedule/exception-repetition-options.component.ts
  ui/src/app/facility/schedule/opening-hours.component.ts
  ui/src/app/shared/date/date.service.spec.ts
  ui/src/app/shared/date/date.service.ts
Due: prettier, eslint

CSCEXAM-636 Fixed inconsistent astatistics
  app/features/admin/services/StatisticsService.scala
  app/repository/ExaminationRepository.scala
  ui/src/app/administrative/statistics/categories/response-statistics.component.ts
  ui/src/app/administrative/statistics/statistics.service.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1626 Fixed maintenance period comparison
  ui/src/app/facility/facility.component.ts
  ui/src/app/facility/rooms/room.service.ts
  ui/src/app/facility/schedule/maintenance-period-dialog.component.ts
Due: prettier, eslint

CSCEXAM-1622 Fixed collaborative review issues
  app/features/iop/collaboration/controllers/CollaborativeReviewController.scala
  app/features/iop/collaboration/controllers/CollaborativeStudentActionController.scala
  app/features/iop/collaboration/services/CollaborativeExamProcessingService.scala
  app/features/iop/collaboration/services/CollaborativeStudentActionService.scala
  app/services/csv/CsvBuilderImpl.scala
  test/iop/CollaborativeClozeTestAnswerSpec.scala
  test/iop/CollaborativeExamScoreCalculationSpec.scala
Due: none

CSCEXAM-000 Dropped obsolete timezone offsets
  ui/src/app/facility/schedule/exception-dialog.component.ts
  ui/src/app/reservation/reservation.model.ts
Due: prettier, eslint

CSCEXAM-000 Fixed working hour timezone handling
  app/services/datetime/DateTimeHandlerImpl.scala
  test/datetime/WorkingHoursTimezoneSpec.scala
Due: none

CSCEXAM-000 Added DST slot generation tests
  test/datetime/SlotGenerationDstSpec.scala
Due: none

CSCEXAM-000 Fixed downs of the DST correction
  conf/evolutions/default/147.sql
Due: none

CSCEXAM-000 Fixed downs of the time conversions
  conf/evolutions/default/148.sql
  conf/evolutions/default/149.sql
Due: none

CSCEXAM-1625 Fixed examination event date filter
  ui/src/app/exam/editor/events/examination-event-search.component.spec.ts
  ui/src/app/exam/editor/events/examination-event-search.component.ts
Due: prettier, eslint

Raportit v2: "Raportti 3" and "Raportti 1" WIP
  app/features/enrolment/services/ReservationService.scala
  app/models/enrolment/Reservation.scala
  ui/src/app/administrative/reports/v2/reports-v2.component.html
  ui/src/app/administrative/reports/v2/reports-v2.component.scss
  ui/src/app/administrative/reports/v2/reports-v2.component.ts
  ui/src/app/dashboard/staff/staff.routes.ts
  ui/src/app/enrolment/enrolment.model.ts
  ui/src/app/navigation/navigation.service.ts
  ui/src/app/reservation/reservation.model.ts
  ui/src/app/reservation/reservation.service.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

Improve table styling
  ui/src/app/administrative/reports/v2/reports-v2.component.html
  ui/src/app/administrative/reports/v2/reports-v2.component.scss
Due: prettier

Fix column filter drop-down under headers
  ui/src/app/administrative/reports/v2/reports-v2.component.scss
Due: none

More quality of life improvements
  ui/src/app/administrative/reports/v2/reports-v2.component.html
  ui/src/app/administrative/reports/v2/reports-v2.component.scss
  ui/src/app/administrative/reports/v2/reports-v2.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

Port LTI backend from Java to Scala
  app/features/lti/controllers/JwksController.scala
  app/features/lti/controllers/LtiController.scala
  app/features/lti/services/LtiError.scala
  app/features/lti/services/LtiService.scala
  app/features/question/services/QuestionService.scala
  app/models/questions/Question.scala
  app/models/questions/QuestionType.java
  app/models/sections/ExamSectionQuestion.scala
  app/services/excel/ExcelBuilderImpl.scala
  conf/application.conf
  conf/routes
  lti-port-reference/README.md
  lti-port-reference/java/app/controllers/JwksController.java
  lti-port-reference/java/app/controllers/examination/ExaminationController.java
  lti-port-reference/java/app/controllers/iop/transfer/impl/ExternalExaminationController.java
  lti-port-reference/java/app/controllers/question/QuestionController.java
  lti-port-reference/java/app/miscellaneous/excel/ExcelBuilderImpl.java
  lti-port-reference/java/app/models/questions/Question.java
  lti-port-reference/java/app/models/sections/ExamSectionQuestion.java
  lti-port-reference/lti-backend.diff
Due: prettier-java

All reports in table, MVP
  ui/src/app/administrative/reports/v2/reports-v2.component.html
  ui/src/app/administrative/reports/v2/reports-v2.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
Due: prettier, eslint

Fix gradescale not fetched
  app/features/enrolment/services/ReservationService.scala
  ui/src/app/administrative/reports/v2/reports-v2.component.ts
Due: prettier, eslint

Refactor for linter, WIP
  ui/src/app/administrative/reports/v2/reports-v2.component.ts
Due: prettier, eslint

Remove unnecessary exam parent
  ui/src/app/administrative/reports/v2/reports-v2.component.ts
Due: prettier, eslint

Verify redirect_uri and bind LTI callback to the session
  app/features/lti/controllers/LtiController.scala
  app/features/lti/services/LtiError.scala
  app/features/lti/services/LtiService.scala
  conf/application.conf
  test/assessment/ExamSectionQuestionScoreSpec.scala
  test/lti/LtiFlowSpec.scala
  test/lti/LtiServiceSpec.scala
Due: none

CSCEXAM-1634 Improved editor instance destroyal
  ui/src/app/shared/ckeditor/ckeditor-initialization.service.ts
  ui/src/app/shared/ckeditor/ckeditor.component.ts
Due: prettier, eslint

CSCEXAM-1579 Fixed attachment addition signaling
  ui/src/app/review/assessment/feedback/feedback.component.ts
  ui/src/app/review/assessment/feedback/statement.component.ts
Due: prettier, eslint

CSCEXAM-1564 Fixed DST handling for participations
  app/features/enrolment/services/ReservationService.scala
  ui/src/app/review/listing/categories/archived.component.html
  ui/src/app/review/listing/categories/graded-logged.component.html
  ui/src/app/review/listing/categories/graded.component.html
  ui/src/app/review/listing/categories/in-language-inspection.component.html
  ui/src/app/review/listing/categories/rejected.component.html
  ui/src/app/review/listing/speed-review.component.html
  ui/src/app/shared/date/apply-dst.pipe.spec.ts
  ui/src/app/shared/date/apply-dst.pipe.ts
Due: prettier, eslint

CSCEXAM-1633 Fixed reservation sorting bug
  ui/src/app/reservation/reservation-details.component.ts
Due: prettier, eslint

CSCEXAM-1582 Fixed UI redirection logic
  CLAUDE.md
  ui/src/app/session/session-login-redirect.spec.ts
  ui/src/app/session/session.service.ts
Due: prettier, eslint

CSCEXAM-1604 Changed external reservation mgmt
  app/features/enrolment/controllers/ReservationController.scala
  app/features/enrolment/services/ReservationError.scala
  app/features/enrolment/services/ReservationService.scala
  app/services/mail/EmailComposerImpl.scala
  conf/messages.en
  conf/messages.fi
  conf/messages.sv
  test/iop/ExternalCalendarInterfaceSpec.scala
  ui/src/app/reservation/reservation-details.component.spec.ts
  ui/src/app/reservation/reservation-details.component.ts
Due: prettier, eslint

Always show multichoice shuffle features
  ui/src/app/question/editor/common/types/multiple-choice.component.html
Due: prettier

CSCEXAM-000 Forbade making external reservations
  app/features/iop/transfer/controllers/ExternalCalendarController.scala
  app/features/iop/transfer/controllers/ExternalExamController.scala
  app/features/iop/transfer/services/ExternalExamError.scala
  app/features/iop/transfer/services/ExternalExamService.scala
  app/models/exam/Exam.scala
  test/iop/ExternalCalendarInterfaceSpec.scala
  test/iop/ExternalExamControllerSpec.scala
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: none

CSCEXAM-1572 Fixed parameter passing
  app/features/iop/collaboration/controllers/CollaborativeExternalCalendarController.scala
  test/iop/CollaborativeExternalCalendarControllerSpec.scala
Due: none

Path conditions:
  prettier: any of: **/*.{ts,html}
  prettier-java: any of: **/*.java
  eslint: any of: **/*.ts
