Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

prettier:
  tags: frontend style
  run: npx prettier --write {staged_files}

prettier-java:
  tags: backend style
  run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}

eslint:
  tags: frontend rules
  run: npx eslint --fix {staged_files}

CSCEXAM-1010 Modifications for external report API - Also fixes ticket CSCEXAM-1419
  app/controllers/integration/ReportAPIController.java
  app/models/exam/Exam.java
Due: prettier-java

CSCEXAM-459 Modifications based on comments
  package-lock.json
  package.json
  ui/src/app/administrative/statistics/categories/exam-statistics.component.ts
  ui/src/app/administrative/statistics/categories/iop-reservation-statistics.component.ts
  ui/src/app/administrative/statistics/categories/reservation-statistics.component.ts
  ui/src/app/administrative/statistics/categories/response-statistics.component.ts
  ui/src/app/administrative/statistics/categories/room-statistics.component.ts
Due: prettier, eslint

CSCEXAM-459 Modifications based on comments
  ui/src/app/administrative/statistics/categories/exam-statistics.component.ts
  ui/src/app/administrative/statistics/categories/iop-reservation-statistics.component.ts
  ui/src/app/administrative/statistics/categories/reservation-statistics.component.ts
  ui/src/app/administrative/statistics/categories/response-statistics.component.ts
  ui/src/app/administrative/statistics/categories/room-statistics.component.ts
Due: prettier, eslint

CSCEXAM-1444 Add expand/collapse all functionality for assessment answers (#1229)
  ui/src/app/exam/listing/unified-exam-list.component.html
  ui/src/app/review/questions/assessment/essay-answer.component.html
  ui/src/app/review/questions/assessment/question-assessment.component.html
  ui/src/app/review/questions/assessment/question-assessment.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-459 Fix backend not returning some data
  app/controllers/admin/ReportController.java
Due: prettier-java

CSCEXAM-459 Fix backend not returning some data
  app/controllers/ReportController.java
Due: prettier-java

CSCEXAM-1361 Swedish language package changes for EXAM v6.3.5
  ui/src/assets/i18n/sv.json
Due: none

CSCEXAM-1361 English language package changes for EXAM v6.3.5
  ui/src/assets/i18n/en.json
Due: none

CSCEXAM-000 Bump version to 6.3.5
  build.sbt
  conf/application.conf
  package-lock.json
  package.json
Due: none

CSCEXAM-000 Migrate to Angular 20
  angular.json
  eslint.config.mjs
  package-lock.json
  package.json
  ui/.eslintrc.json
  ui/karma.conf.js
  ui/src/app/enrolment/active/helpers/optional-sections.component.ts
  ui/src/app/session/session.service.ts
  ui/src/app/shared/ckeditor/ckeditor.component.ts
  ui/src/app/shared/miscellaneous/common-exam.service.ts
  ui/src/main.ts
Due: prettier, eslint

CSCEXAM-000 Upgrade to MathJax 4
  eslint.config.mjs
  package-lock.json
  package.json
  ui/src/app/examination/question/dynamic-cloze-test.component.ts
  ui/src/app/review/assessment/print/printed-assessment.component.ts
  ui/src/app/shared/math/math-jax.directive.ts
  ui/src/index.html
  ui/src/types/mathjax.d.ts
  ui/tsconfig.app.json
  ui/tsconfig.json
Due: prettier, eslint

CSCEXAM-000 Make MathJax lazy-loadable
  package.json
  ui/src/app/examination/question/dynamic-cloze-test.component.ts
  ui/src/app/review/assessment/print/printed-assessment.component.ts
  ui/src/app/shared/math/math-jax.directive.ts
  ui/src/app/shared/math/mathjax.service.ts
  ui/src/index.html
Due: prettier, eslint

CSCEXAM-000 Add translations for new plugin
  .gitignore
  ui/src/app/shared/ckeditor/ckeditor.component.ts
  ui/src/app/shared/ckeditor/ckeditor.styles.scss
  ui/src/app/shared/ckeditor/plugins/clozetest/command.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/editing.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/en po
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/en.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/fi.po
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/fi.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/sv.po
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/sv.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/plugin.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/ui.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/utils.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/view.ts
  ui/src/assets/vendor/README.MD
Due: prettier, eslint

CSCEXAM-000 Fix wordcount while multiple ckeditors on single page
  ui/src/app/exam/editor/basic/basic-exam-info.component.html
  ui/src/app/examination/question/examination-essay-question.component.html
  ui/src/app/shared/ckeditor/ckeditor.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-000 Revert back to mathjax 2 - looks like we need ckeditor 5 if we want newer versions :(
  package-lock.json
  package.json
  ui/src/app/shared/math/mathjax.service.ts
  ui/src/assets/components/vendor/ckeditor/config.js
  ui/src/index.html
  ui/src/types/mathjax.d.ts
Due: prettier, eslint

CSCEXAM-000 POC with MathLive
  angular.json
  package-lock.json
  package.json
  ui/src/app/maturity/language-inspections.component.ts
  ui/src/app/question/library/results/library-results.component.html
  ui/src/app/question/library/results/library-results.component.ts
  ui/src/app/shared/math/math-live.directive.ts
  ui/src/app/shared/math/math-unified.directive.ts
  ui/src/app/shared/math/mathjax.service.ts
  ui/src/app/shared/math/mathlive-display.component.ts
  ui/src/app/shared/math/mathlive-html-editor.component.scss
  ui/src/app/shared/math/mathlive-html-editor.component.ts
  ui/src/app/shared/math/mathlive.service.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
  ui/tsconfig.json
Due: prettier, eslint

Naming changes
  ui/src/app/calendar/helpers/exam-info.component.ts
  ui/src/app/enrolment/active/active-enrolment.component.ts
  ui/src/app/enrolment/active/dialogs/show-instructions-dialog.component.ts
  ui/src/app/enrolment/exams/exam-enrolment-details.component.ts
  ui/src/app/enrolment/finished/exam-answers-dialog.component.ts
  ui/src/app/enrolment/waiting-room/waiting-room.component.ts
  ui/src/app/exam/editor/sections/section-question.component.ts
  ui/src/app/exam/printout/printout.component.ts
  ui/src/app/examination/instructions/answer-instructions.component.ts
  ui/src/app/examination/question/examination-question.component.ts
  ui/src/app/maturity/language-inspections.component.ts
  ui/src/app/question/library/results/library-results.component.ts
  ui/src/app/review/assessment/general/general-info.component.ts
  ui/src/app/review/assessment/grading/grading.component.ts
  ui/src/app/review/assessment/maturity/grading.component.ts
  ui/src/app/review/assessment/print/printed-assessment.component.ts
  ui/src/app/review/assessment/print/printed-cloze-test.component.ts
  ui/src/app/review/assessment/print/printed-essay.component.ts
  ui/src/app/review/assessment/print/printed-multi-choice.component.ts
  ui/src/app/review/assessment/questions/cloze-test.component.ts
  ui/src/app/review/assessment/questions/essay-question.component.ts
  ui/src/app/review/assessment/questions/multi-choice-question.component.ts
  ui/src/app/review/assessment/questions/weighted-multi-choice-answer.component.ts
  ui/src/app/review/questions/assessment/essay-answer.component.ts
  ui/src/app/review/questions/assessment/question-assessment.component.ts
  ui/src/app/review/questions/listing/question-review.component.ts
  ui/src/app/shared/math/math-editor.component.html
  ui/src/app/shared/math/math-editor.component.scss
  ui/src/app/shared/math/math-editor.component.ts
  ui/src/app/shared/math/math.directive.ts
  ui/src/app/shared/math/mathjax.directive.ts
  ui/src/app/shared/math/mathlive-html-editor.component.scss
  ui/src/app/shared/math/mathlive.directive.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1423 Exam room password feature
  app/controllers/facility/RoomController.java
  app/models/facility/ExamRoom.java
  conf/evolutions/default/142.sql
  conf/routes
  ui/src/app/calendar/booking-calendar.component.ts
  ui/src/app/calendar/calendar.service.ts
  ui/src/app/calendar/helpers/password-prompt.component.ts
  ui/src/app/calendar/helpers/slot-picker.component.html
  ui/src/app/calendar/helpers/slot-picker.component.ts
  ui/src/app/facility/rooms/room.component.html
  ui/src/app/facility/rooms/room.component.ts
  ui/src/app/facility/rooms/room.service.ts
  ui/src/app/reservation/reservation.model.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, prettier-java, eslint

CSCEXAM-000 CKEditor 5 Math plugin implementation
  app/sanitizers/SanitizingHelper.java
  ui/src/app/shared/ckeditor/ckeditor.component.ts
  ui/src/app/shared/ckeditor/plugins/math/command.ts
  ui/src/app/shared/ckeditor/plugins/math/editing.ts
  ui/src/app/shared/ckeditor/plugins/math/lang/translations/en.ts
  ui/src/app/shared/ckeditor/plugins/math/lang/translations/fi.ts
  ui/src/app/shared/ckeditor/plugins/math/lang/translations/model.ts
  ui/src/app/shared/ckeditor/plugins/math/lang/translations/sv.ts
  ui/src/app/shared/ckeditor/plugins/math/plugin.ts
  ui/src/app/shared/ckeditor/plugins/math/ui.ts
  ui/src/app/shared/ckeditor/plugins/math/utils.ts
  ui/src/app/shared/ckeditor/plugins/math/view.ts
  ui/src/app/shared/math/math-editor.component.html
Due: prettier, prettier-java, eslint

CSCEXAM-1403 Fix test findings
  app/controllers/enrolment/ReservationController.java
  app/controllers/facility/RoomController.java
  app/controllers/user/UserController.java
  ui/src/app/administrative/users/users.component.html
  ui/src/app/exam/editor/exam-tabs.component.html
Due: prettier, prettier-java

CSCEXAM-1049 Fix test findings
  ui/src/app/question/question-scoring.service.ts
Due: prettier, eslint

CSCEXAM-1049 Fix typo
  ui/src/app/question/question-scoring.service.ts
Due: prettier, eslint

CSCEXAM-1400 Fix test ffindings
  app/repository/EnrolmentRepository.java
  ui/src/app/interceptors/examination-interceptor.ts
Due: prettier, prettier-java, eslint

Path conditions:
  prettier: any of: **/*.{ts,html}
  prettier-java: any of: **/*.java
  eslint: any of: **/*.ts
