Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

prettier:
  tags: frontend style
  run: npx prettier --write {staged_files}

prettier-java:
  tags: backend style
  run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}

eslint:
  tags: frontend rules
  run: npx eslint --fix {staged_files}

CSCEXAM-000 Added fixes for v7
  app/features/attachment/controllers/AttachmentController.scala
  app/features/iop/collaboration/controllers/CollaborativeAttachmentController.scala
  app/features/iop/transfer/services/ExternalAttachmentService.scala
  app/services/exam/ExternalCourseHandlerImpl.scala
  test/iop/BaseCollaborativeAttachmentSpec.scala
Due: none

Revert "Escape HTML in multi-choice answers"
  ui/src/app/enrolment/finished/exam-answers-dialog.component.html
  ui/src/app/enrolment/finished/exam-answers-dialog.component.ts
Due: prettier, eslint

Improve test
  ui/src/app/enrolment/finished/exam-answers-dialog.component.spec.ts
Due: prettier, eslint

Remove MathJax from multichoice
  ui/src/app/enrolment/finished/exam-answers-dialog.component.html
Due: prettier

Remove MathJax from weighted-multi-choice-answer options also
  ui/src/app/review/assessment/questions/weighted-multi-choice-answer.component.ts
Due: prettier, eslint

Remove unsafe innerHtml from question options
  ui/src/app/review/assessment/questions/claim-choice-answer.component.ts
Due: prettier, eslint

Remove unused import
  ui/src/app/review/assessment/questions/weighted-multi-choice-answer.component.ts
Due: prettier, eslint

Add tests for secured answer option rendering
  ui/src/app/review/assessment/questions/claim-choice-answer.component.spec.ts
  ui/src/app/review/assessment/questions/weighted-multi-choice-answer.component.spec.ts
Due: prettier, eslint

Fix formatting
  ui/src/app/enrolment/finished/exam-answers-dialog.component.html
  ui/src/app/enrolment/finished/exam-answers-dialog.component.spec.ts
  ui/src/app/review/assessment/questions/claim-choice-answer.component.spec.ts
  ui/src/app/review/assessment/questions/weighted-multi-choice-answer.component.spec.ts
Due: prettier, eslint

CSCEXAM-000 Fixed scalafmt issue
  app/services/exam/ExternalCourseHandlerImpl.scala
Due: none

CSCEXAM-000 Dockerfile updated (apt-key deprecated)
  docker/Dockerfile
Due: none

CSCEXAM-000 Dropped key check for sbt installation
  docker/Dockerfile
Due: none

CSCEXAM-000 One more attempt to fix docker build
  docker/Dockerfile
Due: none

Fix rendering of options in assessment
  ui/src/app/enrolment/finished/exam-answers-dialog.component.html
  ui/src/app/review/assessment/questions/claim-choice-answer.component.ts
Due: prettier, eslint

CSCEXAM-1571 Fixed parsing of external room data
  app/services/datetime/CalendarHandlerImpl.scala
Due: none

CSCEXAM-000 Fixed missing anonymization
  app/features/assessment/services/QuestionReviewService.scala
  app/features/exam/services/ExamService.scala
  app/features/iop/collaboration/controllers/CollaborativeReviewController.scala
  app/services/exam/ExternalCourseHandlerImpl.scala
Due: none

CSCEXAM-1587 Fixed problems with collab reviews
  app/features/iop/collaboration/controllers/CollaborativeReviewController.scala
  ui/src/app/review/assessment/common/grading-base.component.ts
  ui/src/app/review/assessment/grading/grading.component.html
Due: prettier, eslint

CSCEXAM-1587 Fixed problems with collab reviews
  app/features/iop/collaboration/controllers/CollaborativeAttachmentController.scala
  app/features/iop/collaboration/controllers/CollaborativeReviewController.scala
  app/features/iop/collaboration/services/CollaborativeExamLoaderService.scala
  ui/src/app/review/assessment/common/grading-base.component.ts
  ui/src/app/review/assessment/grading/grading.component.html
Due: prettier, eslint

CSCEXAM-1587 Fixed problems with collab reviews
  app/features/iop/collaboration/controllers/CollaborativeAttachmentController.scala
  app/features/iop/collaboration/services/CollaborativeExamLoaderService.scala
Due: none

CSCEXAM-1585 Modified calculation of thresholds
  app/services/exam/AutoEvaluationHandlerImpl.scala
Due: none

CSCEXAM-1592 Disabled ckeditor link preview
  ui/src/app/shared/ckeditor/ckeditor.component.ts
Due: prettier, eslint

CSCEXAM-1561 Added preservation of parent relation
  app/features/exam/copy/ExamCopyContext.scala
  app/services/exam/ExternalExamHandler.scala
  test/iop/ExternalExamControllerSpec.scala
  test/resources/externalExamAttainment.json
Due: none

CSCEXAM-1578 Fixed a typo in clock stylesheet
  ui/src/app/examination/clock/examination-clock.component.scss
Due: none

Fix type casting and validation on deadline setting
  app/features/admin/controllers/SettingsController.scala
  ui/src/app/administrative/settings/settings.service.ts
Due: prettier, eslint

Formatting changes
  app/features/admin/controllers/SettingsController.scala
Due: none

Add tests for updated settings
  test/features/admin/SettingsControllerSpec.scala
Due: none

CSCEXAM-1572 Fixed a NPE with reservations
  app/features/iop/collaboration/services/CollaborativeExternalCalendarService.scala
Due: none

CSCEXAM-1567 Fixed DST handling in waiting room
  ui/src/app/enrolment/waiting-room/waiting-room-early.component.ts
Due: prettier, eslint

CSCEXAM-1576 Added missing fields to JSON payload
  app/features/assessment/services/ReviewService.scala
  ui/src/app/review/assessment/questions/multi-choice-question.component.html
Due: prettier

CSCEXAM-1579 Fixed linked signal setup
  ui/src/app/review/assessment/feedback/feedback.component.ts
Due: prettier, eslint

CSCEXAM-1580 Added missing translation
  ui/src/app/review/assessment/feedback/feedback.component.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: **/*.{ts,html}
  prettier-java: any of: **/*.java
  eslint: any of: **/*.ts
