Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

prettier:
  tags: frontend style
  run: npx prettier --write {staged_files}

prettier-java:
  tags: backend style
  run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}

eslint:
  tags: frontend rules
  run: npx eslint --fix {staged_files}

CSCEXAM-1658 Backfilled retention start times
  conf/evolutions/default/151.sql
  test/retention/RetentionBackfillSpec.scala
Due: none

CSCEXAM-1658 Deleted users with Ebean
  app/features/retention/services/IopRetentionClient.scala
  app/features/retention/services/RetentionPolicy.scala
  app/features/retention/services/RetentionRepository.scala
  app/features/retention/services/RetentionService.scala
  app/features/retention/services/XmRetentionClient.scala
  app/system/SystemInitializer.scala
  test/retention/RetentionSafetySpec.scala
Due: none

CSCEXAM-1658 Filtered no-show candidates in SQL
  app/system/jobs/ReservationPollerService.scala
  test/enrolment/NoShowCandidatesSpec.scala
Due: none

CSCEXAM-1658 Deleted bookings XM can't delete
  app/features/retention/services/RetentionRepository.scala
  app/features/retention/services/RetentionService.scala
  test/retention/RetentionIopSpec.scala
  test/retention/RetentionServiceSpec.scala
Due: none

CSCEXAM-1621 Made retention job scale
  app/features/retention/services/RetentionRepository.scala
  app/features/retention/services/RetentionService.scala
  app/system/jobs/StudentDataRetentionJob.scala
  conf/application.conf
  conf/evolutions/default/149.sql
  test/features/admin/SettingsControllerSpec.scala
  test/retention/RetentionPolicySpec.scala
  test/retention/RetentionReportSpec.scala
  test/retention/RetentionServiceSpec.scala
Due: none

CSCEXAM-1658 Handled weekly retry in no-shows
  app/services/enrolment/NoShowHandlerImpl.scala
Due: none

CSCEXAM-1658 Added bulk data seeder script
  .github/workflows/build.yml
  scripts/internal/requirements.txt
  scripts/internal/seed_bulk.py
Due: none

CSCEXAM-1658 Stopped resending stranded IOP items
  app/features/iop/collaboration/services/CollaborativeExamLoaderService.scala
  app/models/enrolment/ExamParticipation.scala
  app/models/iop/ExternalExam.scala
  app/services/enrolment/NoShowHandlerImpl.scala
  app/services/iop/IopDelivery.scala
  app/system/jobs/AssessmentTransferService.scala
  app/system/jobs/CollaborativeAssessmentSenderService.scala
  conf/evolutions/default/150.sql
  test/iop/IopDeliveryJobsSpec.scala
  test/iop/IopDeliverySpec.scala
Due: none

CSCEXAM-1621 Added retention safety tests
  app/features/retention/services/RetentionRepository.scala
  app/features/retention/services/RetentionService.scala
  test/retention/RetentionIopSpec.scala
  test/retention/RetentionReportSpec.scala
  test/retention/RetentionSafetySpec.scala
  test/retention/RetentionServiceSpec.scala
  test/retention/RetentionSpecBase.scala
Due: none

CSCEXAM-1658 Scaled retention for big databases
  app/features/retention/services/RetentionRepository.scala
  app/features/retention/services/RetentionService.scala
  conf/application.conf
  test/retention/RetentionPolicySpec.scala
  test/retention/RetentionServiceSpec.scala
Due: none

CSCEXAM-1658 Made exam auto saver fault tolerant
  app/system/jobs/ExamAutoSaverService.scala
  test/jobs/ScheduledJobsSpec.scala
Due: none

CSCEXAM-1658 Fixed batch size in settings spec
  test/features/admin/SettingsControllerSpec.scala
Due: none

CSCEXAM-1658 Seeded users with invalid emails
  scripts/internal/seed_bulk.py
Due: none

CSCEXAM-1658 Sped up weekly report queries
  app/services/mail/EmailComposerImpl.scala
Due: none

CSCEXAM-000 Bumped GitHub Actions versions
  .github/workflows/build.yml
Due: none

CSCEXAM-1658 Documented seed database restore
  scripts/internal/seed_bulk.py
Due: none

CSCEXAM-1658 Filtered auto-evaluations in SQL
  app/system/jobs/AutoEvaluationNotifierService.scala
Due: none

CSCEXAM-1591 Disable full examination events
  ui/src/app/enrolment/active/dialogs/select-examination-event-dialog.component.ts
  ui/src/app/enrolment/enrolment.model.ts
  ui/src/app/enrolment/enrolment.service.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1587 Fixed stale exam in collab grading
  ui/src/app/review/assessment/assessment.component.spec.ts
  ui/src/app/review/assessment/assessment.component.ts
  ui/src/app/review/assessment/general/general-info.component.ts
Due: prettier, eslint

CSCEXAM-1593 Shrank font sizes a bit
  ui/src/app/calendar/calendar.component.scss
  ui/src/app/enrolment/active/active-enrolment.component.scss
  ui/src/app/enrolment/enrolment.shared.scss
  ui/src/app/enrolment/finished/exam-participation.component.html
  ui/src/app/enrolment/finished/exam-participations.component.scss
  ui/src/app/enrolment/search/exam-search-tabs.component.scss
  ui/src/app/enrolment/search/exam-search.component.scss
  ui/src/app/exam/editor/assessment/auto-evaluation.component.scss
  ui/src/app/exam/editor/assessment/exam-feedback-config.component.scss
  ui/src/app/exam/editor/exam-tabs.component.scss
  ui/src/app/exam/editor/sections/sections.shared.scss
  ui/src/app/exam/exam.shared.scss
  ui/src/app/examination/clock/examination-clock.component.scss
  ui/src/app/examination/header/examination-header.component.scss
  ui/src/app/examination/navigation/examination-toolbar.component.scss
  ui/src/app/examination/question/examination-question.component.scss
  ui/src/app/examination/question/question.shared.scss
  ui/src/app/examination/section/examination-section.component.scss
  ui/src/app/facility/rooms/rooms.component.scss
  ui/src/app/maturity/maturity.shared.scss
  ui/src/app/navigation/navigation.component.scss
  ui/src/app/question/editor/question.shared.scss
  ui/src/app/reservation/reservations.component.scss
  ui/src/app/review/assessment/assessment.shared.scss
  ui/src/app/review/assessment/questions/essay-question.component.scss
  ui/src/app/review/assessment/questions/multi-choice-answers.shared.scss
  ui/src/app/review/listing/review-list.component.scss
  ui/src/app/review/listing/speed-review.component.scss
  ui/src/app/review/questions/assessment/question-assessment.component.scss
  ui/src/app/review/questions/flow/question-flow.component.scss
  ui/src/app/review/questions/listing/question-review.component.scss
  ui/src/app/shared/ckeditor/ckeditor.styles.scss
  ui/src/styles.scss
Due: prettier

CSCEXAM-1604 Fixed deleting a booking
  app/features/enrolment/services/ReservationService.scala
  app/features/iop/transfer/services/ExternalReservationHandlerService.scala
  app/services/mail/EmailComposerImpl.scala
  conf/messages.en
  conf/messages.fi
  conf/messages.sv
  test/iop/ExternalCalendarInterfaceSpec.scala
Due: none

CSCEXAM-1633 Fixed ordering of reservations
  app/features/enrolment/services/ReservationService.scala
  ui/src/app/reservation/reservation-details.component.html
  ui/src/app/reservation/reservation-details.component.ts
  ui/src/app/reservation/reservation.model.ts
  ui/src/app/reservation/reservation.service.spec.ts
  ui/src/app/reservation/reservation.service.ts
  ui/src/app/shared/date/apply-dst.pipe.spec.ts
  ui/src/app/shared/date/apply-dst.pipe.ts
  ui/src/app/shared/date/date.service.ts
Due: prettier, eslint

CSCEXAM-1664 Removed a redundant button
  ui/src/app/enrolment/active/helpers/active-enrolment-menu.component.html
Due: prettier

CSCEXAM-1665 Fixed grade scale change problems
  ui/src/app/exam/editor/assessment/auto-evaluation.component.html
  ui/src/app/exam/editor/assessment/auto-evaluation.component.spec.ts
  ui/src/app/exam/editor/assessment/auto-evaluation.component.ts
  ui/src/app/exam/editor/exam-tabs.component.ts
  ui/src/app/exam/editor/exam-tabs.service.spec.ts
  ui/src/app/exam/editor/exam-tabs.service.ts
Due: prettier, eslint

CSCEXAM-1666 Fixed course handling for copied exam
  app/features/exam/services/ExamService.scala
  test/exam/ExamGradeScaleSpec.scala
  ui/src/app/exam/editor/assessment/auto-evaluation.component.spec.ts
  ui/src/app/exam/editor/assessment/auto-evaluation.component.ts
Due: prettier, eslint

CSCEXAM-1667 Fix collaborative exam visit return
  app/features/iop/transfer/services/ExternalExamService.scala
  app/services/exam/ExternalExamHandler.scala
  test/iop/ExternalExamControllerSpec.scala
  ui/src/app/reservation/reservation.service.spec.ts
  ui/src/app/reservation/reservation.service.ts
Due: prettier, eslint

CSCEXAM-1668 Fixed question copy in collab exams
  app/features/question/services/QuestionService.scala
  test/question/QuestionControllerSpec.scala
  ui/src/app/exam/editor/sections/section.component.ts
Due: prettier, eslint

CSCEXAM-1669 Fix collab exam section add and preview
  app/features/iop/collaboration/controllers/CollaborativeExamController.scala
  app/features/iop/collaboration/controllers/CollaborativeExamSectionController.scala
  app/features/iop/collaboration/services/CollaborativeExamSectionService.scala
  test/iop/CollaborativeExamSectionControllerSpec.scala
Due: none

CSCEXAM-1670 Fixed display of collaborative exams
  app/features/iop/collaboration/controllers/CollaborativeReviewController.scala
  test/iop/CollaborativeReviewExportSpec.scala
  ui/src/app/review/listing/categories/graded-logged.component.html
  ui/src/app/review/listing/review-list.service.ts
Due: prettier, eslint

CSCEXAM-1671 Fixed short exam slot height
  ui/src/app/calendar/booking-calendar.component.ts
  ui/src/app/calendar/calendar.component.html
  ui/src/app/calendar/helpers/slot-picker.component.html
  ui/src/app/calendar/helpers/slot-picker.component.ts
  ui/src/styles.scss
Due: prettier, eslint

CSCEXAM-1690 Fixed collaborative assessment copy
  app/controllers/exam/copy/ExamCopyContext.java
  app/controllers/iop/transfer/impl/ExternalExamController.java
  app/models/sections/ExamSectionQuestion.java
  test/controllers/iop/ExternalExamControllerTest.java
Due: prettier-java

Path conditions:
  prettier: any of: **/*.{ts,html}
  prettier-java: any of: **/*.java
  eslint: any of: **/*.ts
