Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

lefthook.yml:

# SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium
#
# SPDX-License-Identifier: EUPL-1.2

pre-commit:
  commands:
    prettier:
      tags: frontend style
      glob: "**/*.{ts,html}"
      run: npx prettier --write {staged_files}
    prettier-java:
      tags: backend style
      glob: "**/*.java"
      run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}
    eslint:
      tags: frontend rules
      glob: "**/*.ts"
      run: npx eslint --fix {staged_files}

CSCEXAM-1200 Ignore question type=casteogry in Moodle import
  app/miscellaneous/xml/MoodleXmlImporterImpl.scala
Due: none

CSCEXAM-000 Fix failing UI-test
  ui/src/app/shared/select/dropdown-select.component.spec.ts
Due: prettier, eslint

Fix tests
  ui/src/app/shared/select/dropdown-select.component.spec.ts
  ui/src/app/shared/select/dropdown-select.component.ts
Due: prettier, eslint

Fix tests
  angular.json
  ui/src/app/app.component.spec.ts
  ui/src/app/shared/select/dropdown-select.component.spec.ts
  ui/tsconfig.spec.json
Due: prettier, eslint

CSCEXAM-1393 Fix feedback open/collapse button
  ui/src/app/review/assessment/feedback/feedback.template.html
Due: prettier

CSCEXAM-1387 Fix exam search tabs keyboard accessibility
  ui/src/app/exam/editor/exam-tabs.component.html
Due: prettier

CSCEXAM-1267 Fix additional issues with language inspector rights
  app/controllers/assessment/ReviewController.java
  ui/src/app/question/library/results/library-results.component.html
  ui/src/app/review/assessment/maturity/grading.component.html
Due: prettier, prettier-java

CSCEXAM-1423 Fix clearing the room passwords
  app/controllers/facility/RoomController.java
Due: prettier-java

CSCEXAM-000 Try adding backpressure for some of the http tasks
  app/services/enrolment/NoShowHandlerImpl.scala
  app/system/jobs/AssessmentTransferService.scala
  app/system/jobs/CollaborativeAssessmentSenderService.scala
  app/system/jobs/ExternalExamExpirationService.scala
Due: none

CSCEXAM-000 Upgrade to ckeditor v47
  package-lock.json
  package.json
  ui/src/app/shared/ckeditor/ckeditor.component.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/cloze-element-helper.service.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/command.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/ui.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/utils.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/view.ts
  ui/src/app/shared/ckeditor/plugins/math/math-element-helper.service.ts
  ui/src/app/shared/ckeditor/plugins/math/math-field.service.ts
  ui/src/app/shared/ckeditor/plugins/math/ui.ts
  ui/src/app/shared/ckeditor/plugins/math/view.ts
Due: prettier, eslint

CSCEXAM-1492 Fix an outdated link in email
  app/impl/mail/EmailComposerImpl.scala
Due: none

CSCEXAM-1518 Make feature flag work for exam questions
  ui/src/app/question/examquestion/exam-question.component.html
  ui/src/app/question/examquestion/exam-question.component.ts
  ui/src/app/question/examquestion/multichoice.component.ts
  ui/src/app/question/examquestion/weighted-multichoice.component.ts
Due: prettier, eslint

CSCEXAM-000 Add backpressure for actors doing http
  app/impl/NoShowHandler.scala
  app/impl/NoShowHandlerImpl.scala
  app/miscellaneous/enrolment/EnrolmentHandlerImpl.java
  app/system/actors/AssessmentTransferActor.scala
  app/system/actors/AutoEvaluationNotifierActor.scala
  app/system/actors/CollaborativeAssessmentSenderActor.scala
  app/system/actors/ExamAutoSaverActor.scala
  app/system/actors/ExternalExamExpirationActor.scala
  app/system/actors/ReservationPollerActor.scala
  app/system/actors/ReservationReminderActor.scala
Due: prettier-java

CSCEXAM-1216 External user check also for roles other than student
  app/controllers/user/SessionController.java
  ui/src/app/interceptors/error-interceptor.ts
  ui/src/app/session/session.service.ts
Due: prettier, prettier-java, eslint

CSCEXAM-1403 Additional tweaks for support role access control
  app/controllers/assessment/QuestionReviewController.java
  app/controllers/base/BaseController.java
  app/controllers/enrolment/ReservationController.java
  ui/src/app/question/library/search/library-search.component.ts
  ui/src/app/reservation/reservations.component.ts
Due: prettier, prettier-java, eslint

CSCEXAM-1484 Reorganize room editing and schedule code
  app/controllers/facility/RoomController.java
  ui/src/app/dashboard/staff/staff.routes.ts
  ui/src/app/facility/facility.component.ts
  ui/src/app/facility/rooms/room-edit.component.html
  ui/src/app/facility/rooms/room-edit.component.ts
  ui/src/app/facility/rooms/room-exceptions-bulk.component.ts
  ui/src/app/facility/rooms/room.component.html
  ui/src/app/facility/rooms/room.component.ts
  ui/src/app/facility/rooms/room.service.ts
  ui/src/app/facility/rooms/rooms.component.html
  ui/src/app/facility/rooms/rooms.component.ts
  ui/src/app/facility/schedule/exception-dialog.component.ts
  ui/src/app/facility/schedule/exceptions.component.ts
Due: prettier, prettier-java, eslint

CSCEXAM-000 Fix failing UI-test
  angular.json
  ui/src/app/app.component.spec.ts
  ui/src/app/shared/select/dropdown-select.component.spec.ts
  ui/src/app/shared/select/dropdown-select.component.ts
  ui/tsconfig.spec.json
Due: prettier, eslint
