Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

prettier:
  tags: frontend style
  run: npx prettier --write {staged_files}

prettier-java:
  tags: backend style
  run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}

eslint:
  tags: frontend rules
  run: npx eslint --fix {staged_files}

CSCEXAM-1370 Fix text area field sizing (#1166)
  ui/src/app/question/question.shared.scss
  ui/src/styles.scss
Due: none

CSCEXAM-1163 Fix examination question hide button accessibility (#1151)
  ui/src/app/enrolment/finished/exam-participation.component.html
  ui/src/app/exam/editor/sections/section-question.component.html
  ui/src/app/examination/question/examination-question.component.html
  ui/src/app/examination/question/examination-question.component.ts
Due: prettier, eslint

Fix unclear exam participant listing and control
  app/controllers/enrolment/EnrolmentController.java
  ui/src/app/enrolment/active/active-enrolment.component.scss
  ui/src/app/exam/editor/basic/exam-owner-picker.component.html
  ui/src/app/exam/editor/publication/collaborative-exam-owner-picker.component.ts
  ui/src/app/exam/editor/publication/exam-participant-picker.component.ts
  ui/src/app/exam/editor/publication/exam-pre-participant-picker.component.ts
  ui/src/app/exam/editor/publication/exam-publication.component.html
  ui/src/app/exam/exam.shared.scss
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
  ui/src/styles.scss
Due: prettier, prettier-java, eslint

CSCEXAM-1369 Fix redirection after importing assessments from csv
  ui/src/app/review/listing/speed-review.component.ts
Due: prettier, eslint

Add fix to inspector picker
  ui/src/app/exam/editor/basic/exam-inspector-picker.component.html
  ui/src/app/exam/editor/basic/exam-inspector-picker.component.ts
  ui/src/app/exam/exam.shared.scss
  ui/src/styles.scss
Due: prettier, eslint

Add exam.shared.scss url to components using this fix
  ui/src/app/exam/editor/basic/exam-inspector-picker.component.ts
  ui/src/app/exam/editor/basic/exam-owner-picker.component.ts
  ui/src/app/exam/editor/publication/collaborative-exam-owner-picker.component.ts
  ui/src/app/exam/editor/publication/exam-participant-picker.component.ts
  ui/src/app/exam/exam.shared.scss
  ui/src/styles.scss
Due: prettier, eslint

CSCEXAM-1367 Fix unclear exam participant listing and control (#1165)
  app/controllers/enrolment/EnrolmentController.java
  ui/src/app/enrolment/active/active-enrolment.component.scss
  ui/src/app/exam/editor/basic/exam-inspector-picker.component.html
  ui/src/app/exam/editor/basic/exam-inspector-picker.component.ts
  ui/src/app/exam/editor/basic/exam-owner-picker.component.html
  ui/src/app/exam/editor/basic/exam-owner-picker.component.ts
  ui/src/app/exam/editor/publication/collaborative-exam-owner-picker.component.ts
  ui/src/app/exam/editor/publication/exam-participant-picker.component.ts
  ui/src/app/exam/editor/publication/exam-pre-participant-picker.component.ts
  ui/src/app/exam/editor/publication/exam-publication.component.html
  ui/src/app/exam/exam.shared.scss
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, prettier-java, eslint

Fix error toast misfires and empty messages
  ui/src/app/facility/facility.component.html
  ui/src/app/facility/rooms/room.component.html
  ui/src/app/facility/rooms/room.component.ts
  ui/src/app/facility/rooms/room.service.ts
  ui/src/app/review/listing/speed-review.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

Minor fix to student maintenance period display
  ui/src/app/calendar/helpers/selected-room.component.ts
Due: prettier, eslint

Add shortens to exam list
  ui/src/app/dashboard/dashboard.model.ts
  ui/src/app/dashboard/staff/teacher/categories/exam-list-category.component.html
  ui/src/app/dashboard/staff/teacher/teacher-dashboard.component.ts
  ui/src/app/shared/sorting/table-sort.component.ts
Due: prettier, eslint

CSCEXAM-1363 Fix error toast misfires and empty messages (#1170)
  ui/src/app/facility/facility.component.html
  ui/src/app/facility/rooms/room.component.html
  ui/src/app/facility/rooms/room.component.ts
  ui/src/app/facility/rooms/room.service.ts
  ui/src/app/review/listing/speed-review.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1150 Minor fix to student maintenance period display (#1171)
  ui/src/app/calendar/helpers/selected-room.component.ts
Due: prettier, eslint

CSCEXAM-1379 Fix exam auto-saving problem - also get rid of one useless error note on UI when canceling an external reservation
  app/system/actors/ExamAutoSaverActor.scala
  ui/src/app/calendar/calendar.component.ts
Due: prettier, eslint

Fix typescript boolean error in exam list
  ui/src/app/dashboard/staff/teacher/categories/exam-list-category.component.html
  ui/src/app/dashboard/staff/teacher/teacher-dashboard.component.ts
  ui/src/app/shared/sorting/table-sort.component.ts
Due: prettier, eslint

CSCEXAM-000 Found minor refactoring problems with collab exams, fixed
  app/system/SystemInitializer.scala
  ui/src/app/exam/editor/publication/exam-participant-picker.component.ts
  ui/src/app/exam/editor/publication/exam-pre-participant-picker.component.ts
  ui/src/app/exam/editor/publication/exam-publication-participants.component.ts
  ui/src/app/exam/editor/publication/exam-publication.component.html
  ui/src/app/review/assessment/collaborative-assessment.service.ts
  ui/src/assets/i18n/fi.json
Due: prettier, eslint

Fix button css on teacher dashboard
  ui/src/app/dashboard/staff/teacher/teacher-dashboard.component.html
Due: prettier

CSCEXAM-1356 Add shortens to exam list (#1172)
  ui/src/app/dashboard/dashboard.model.ts
  ui/src/app/dashboard/staff/teacher/categories/exam-list-category.component.html
  ui/src/app/dashboard/staff/teacher/teacher-dashboard.component.html
  ui/src/app/dashboard/staff/teacher/teacher-dashboard.component.ts
  ui/src/app/shared/sorting/table-sort.component.ts
Due: prettier, eslint

CSCEXAM-000 Bump version to 6.3.1
  build.sbt
  conf/application.conf
  package-lock.json
  package.json
Due: none

CSCEXAM-000 Found minor refactoring problems with collab exams, fixed
  conf/evolutions/default/135.sql
Due: none

CSCEXAM-1384 Fix query param handling with enrolment check api
  app/impl/ExternalCourseHandlerImpl.scala
Due: none

CSCEXAM-1384 Enrolment permission check: change handling of params - query params must not be url encoded before passing to ws client because it re-encodes them while executing requests
  app/impl/ExternalCourseHandlerImpl.java
Due: prettier-java

CSCEXAM-000 Bump version to 6.3.2
  build.sbt
  conf/application.conf
  package-lock.json
  package.json
Due: none

Fix review-inspections buttons
  ui/src/app/maturity/listing/reviewed-inspections.component.html
  ui/src/app/maturity/listing/unfinished-inspections.component.html
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier

CSCEXAM-000 Add translations for new plugin
  .gitignore
  app/controllers/admin/ReportController.java
  app/controllers/assessment/ReviewController.java
  package.json
  ui/src/app/shared/ckeditor/ckeditor.component.ts
  ui/src/app/shared/ckeditor/ckeditor.styles.scss
  ui/src/app/shared/ckeditor/plugins/clozetest/command.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/editing.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/en po
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/en.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/fi.po
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/fi.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/sv.po
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/sv.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/plugin.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/ui.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/utils.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/view.ts
  ui/src/assets/vendor/README.MD
  ui/src/assets/vendor/inspector.js
Due: prettier, prettier-java, eslint

CSCEXAM-000 Take new editor in use everywhere - fix various issues still
  package.json
  ui/src/app/administrative/settings/settings.component.html
  ui/src/app/administrative/settings/settings.component.ts
  ui/src/app/exam/editor/basic/basic-exam-info.component.html
  ui/src/app/exam/editor/basic/basic-exam-info.component.ts
  ui/src/app/examination/question/examination-essay-question.component.ts
  ui/src/app/maturity/maturity.model.ts
  ui/src/app/question/question-basic-info.component.ts
  ui/src/app/question/question.model.ts
  ui/src/app/review/assessment/feedback/feedback.component.ts
  ui/src/app/review/assessment/feedback/statement.component.ts
  ui/src/app/review/assessment/questions/essay-question.component.ts
  ui/src/app/review/listing/dialogs/feedback.component.ts
  ui/src/app/shared/ckeditor/ckeditor.component.ts
  ui/src/app/shared/ckeditor/ckeditor.styles.scss
  ui/src/app/shared/ckeditor/plugins/clozetest/command.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/editing.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/en.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/fi.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/model.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/lang/translations/sv.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/ui.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/utils.ts
  ui/src/app/shared/ckeditor/plugins/clozetest/view.ts
  ui/src/app/shared/miscellaneous/helpers.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/sv.json
  ui/src/assets/vendor/inspector.js
  ui/src/index.html
Due: prettier, eslint

Fix question bank table accessibility
  ui/src/app/question/library/library.component.ts
  ui/src/app/question/library/results/library-results.component.html
  ui/src/app/question/library/search/library-search.component.html
Due: prettier, eslint

Fix question bank table accessibility
  package-lock.json
  package.json
  ui/src/app/question/library/library.component.ts
  ui/src/app/question/library/results/library-results.component.html
  ui/src/app/question/library/search/library-search.component.html
Due: prettier, eslint

Fix new question page keyboard problems
  ui/src/app/question/basequestion/multiple-choice-option.component.ts
  ui/src/app/question/basequestion/multiple-choice.component.ts
  ui/src/app/question/basequestion/weighted-multiple-choice-option.component.ts
  ui/src/app/question/examquestion/multichoice.component.ts
  ui/src/app/question/examquestion/weighted-multichoice.component.ts
Due: prettier, eslint

Remove excess depricated @if
  ui/src/app/question/library/search/library-search.component.html
Due: prettier

CSCEXAM-1390 Fix question bank table accessibility (#1178)
  package-lock.json
  package.json
  ui/src/app/question/library/library.component.ts
  ui/src/app/question/library/results/library-results.component.html
  ui/src/app/question/library/search/library-search.component.html
Due: prettier, eslint

CSCEXAM-1398 Encode query parameters in course search
  app/impl/ExternalCourseHandlerImpl.scala
Due: none

Fix assessment semantic buttons
  ui/src/app/review/assessment/assessment.component.html
  ui/src/app/review/assessment/questions/cloze-test.component.html
  ui/src/app/review/assessment/questions/essay-question.component.html
  ui/src/app/review/assessment/questions/multi-choice-question.component.html
Due: prettier

CSCEXAM-459 External reservation statistics view
  app/controllers/admin/ReportController.java
  app/controllers/iop/transfer/impl/ExternalCalendarController.java
  app/models/enrolment/Reservation.java
  conf/evolutions/default/135.sql
  conf/routes
  ui/src/app/administrative/statistics/categories/exam-statistics.component.ts
  ui/src/app/administrative/statistics/categories/iop-reservation-statistics.component.ts
  ui/src/app/administrative/statistics/statistics.component.html
  ui/src/app/administrative/statistics/statistics.component.ts
  ui/src/app/administrative/statistics/statistics.service.ts
  ui/src/app/reservation/reservation.model.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, prettier-java, eslint

CSCEXAM-459 Fix failing test
  test/controllers/iop/ExternalCalendarInterfaceTest.java
Due: prettier-java

Path conditions:
  prettier: any of: **/*.{ts,html}
  prettier-java: any of: **/*.java
  eslint: any of: **/*.ts
