Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

prettier:
  tags: frontend style
  run: npx prettier --write {staged_files}

prettier-java:
  tags: backend style
  run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}

eslint:
  tags: frontend rules
  run: npx eslint --fix {staged_files}

Remove autofocus from search field Add aria-current to navigation
  ui/src/app/enrolment/finished/exam-participations.component.html
  ui/src/app/navigation/navigation.component.html
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier

CSCEXAM-1242 Remove autofocus from search field (#1093)
  ui/src/app/enrolment/finished/exam-participations.component.html
  ui/src/app/navigation/navigation.component.html
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier

Fix aria-expanded from few buttons Add aria-label to calendar button
  ui/src/app/enrolment/active/active-enrolment.component.html
  ui/src/app/exam/editor/sections/section-question.component.html
  ui/src/app/shared/date/date-picker.component.html
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier

CSCEXAM-1233 Force cloze test answer input to use Finnish locale (#1094)
  app/models/questions/ClozeTestAnswer.java
  app/system/AuditLogger.java
  app/system/SystemRequestHandler.java
  ui/src/app/enrolment/waiting-room/waiting-room.component.ts
  ui/src/app/examination/question/dynamic-cloze-test.component.ts
  ui/src/app/shared/miscellaneous/helpers.ts
Due: prettier, prettier-java, eslint

CSCEXAM-1320 Clear no grade flag when setting a review's grade.
  app/controllers/iop/collaboration/impl/CollaborativeReviewController.java
  conf/routes
Due: prettier-java

CSCEXAM-1320 Scala formatting and linting fixes
  .scalafix.conf
  .scalafmt.conf
  app/controllers/CourseController.scala
  app/controllers/MaintenancePeriodController.java
  app/controllers/MaintenancePeriodController.scala
  app/controllers/ReviewDocumentsController.scala
  app/controllers/assets/FrontendController.scala
  app/controllers/base/BaseController.java
  app/controllers/iop/collaboration/impl/CollaborativeCalendarController.java
  app/security/scala/Auth.scala
  app/security/scala/AuthExecutionContext.scala
  app/system/AppFilters.scala
  app/system/SystemFilter.scala
  app/util/config/ByodConfigHandler.scala
  app/util/scala/JavaApiHelper.scala
  app/util/xml/MoodleXmlExporterImpl.scala
  app/util/xml/MoodleXmlImporterImpl.scala
  build.sbt
  conf/routes
  project/plugins.sbt
Due: prettier-java

CSCEXAM-1320 Convert some modules to scala
  app/controllers/ExaminationController.java
  app/controllers/ReviewController.java
  app/controllers/ReviewDocumentsController.scala
  app/controllers/iop/collaboration/impl/CollaborationController.java
  app/controllers/iop/transfer/impl/ExternalExamController.java
  app/security/scala/Auth.scala
  app/system/App.java
  app/system/App.scala
  app/system/SystemErrorHandler.java
  app/system/SystemErrorHandler.scala
  app/system/actors/ExamAutoSaverActor.java
  app/system/interceptors/JsonFilterAction.java
  app/util/AppUtil.java
  app/util/AppUtil.scala
  app/util/json/JsonDeserializer.java
  app/util/json/JsonDeserializer.scala
  app/util/json/JsonFilter.java
  app/util/json/JsonFilter.scala
  app/util/scala/JavaApiHelper.scala
  test/backend/util/JsonFilterTest.java
Due: prettier-java

CSCEXAM-1294 Fix router link reference in active enrolment menu
  ui/src/app/enrolment/active/helpers/active-enrolment-menu.component.html
Due: prettier

Fix inconsistent shared question property info
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/app/question/examquestion/exam-question.component.html
Due: prettier

CSCEXAM-000 Migrate modules to scala
  app/system/modules/ByodConfigModule.java
  app/system/modules/ByodConfigModule.scala
  app/system/modules/ConfigReaderModule.java
  app/system/modules/ConfigReaderModule.scala
  app/system/modules/DateTimeHandlerModule.java
  app/system/modules/DateTimeHandlerModule.scala
  app/system/modules/ExcelBuilderModule.java
  app/system/modules/ExcelBuilderModule.scala
  app/system/modules/FileHandlerModule.java
  app/system/modules/FileHandlerModule.scala
  app/system/modules/MoodleXmlConverterModule.java
  app/system/modules/MoodleXmlConverterModule.scala
Due: prettier-java

CSCEXAM-1215 Fix inconsistent shared question property info (#1097)
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/app/question/examquestion/exam-question.component.html
Due: prettier

CSCEXAM-1246 Fix screen reader stopping at enrolment instructions (#1092)
  ui/src/app/enrolment/active/active-enrolment.component.html
Due: prettier

CSCEXAM-1301 Show score report also for archived exams
  ui/src/app/enrolment/finished/exam-answers-dialog.component.html
  ui/src/app/enrolment/finished/exam-feedback.component.html
Due: prettier

Fix history button focus
  ui/src/app/shared/components/page-header.component.ts
  ui/src/app/shared/history/history-back.component.ts
Due: prettier, eslint

CSCEXAM-1302 Fix timezone problems with reservations list - Add audit logger for scala controllers
  app/controllers/CourseController.scala
  app/controllers/MaintenancePeriodController.scala
  app/controllers/ReservationController.java
  app/system/AuditedAction.scala
  app/util/scala/JavaApiHelper.scala
Due: prettier-java

CSCEXAM-1325 Fix drag&drop for exam sections
  ui/src/app/exam/editor/sections/sections.component.html
  ui/src/app/exam/editor/sections/sections.component.scss
  ui/src/app/exam/editor/sections/sections.component.ts
Due: prettier, eslint

CSCEXAMS-000 Convert actors to scala
  app/controllers/CourseController.scala
  app/controllers/MaintenancePeriodController.scala
  app/controllers/ReviewDocumentsController.scala
  app/controllers/iop/collaboration/impl/CollaborativeExamSectionController.java
  app/system/actors/ExamAutoSaverActor.java
  app/system/actors/ExamAutoSaverActor.scala
  app/system/actors/ExamExpirationActor.java
  app/system/actors/ExamExpirationActor.scala
  app/system/actors/ExternalExamExpirationActor.java
  app/system/actors/ExternalExamExpirationActor.scala
  app/system/actors/ReservationPollerActor.java
  app/system/actors/ReservationPollerActor.scala
  app/system/actors/ReservationReminderActor.java
  app/system/actors/ReservationReminderActor.scala
  app/util/scala/DbApiHelper.scala
  app/util/scala/JavaApiHelper.scala
  ui/src/app/question/basequestion/question-body.component.html
Due: prettier, prettier-java

CSCEXAM-1325 Fix updating sequnce numbers when section removed
  app/controllers/iop/collaboration/impl/CollaborativeExamSectionController.java
Due: prettier-java

CSCEXAM-1325 Fix merging error
  app/controllers/CourseController.scala
  app/controllers/MaintenancePeriodController.scala
  app/util/scala/JavaApiHelper.scala
Due: none

CSCEXAM-1325 Fix drag&drop for exam sections (#1102)
  app/controllers/CourseController.scala
  app/controllers/MaintenancePeriodController.scala
  app/controllers/ReviewDocumentsController.scala
  app/controllers/iop/collaboration/impl/CollaborativeExamSectionController.java
  app/system/actors/ExamAutoSaverActor.java
  app/system/actors/ExamAutoSaverActor.scala
  app/system/actors/ExamExpirationActor.java
  app/system/actors/ExamExpirationActor.scala
  app/system/actors/ExternalExamExpirationActor.java
  app/system/actors/ExternalExamExpirationActor.scala
  app/system/actors/ReservationPollerActor.java
  app/system/actors/ReservationPollerActor.scala
  app/system/actors/ReservationReminderActor.java
  app/system/actors/ReservationReminderActor.scala
  app/util/scala/DbApiHelper.scala
  app/util/scala/JavaApiHelper.scala
  ui/src/app/exam/editor/sections/sections.component.html
  ui/src/app/exam/editor/sections/sections.component.scss
  ui/src/app/exam/editor/sections/sections.component.ts
  ui/src/app/question/basequestion/question-body.component.html
Due: prettier, prettier-java, eslint

CSCEXAM-1248 Fix aria-expanded from few buttons (#1099)
  ui/src/app/enrolment/active/active-enrolment.component.html
  ui/src/app/exam/editor/sections/section-question.component.html
  ui/src/app/shared/date/date-picker.component.html
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier

CSCEXAM-1251 Fix history button focus (#1100)
  ui/src/app/shared/components/page-header.component.ts
  ui/src/app/shared/history/history-back.component.ts
Due: prettier, eslint

Fix main menu keyboard usage
  ui/src/app/navigation/navigation.component.html
  ui/src/app/navigation/navigation.component.scss
Due: prettier

CSCEXAM-1249 Fix main menu keyboard usage (#1106)
  ui/src/app/navigation/navigation.component.html
  ui/src/app/navigation/navigation.component.scss
Due: prettier

CSCEXAM-1203 Fix date formatting - Email about being added as parcipant to a BYOD
  app/impl/EmailComposerImpl.java
  ui/src/app/exam/editor/creation/course-selection.component.html
Due: prettier, prettier-java

Fix streched buttons on course selection component
  ui/src/app/exam/editor/creation/course-selection.component.html
Due: prettier

CSCEXAM-000 Fix streched buttons on course selection component (#1111)
  ui/src/app/exam/editor/creation/course-selection.component.html
Due: prettier

CSCEXAM-1249 Fix main menu keyboard usage (#1106)
  ui/src/app/enrolment/active/helpers/active-enrolment-menu.component.html
  ui/src/app/enrolment/finished/exam-participations.component.html
  ui/src/app/enrolment/search/collaborative-exam-search.component.ts
  ui/src/app/enrolment/search/exam-search.component.ts
  ui/src/app/navigation/navigation.component.html
  ui/src/app/navigation/navigation.component.scss
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

Add new edit-content-warning for multi-choise
  ui/src/app/question/basequestion/multiple-choice.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1215 Add new edit-content-warning for multi-choise (#1107)
  ui/src/app/question/basequestion/multiple-choice.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

Path conditions:
  prettier: any of: **/*.{ts,html}
  prettier-java: any of: **/*.java
  eslint: any of: **/*.ts
