Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

prettier:
  tags: frontend style
  run: npx prettier --write {staged_files}

prettier-java:
  tags: backend style
  run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}

eslint:
  tags: frontend rules
  run: npx eslint --fix {staged_files}

CSCEXAM-1579 Fixed attachment addition signaling
  ui/src/app/review/assessment/feedback/feedback.component.ts
  ui/src/app/review/assessment/feedback/statement.component.ts
Due: prettier, eslint

CSCEXAM-1582 Fixed UI redirection logic
  CLAUDE.md
  ui/src/app/session/session-login-redirect.spec.ts
  ui/src/app/session/session.service.ts
Due: prettier, eslint

CSCEXAM-1604 Changed external reservation mgmt
  app/features/enrolment/controllers/ReservationController.scala
  app/features/enrolment/services/ReservationError.scala
  app/features/enrolment/services/ReservationService.scala
  app/services/mail/EmailComposerImpl.scala
  conf/messages.en
  conf/messages.fi
  conf/messages.sv
  test/iop/ExternalCalendarInterfaceSpec.scala
  ui/src/app/reservation/reservation-details.component.spec.ts
  ui/src/app/reservation/reservation-details.component.ts
Due: prettier, eslint

CSCEXAM-1645 Fixed course code prefix parsing
  ui/src/app/shared/miscellaneous/course-code.service.spec.ts
  ui/src/app/shared/miscellaneous/course-code.service.ts
Due: prettier, eslint

CSCEXAM-1591 Changed button behaviors
  ui/src/app/enrolment/enrolment.service.ts
  ui/src/app/enrolment/search/exam-search-result.component.spec.ts
  ui/src/app/enrolment/search/exam-search-result.component.ts
  ui/src/app/enrolment/search/exam-search.component.spec.ts
  ui/src/app/enrolment/search/exam-search.component.ts
Due: prettier, eslint

CSCEXAM-508 Fixed horizontal overflow of ckeditor
  ui/src/app/exam/editor/sections/section-question.component.html
  ui/src/app/examination/question/examination-question.component.scss
  ui/src/styles.scss
Due: prettier

CSCEXAM-1564 Tuned slot selection criteria
  app/controllers/enrolment/ReservationController.java
  test/controllers/ReservationControllerTest.java
Due: prettier-java

CSCEXAM-1564 Offered both slots on machine change
  app/controllers/enrolment/ReservationController.java
  test/controllers/ReservationControllerTest.java
  ui/src/app/reservation/admin/change-machine-dialog.component.ts
Due: prettier, prettier-java, eslint

CSCEXAM-1564 Changed allocation of slots
  app/features/enrolment/controllers/ReservationController.scala
  app/features/enrolment/services/ReservationError.scala
  app/features/enrolment/services/ReservationService.scala
  test/enrolment/ReservationControllerSpec.scala
  ui/src/app/reservation/admin/change-machine-dialog.component.ts
Due: prettier, eslint

CSCEXAM-1581 Modified cloze test instructions
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: none

CSCEXAM-1592 Disabled cke-link adding for students
  app/validation/core/HtmlSafelist.scala
  test/validation/HtmlSafelistSpec.scala
  ui/src/app/examination/question/examination-essay-question.component.html
  ui/src/app/shared/ckeditor/ckeditor-content-filtering.spec.ts
  ui/src/app/shared/ckeditor/ckeditor.component.ts
Due: prettier, eslint

CSCEXAM-1564 Fixed DST handling in slot listing
  app/controllers/enrolment/ReservationController.java
  test/controllers/ReservationControllerTest.java
Due: prettier-java

CSCEXAM-1574 Adjusted support cke5 tools
  app/validation/core/HtmlSafelist.scala
  ui/src/app/examination/question/examination-question.component.html
  ui/src/app/examination/question/examination-question.component.scss
  ui/src/app/examination/question/examination-question.component.ts
  ui/src/app/question/library/library.component.scss
  ui/src/app/question/library/results/library-results.component.html
  ui/src/styles.scss
Due: prettier, eslint

CSCEXAM-1587 Fixed revision handling
  app/features/iop/collaboration/controllers/CollaborativeReviewController.scala
  build.sbt
  test/functional/ByodConfigHandlerSpec.scala
  test/iop/CollaborativeReviewRevisionSpec.scala
  ui/src/app/review/assessment/questions/cloze-test.component.ts
  ui/src/app/review/assessment/questions/essay-question.component.ts
  ui/src/app/review/assessment/questions/multi-choice-question.component.ts
Due: prettier, eslint

CSCEXAM-1595 Fixed tag handling on question import
  app/features/iop/transfer/services/DataTransferService.scala
  app/features/question/services/QuestionService.scala
  test/iop/DataTransferControllerSpec.scala
Due: none

CSCEXAM-1642 Fixed feedback modal styling
  ui/src/app/review/assessment/feedback/feedback.component.scss
  ui/src/app/review/assessment/feedback/feedback.template.html
Due: prettier

CSCEXAM-1639 Fixed BYOD section optionality
  app/features/exam/controllers/ExamController.scala
  app/models/exam/Exam.scala
  app/repository/ExaminationRepository.scala
  test/examination/ExaminationControllerSpec.scala
  test/functional/ExamCopySpec.scala
  ui/src/app/dashboard/staff/teacher/categories/exam-list-category.component.ts
  ui/src/app/exam/editor/common/examination-type-picker.component.ts
  ui/src/app/exam/listing/exam-list.component.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1639 Tied section updates to their own exam
  app/features/exam/services/ExamSectionService.scala
  app/system/interceptors/AnonymousJsonFilter.scala
  test/exam/ExamSectionOptionalitySpec.scala
Due: none

CSCEXAM-1644 Fixed default ordering of questions
  app/features/question/services/QuestionService.scala
  ui/src/app/question/library/results/library-results.component.ts
  ui/src/app/question/question.model.ts
Due: prettier, eslint

CSCEXAM-1643 Improved UX of question attachments
  ui/src/app/exam/editor/sections/section-question.component.ts
  ui/src/app/exam/editor/sections/section.component.ts
  ui/src/app/question/editor/common/additional-info.component.html
  ui/src/app/question/editor/common/additional-info.component.spec.ts
  ui/src/app/question/editor/common/additional-info.component.ts
  ui/src/app/question/question-attachment-save.spec.ts
  ui/src/app/question/question.service.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

CSCEXAM-1641 Fixed optional section UI issues
  ui/src/app/calendar/helpers/optional-sections.component.ts
  ui/src/app/enrolment/active/helpers/optional-sections.component.ts
Due: prettier, eslint

CSCEXAM-1640 Fixed responsiveness problems
  ui/src/app/review/assessment/questions/claim-choice-answer.component.ts
  ui/src/app/review/assessment/questions/multi-choice-answer.component.ts
  ui/src/app/review/assessment/questions/weighted-multi-choice-answer.component.ts
Due: prettier, eslint

CSCEXAM-1635 Fixed no-show checking for BYODs
  app/services/enrolment/EnrolmentHandlerImpl.scala
  ui/src/app/reservation/reservation-details.component.ts
  ui/src/app/reservation/reservation.service.spec.ts
  ui/src/app/reservation/reservation.service.ts
Due: prettier, eslint

CSCEXAM-1638 Fixed clearing a grade
  app/features/assessment/services/ReviewService.scala
  test/assessment/ReviewControllerSpec.scala
  ui/src/app/review/assessment/common/grading-base.component.ts
Due: prettier, eslint

CSCEXAM-1654 Optimized reservation api
  app/features/integration/controllers/ReservationAPIController.scala
  app/features/integration/services/ReservationAPIService.scala
  conf/evolutions/default/147.sql
Due: none

CSCEXAM-000 Bump version to 3.4.4 + audit
  build.sbt
  conf/application.conf
  package-lock.json
  package.json
Due: none

CSCEXAM-000 Removed hard-coded LTI constants
  app/features/lti/controllers/LtiController.scala
  app/features/lti/services/LtiService.scala
  conf/application.conf
  conf/dev.conf
  conf/routes
  ui/src/app/examination/examination.service.ts
  ui/src/app/examination/question/examination-lti-question.component.ts
Due: prettier, eslint

CSCEXAM-1595 Fixed tag handling on question import
  app/features/iop/collaboration/controllers/CollaborativeAttachmentController.scala
  app/features/iop/transfer/services/DataTransferService.scala
  app/features/question/services/QuestionService.scala
  test/iop/DataTransferControllerSpec.scala
Due: none

Path conditions:
  prettier: any of: **/*.{ts,html}
  prettier-java: any of: **/*.java
  eslint: any of: **/*.ts
