Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

prettier:
  tags: frontend style
  run: npx prettier --write {staged_files}

prettier-java:
  tags: backend style
  run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}

eslint:
  tags: frontend rules
  run: npx eslint --fix {staged_files}

CSCEXAM-1403 Additional tweaks for support role access control
  app/controllers/assessment/QuestionReviewController.java
  app/controllers/base/BaseController.java
  app/controllers/enrolment/ReservationController.java
  ui/src/app/question/library/search/library-search.component.ts
  ui/src/app/reservation/reservations.component.ts
Due: prettier, prettier-java, eslint

CSCEXAM-1484 Reorganize room editing and schedule code
  app/controllers/facility/RoomController.java
  ui/src/app/dashboard/staff/staff.routes.ts
  ui/src/app/facility/facility.component.ts
  ui/src/app/facility/rooms/room-edit.component.html
  ui/src/app/facility/rooms/room-edit.component.ts
  ui/src/app/facility/rooms/room-exceptions-bulk.component.ts
  ui/src/app/facility/rooms/room.component.html
  ui/src/app/facility/rooms/room.component.ts
  ui/src/app/facility/rooms/room.service.ts
  ui/src/app/facility/rooms/rooms.component.html
  ui/src/app/facility/rooms/rooms.component.ts
  ui/src/app/facility/schedule/exception-dialog.component.ts
  ui/src/app/facility/schedule/exceptions.component.ts
  ui/src/app/facility/schedule/opening-hours.component.ts
  ui/src/app/facility/schedule/starting-time.component.ts
  ui/src/app/shared/date/date.service.ts
  ui/src/app/shared/date/day-diff.pipe.ts
  ui/src/app/shared/date/minute-diff.pipe.ts
  ui/src/app/shared/miscellaneous/helpers.ts
  ui/src/app/shared/paginator/page-fill.pipe.ts
  ui/src/app/shared/paginator/paginator.component.ts
  ui/src/app/shared/seb/seb-api.service.ts
Due: prettier, prettier-java, eslint

CSCEXAM-1393 Fix feedback open/collapse button
  ui/src/app/review/assessment/feedback/feedback.template.html
Due: prettier

CSCEXAM-1387 Fix exam search tabs keyboard accessibility
  ui/src/app/exam/editor/exam-tabs.component.html
Due: prettier

CSCEXAM-1267 Fix additional issues with language inspector rights
  app/features/assessment/services/ReviewService.scala
  app/services/mail/EmailComposerImpl.scala
  ui/src/app/question/library/results/library-results.component.html
  ui/src/app/review/assessment/maturity/grading.component.html
Due: prettier

CSCEXAM-1492 Fix an outdated link in email
  app/services/mail/EmailComposerImpl.scala
Due: none

CSCEXAM-1216 External user check also for roles other than student
  app/features/user/controllers/SessionController.scala
  app/features/user/services/SessionService.scala
  ui/src/app/interceptors/error-interceptor.ts
  ui/src/app/session/session.service.ts
Due: prettier, eslint

CSCEXAM-1403 Additional tweaks for support role access control
  app/features/assessment/controllers/QuestionReviewController.scala
  app/features/enrolment/services/ReservationService.scala
  app/system/interceptors/AnonymousHandler.scala
  ui/src/app/question/library/search/library-search.component.ts
  ui/src/app/reservation/reservations.component.ts
Due: prettier, eslint

CSCEXAM-1484 Reorganize room editing and scheduling code
  app/features/facility/services/RoomService.scala
  ui/src/app/dashboard/staff/staff.routes.ts
  ui/src/app/facility/facility.component.ts
  ui/src/app/facility/rooms/room-edit.component.html
  ui/src/app/facility/rooms/room-edit.component.ts
  ui/src/app/facility/rooms/room-exceptions-bulk.component.ts
  ui/src/app/facility/rooms/room.component.html
  ui/src/app/facility/rooms/room.component.ts
  ui/src/app/facility/rooms/room.service.ts
  ui/src/app/facility/rooms/rooms.component.ts
  ui/src/app/facility/schedule/exception-dialog.component.ts
  ui/src/app/facility/schedule/exceptions.component.ts
Due: prettier, eslint

CSCEXAM-000 Update fullcalendar
  app/features/user/services/SessionData.scala
  package-lock.json
  package.json
  ui/src/app/facility/rooms/room-edit.component.html
  ui/src/app/interceptors/auth-interceptor.ts
  ui/src/app/interceptors/auth.interceptor.ts
  ui/src/app/interceptors/error-interceptor.ts
  ui/src/app/interceptors/error.interceptor.ts
  ui/src/app/interceptors/examination-interceptor.ts
  ui/src/app/interceptors/examination.interceptor.ts
  ui/src/app/interceptors/index.ts
  ui/src/main.ts
Due: prettier, eslint

lti score
  app/controllers/JwksController.java
  app/controllers/examination/ExaminationController.java
  app/models/questions/Question.java
  app/models/sections/ExamSectionQuestion.java
  conf/routes
  ui/src/app/exam/exam.service.ts
  ui/src/app/examination/instructions/answer-instructions.component.ts
  ui/src/app/examination/question/examination-lti-question.component.ts
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/app/question/library/results/library-results.component.html
  ui/src/app/question/library/results/library-results.component.ts
  ui/src/app/question/question-basic-info.component.ts
  ui/src/app/question/question-scoring.service.ts
  ui/src/app/question/question.service.ts
  ui/src/app/review/assessment/assessment.service.ts
  ui/src/app/review/assessment/questions/lti-question.component.html
  ui/src/app/review/assessment/questions/lti-question.component.ts
  ui/src/app/review/assessment/sections/section.component.html
  ui/src/app/review/assessment/sections/section.component.ts
Due: prettier, prettier-java, eslint

lti score
  conf/evolutions/default/143.sql
  ui/src/app/question/basequestion/question-body.component.ts
Due: prettier, eslint

Delete ui/src/app/question/.DS_Store
  ui/src/app/question/.DS_Store
Due: none

lti score
  ui/src/app/question/basequestion/question-body.component.ts
Due: prettier, eslint

CSCEXAM-000 Dynamic cloze test component using direct DOM mutation
  ui/src/app/examination/question/dynamic-cloze-test.component.ts
  ui/src/app/examination/question/examination-question.component.ts
  ui/src/main.ts
Due: prettier, eslint

CSCEXAM-1528 Fix permission check for question review
  app/controllers/assessment/QuestionReviewController.java
Due: prettier-java

CSCEXAM-1267 Enable adding registry info for rejected assessments
  app/controllers/assessment/ReviewController.java
  ui/src/app/review/assessment/assessment.service.ts
  ui/src/assets/i18n/fi.json
Due: prettier, prettier-java, eslint

CSCEXAM-1010 Display no-shows in Report API
  app/controllers/integration/ReportAPIController.java
Due: prettier-java

CSCEXAM-1484 Add missing translations
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: none

CSCEXAM-105 Fix email template content
  app/impl/mail/EmailComposerImpl.scala
  app/models/exam/Exam.java
Due: prettier-java

CSCEXAM-1216 Fix some problems with single role users
  app/controllers/user/SessionController.java
Due: prettier-java

CSCEXAM-1216 Restore original login logic - external account users may only login as students
  app/controllers/user/SessionController.java
  ui/src/app/session/eula/external-login-confirmation-dialog.component.ts
Due: prettier, prettier-java, eslint

CSCEXAM-1216 Add only student role for new external users
  app/controllers/user/SessionController.java
Due: prettier-java

demo settings
  conf/application.conf
  ui/src/app/examination/examination.component.ts
  ui/src/app/examination/examination.service.ts
  ui/src/app/examination/question/examination-lti-question.component.ts
  ui/src/app/examination/question/examination-question.component.html
  ui/src/app/review/assessment/questions/lti-question.component.html
Due: prettier, eslint

Update build badge to point to master branch
  README.md
Due: none

Fix build badge link in README.md
  README.md
Due: none

CSCEXAM-1400 New error view for external visiting students - in case of unknown computer used for login redirect to new view
  app/controllers/user/SessionController.java
  app/miscellaneous/config/ConfigReader.scala
  app/miscellaneous/config/ConfigReaderImpl.scala
  app/repository/EnrolmentRepository.java
  test/controllers/iop/ExternalCalendarInterfaceTest.java
  ui/src/app/app.routes.ts
  ui/src/app/enrolment/wrong-location/unknown-location.component.html
  ui/src/app/enrolment/wrong-location/unknown-location.component.ts
  ui/src/app/interceptors/error-interceptor.ts
  ui/src/app/interceptors/examination-interceptor.ts
  ui/src/app/navigation/navigation.service.ts
  ui/src/app/session/session.service.ts
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, prettier-java, eslint

Path conditions:
  prettier: any of: **/*.{ts,html}
  prettier-java: any of: **/*.java
  eslint: any of: **/*.ts
