Repository CSCfi/exam: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, prettier-java, eslint

lefthook.yml:

pre-commit:
  commands:
    prettier:
      tags: frontend style
      glob: "**/*.{ts,html}"
      run: npx prettier --write {staged_files}
    prettier-java:
      tags: backend style
      glob: "**/*.java"
      run: npx prettier --write --plugin=prettier-plugin-java --print-width=120 --tab-width=4 {staged_files}
    eslint:
      tags: frontend rules
      glob: "**/*.ts"
      run: npx eslint --fix {staged_files}

CSCEXAM-1276 Fix getReviewProgress (#1132)
  ui/src/app/review/assessment/sections/section.component.ts
Due: prettier, eslint

CSCEXAM-1142 Add aria-label to main menu collapse button (#1133)
  ui/src/app/navigation/navigation.component.html
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier

CSCEXAM-1339 Fix bug with reservation checker actor
  app/system/actors/ReservationPollerActor.scala
Due: none

CSCEXAM-1286 Clean question owners for collab exam
  app/controllers/iop/collaboration/impl/CollaborativeExamSectionController.java
Due: prettier-java

CSCEXAM-478 Fixes for non-restrictive exception event handling
  app/util/datetime/DateTimeHandlerImpl.java
Due: prettier-java

CSCEXAM-1325 Enhancements for drag/drop of sections and questions
  ui/src/app/exam/editor/sections/section-question.component.html
  ui/src/app/exam/editor/sections/section-question.component.ts
  ui/src/app/exam/editor/sections/section.component.html
  ui/src/app/exam/editor/sections/section.component.scss
  ui/src/app/exam/editor/sections/section.component.ts
  ui/src/app/exam/editor/sections/sections.component.html
  ui/src/app/exam/editor/sections/sections.component.scss
  ui/src/app/exam/editor/sections/sections.shared.scss
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fi.json
  ui/src/assets/i18n/sv.json
Due: prettier, eslint

Create codeql.yml
  .github/workflows/codeql.yml
Due: none

CSCEXAM-1204 Fix min date mechanism for date-time-picker - Use it for restricting examination event dates
  ui/src/app/exam/editor/events/examination-event-dialog.component.html
  ui/src/app/exam/editor/events/examination-event-dialog.component.ts
  ui/src/app/exam/editor/publication/exam-publication.component.ts
  ui/src/app/shared/date/date-time-picker.component.ts
Due: prettier, eslint

CSCEXAM-1291 Remove error dialog when canceling a modal window
  ui/src/app/enrolment/enrolment.service.ts
  ui/src/app/facility/facility.component.ts
  ui/src/app/navigation/navigation.component.html
Due: prettier, eslint

Add semantic header to page-header.component
  ui/src/app/shared/components/page-header.component.ts
Due: prettier, eslint

Add clear focus to buttons and update button styles to use bootstrap
  ui/src/app/dashboard/staff/teacher/teacher-dashboard.component.html
  ui/src/app/enrolment/active/dialogs/show-instructions-dialog.component.ts
  ui/src/app/enrolment/exams/exam-enrolment-details.component.html
  ui/src/app/enrolment/finished/exam-answers-dialog.component.html
  ui/src/app/enrolment/search/exam-search-result.component.ts
  ui/src/app/exam/editor/assessment/auto-evaluation.component.html
  ui/src/app/exam/editor/assessment/exam-assessment.component.html
  ui/src/app/exam/editor/assessment/exam-feedback-config.component.html
  ui/src/app/exam/editor/basic/basic-exam-info.component.html
  ui/src/app/exam/editor/creation/new-exam.component.html
  ui/src/app/exam/editor/publication/exam-publication.component.html
  ui/src/app/exam/editor/publication/publication-error-dialog.component.ts
  ui/src/app/exam/editor/sections/exam-material.component.html
  ui/src/app/exam/editor/sections/section.component.html
  ui/src/app/exam/editor/sections/sections.component.html
  ui/src/app/examination/header/examination-header.component.ts
  ui/src/app/examination/navigation/examination-toolbar.component.html
  ui/src/app/maturity/dialogs/inspection-statement-dialog.component.ts
  ui/src/app/maturity/reporting/maturity-reporting.component.html
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/app/question/basequestion/question.component.html
  ui/src/app/question/examquestion/exam-question.component.html
  ui/src/app/question/library/export/library-transfer-dialog.component.html
  ui/src/app/question/library/library.component.ts
  ui/src/app/question/library/owners/library-owners-dialog.component.ts
  ui/src/app/question/library/tags/library-tags-dialog.component.ts
  ui/src/app/question/picker/question-picker.component.ts
  ui/src/app/review/assessment/assessment.component.html
  ui/src/app/review/assessment/grading/toolbar.component.ts
  ui/src/app/review/assessment/maturity/inspection-comments.component.ts
  ui/src/app/review/assessment/maturity/toolbar.component.ts
  ui/src/app/review/listing/categories/graded-logged.component.html
  ui/src/app/review/listing/categories/graded.component.html
  ui/src/app/review/listing/categories/in-progress.component.html
  ui/src/app/review/listing/dialogs/no-shows.component.html
  ui/src/app/session/dev/dev-login.component.ts
  ui/src/styles.scss
Due: prettier, eslint

CSCEXAM-1174 Add semantic header to page-header.component (#1142)
  ui/src/app/shared/components/page-header.component.ts
Due: prettier, eslint

CSCEXAM-1172 Add clear focus to buttons and update button styles to use bootstrap (#1143)
  ui/src/app/dashboard/staff/teacher/teacher-dashboard.component.html
  ui/src/app/enrolment/active/dialogs/show-instructions-dialog.component.ts
  ui/src/app/enrolment/exams/exam-enrolment-details.component.html
  ui/src/app/enrolment/finished/exam-answers-dialog.component.html
  ui/src/app/enrolment/search/exam-search-result.component.ts
  ui/src/app/exam/editor/assessment/auto-evaluation.component.html
  ui/src/app/exam/editor/assessment/exam-assessment.component.html
  ui/src/app/exam/editor/assessment/exam-feedback-config.component.html
  ui/src/app/exam/editor/basic/basic-exam-info.component.html
  ui/src/app/exam/editor/creation/new-exam.component.html
  ui/src/app/exam/editor/publication/exam-publication.component.html
  ui/src/app/exam/editor/publication/publication-error-dialog.component.ts
  ui/src/app/exam/editor/sections/exam-material.component.html
  ui/src/app/exam/editor/sections/section.component.html
  ui/src/app/exam/editor/sections/sections.component.html
  ui/src/app/examination/header/examination-header.component.ts
  ui/src/app/examination/navigation/examination-toolbar.component.html
  ui/src/app/maturity/dialogs/inspection-statement-dialog.component.ts
  ui/src/app/maturity/reporting/maturity-reporting.component.html
  ui/src/app/question/basequestion/question-body.component.html
  ui/src/app/question/basequestion/question.component.html
  ui/src/app/question/examquestion/exam-question.component.html
  ui/src/app/question/library/export/library-transfer-dialog.component.html
  ui/src/app/question/library/library.component.ts
  ui/src/app/question/library/owners/library-owners-dialog.component.ts
  ui/src/app/question/library/tags/library-tags-dialog.component.ts
  ui/src/app/question/picker/question-picker.component.ts
  ui/src/app/review/assessment/assessment.component.html
  ui/src/app/review/assessment/grading/toolbar.component.ts
  ui/src/app/review/assessment/maturity/inspection-comments.component.ts
  ui/src/app/review/assessment/maturity/toolbar.component.ts
  ui/src/app/review/listing/categories/graded-logged.component.html
  ui/src/app/review/listing/categories/graded.component.html
  ui/src/app/review/listing/categories/in-progress.component.html
  ui/src/app/review/listing/dialogs/no-shows.component.html
  ui/src/app/session/dev/dev-login.component.ts
  ui/src/styles.scss
Due: prettier, eslint

CSCEXAM-1350 Try improving performance of room statistic fetching
  app/controllers/ReportController.java
  ui/src/app/administrative/statistics/categories/room-statistics.component.ts
  ui/src/app/administrative/statistics/statistics.service.ts
Due: prettier, prettier-java, eslint

Add owner column in question library search for teacher
  ui/src/app/question/library/results/library-results.component.html
Due: prettier

Move period after link
  ui/src/app/question/library/results/library-results.component.html
Due: prettier

CSCEXAM-1212 Add owner column in question library search for teacher (#1145)
  ui/src/app/question/library/results/library-results.component.html
Due: prettier

Add undefined and null check for assesment progress calculations
  ui/src/app/review/assessment/sections/section.component.ts
Due: prettier, eslint

Add aria expanded to menu
  ui/src/app/navigation/navigation.component.html
  ui/src/assets/i18n/fi.json
Due: prettier

CSCEXAM-1350 Optimize rest of the statistics services
  app/controllers/ReportController.java
  ui/src/app/administrative/statistics/categories/exam-statistics.component.ts
  ui/src/app/administrative/statistics/categories/reservation-statistics.component.ts
  ui/src/app/administrative/statistics/categories/response-statistics.component.ts
  ui/src/app/administrative/statistics/statistics.service.ts
Due: prettier, prettier-java, eslint

Fix getReviewProgress to use isNumber
  ui/src/app/review/assessment/sections/section.component.ts
Due: prettier, eslint

CSCEXAM-478 Fix handling of extra opening hours that go past week
  app/controllers/MaintenancePeriodController.scala
  ui/src/app/calendar/calendar.service.ts
Due: prettier, eslint

CSCEXAM-1276 Add undefined and null check for assesment progress calculations (#1146)
  ui/src/app/review/assessment/sections/section.component.ts
Due: prettier, eslint

CSCEXAM-1249 Add aria expanded to menu (#1147)
  ui/src/app/navigation/navigation.component.html
  ui/src/assets/i18n/fi.json
Due: prettier

CSCEXAM-1130 Swedish language package for EXAM 6.3
  conf/messages.sv
Due: none

Fix examination question hide button accessibility
  ui/src/app/enrolment/finished/exam-participation.component.html
  ui/src/app/exam/editor/sections/section-question.component.html
  ui/src/app/examination/question/examination-question.component.html
  ui/src/app/examination/question/examination-question.component.ts
Due: prettier, eslint

CSCEXAM-1300 Fix setting collab exams as no-shows
  app/impl/NoShowHandlerImpl.java
Due: prettier-java

Replace Regex with .replace
  ui/src/app/examination/question/examination-question.component.ts
Due: prettier, eslint

Fix Schematic header tag
  ui/src/app/enrolment/exams/exam-enrolment-details.component.html
  ui/src/app/enrolment/exams/exam-enrolments.component.ts
Due: prettier, eslint

Fix history button stretch issue
  ui/src/app/exam/editor/exam-tabs.component.html
  ui/src/app/question/basequestion/question.component.html
  ui/src/app/shared/history/history-back.component.ts
Due: prettier, eslint

CSCEXAM-1130 Swedish language package for EXAM 6.3 (#1152)
  conf/messages.sv
Due: none
